-var navLinks = [{link: '#jobs', name: 'Что там по вакансиям?'}, {link: '#stack', name: 'Стек'}, {link: '#how', name: 'Как мы работаем'}, {link: '#about', name: 'О нас'}]
header.header#header
    <!--Logo-->
    .header__logo
        a(href="index.html" target="_self" title="ROWI").header__link
            picture.header__frame
                source(media="(min-width: 768px)" srcset="static/images/content/logo-desktop.svg" width="172" height="42")
                img(src="static/images/content/logo-mobile.svg" alt="ROWI logo" width="98" height="24").header__frame-image
    <!--Nav-->
    nav.header__nav.nav
        ul.nav__list
            for i in navLinks
                li.nav__item
                    a(href="" +i.link target="_self" title="" +i.name).nav__link=i.name
        a(href="#jobs" target="_self" title="Вакансии").nav__jobs
            span Хочу в команду
            
            svg(class="nav__jobs-underline-1440" width="158" height="12" viewBox="0 0 158 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.990234 0.964844L157.01 2.92638L2.96523 6.16177C25.2924 8.26177 31.2029 8.931 53.5445 11.0356" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            
            svg(class="nav__jobs-underline-tb" width="288" height="24" viewBox="0 0 288 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M0.797951 1.9158C0.805675 1.36357 1.26274 0.922115 1.81883 0.929786L286.21 4.85286C286.759 4.86043 287.2 5.30306 287.203 5.84811C287.206 6.39316 286.768 6.83985 286.219 6.8525L21.1936 12.96C33.162 14.2149 42.381 15.2071 51.6011 16.1997L51.9471 16.237C64.7031 17.6104 77.5269 18.9911 97.7042 21.0766C98.2574 21.1338 98.6591 21.6254 98.6015 22.1747C98.544 22.7241 98.0489 23.123 97.4957 23.0659C77.3142 20.9799 64.487 19.5988 51.7303 18.2254L51.384 18.1881C38.5134 16.8024 25.6473 15.4179 5.30076 13.3182C4.77222 13.2636 4.37732 12.8106 4.39867 12.2834C4.42001 11.7561 4.85024 11.336 5.38148 11.3238L231.896 6.10382L1.79086 2.92959C1.23477 2.92192 0.790226 2.46803 0.797951 1.9158Z" fill="#4164EE")
            
            svg(class="nav__jobs-underline-mobile" width="232" height="24" viewBox="0 0 232 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.642658 1.9158C0.648881 1.36357 1.01707 0.922115 1.46504 0.929786L230.558 4.85286C231 4.86043 231.356 5.30306 231.358 5.84811C231.36 6.39316 231.008 6.83985 230.565 6.8525L17.0725 12.96C26.7137 14.2149 34.1401 15.2071 41.5674 16.1997L41.8461 16.237C52.1218 17.6104 62.4521 18.9911 78.706 21.0766C79.1516 21.1338 79.4753 21.6254 79.4289 22.1747C79.3825 22.7241 78.9837 23.123 78.5381 23.0659C62.2807 20.9799 51.9477 19.5988 41.6715 18.2254L41.3925 18.1881C31.0245 16.8024 20.6602 15.4179 4.26992 13.3182C3.84415 13.2636 3.52604 12.8106 3.54323 12.2834C3.56043 11.7561 3.907 11.336 4.33495 11.3238L186.805 6.10382L1.4425 2.92959C0.994537 2.92192 0.636435 2.46803 0.642658 1.9158Z" fill="#4164EE")
    .header__controls
        a(href="#apply-form" target="_self").header__apply 
            span Хочу в команду
            svg(width="158" height="12" viewBox="0 0 158 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.990234 0.964844L157.01 2.92638L2.96523 6.16177C25.2924 8.26177 31.2029 8.931 53.5445 11.0356" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        button(type="button" onclick="changeText()").header__toggle
            span#toggleText Навигация
                
            svg(class="nav-underline-tb" width="119" height="12" viewBox="0 0 119 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.746094 0.964844L118.255 2.92638L2.23359 6.16177C19.0496 8.26177 23.5012 8.931 40.3281 11.0356" stroke="#4164EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            svg(class="nav-underline-mb" width="88" height="12" viewBox="0 0 88 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.551758 0.964844L87.4491 2.92638L1.65176 6.16177C14.0871 8.26177 17.3791 8.931 29.8225 11.0356" stroke="#4164EE" stroke-linecap="round" stroke-linejoin="round")
            
