header.header
    .header__logo
        a(href="index.html" target="_self").header__logo-link
            img(src="static/images/content/logo-header.svg" width="" height="" alt="ROWI").header__logo-img
                
    nav.header__nav.nav
        .nav__cabinet
            details.nav__cabinet-btn 
                summary.nav__cabinet-name 
                    span Личный кабинет
                    span.nav__cabinet-arr
                ul.nav__cabinet-inner
                    li
                        a(href="https://login.factoringplus.ru/Account/LoginFactoring?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3DMy%2520Factoring%26redirect_uri%3Dhttps%253A%252F%252Fmy.factoringplus.ru%252Fcallback%252F%26response_type%3Dcode%2520id_token%26scope%3Dopenid%2520profile%2520email%2520roles%26nonce%3D637345591262459094.OGM1NDY5MmYtkODJk" target="_blank") Факторинг
                    li
                        a(href="https://login.factoringplus.ru/Account/LoginGarant?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3DGarantiiProd%26redirect_uri%3Dhttps%253A%252F%252Fmy.qiwigarant.com%252F%26response_type%3Dcode%2520id_token%26scope%3Dopenid%2520profile%2520email%2520roles%26state%3DOpenIdConnect.AuthenticationProperties%253DH7-xu-yGmkF_zgRVBoFhGy-YRKuGMN6exttFCc_Trd1Bgmt9cXKvA0ag8nzKodN9Pd36hazgZID87TnIW-fdqjfzJ7csdM71RzAlYMap78G8zo0eV6-EkQzmWTtc90G2RgOF7IvoaHpD7gAK01k3Qlp-NMpsGAxPej1bZY8IoBaFBXNpxiHKy30mtkT_IV3lfM4jOA8H3sCF9T0KemPEzjobQ-4hCkwEObyydgHwwa4%26response_mode%3Dform_post%26nonce%3D637894187748483801.Y2NjMzAyNTQtNDRmZS00MjcyLTg5NTAtYzZmMWE4MmE5NmE4YmQ1OTBkMmItNGIxNy00YzgxLWE1OTEtZWFkZjdjYTJjM2Vm%26x-client-SKU%3DID_NET461%26x-client-ver%3D6.7.1.0" target="_blank") Банковские гарантии
                    li
                        a(href="#" target="_self") Кредиты
                    li
                        a(href="#" target="_self") Счета

        .nav__list.nav__list--mobile
            details.nav__list-item
                summary.nav__list-summary
                    span.nav__list-name Продукты
                    span.nav__list-arr
                        svg
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#chevron") 
                .nav__list-content
                    .nav__list-inner
                        a(href="factoring.html" target="_self").nav__list-link 
                            span.nav__list-icon
                                svg.nav__list-image
                                    use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-1") 
                            span.nav__list-text Факторинг
                        a(href="warranty.html" target="_self").nav__list-link
                            span.nav__list-icon
                                svg.nav__list-image
                                    use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-2") 
                            span.nav__list-text Гарантии
                        a(href="credit.html" target="_self").nav__list-link
                            span.nav__list-icon
                                svg.nav__list-image
                                    use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-3") 
                            span.nav__list-text Кредиты
                        a(href="sellers.html" target="_self").nav__list-link
                            span.nav__list-icon
                                svg.nav__list-image
                                    use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-4") 
                            span.nav__list-text Селлерам
                    
                    .nav__list-inner
                        b.nav__list-title Отрасли
                        
                        a(href="" target="_self").nav__list-link 
                            span.nav__list-text Химикам
                        a(href="" target="_self").nav__list-link
                            span.nav__list-text Металлургам
                        a(href="" target="_self").nav__list-link
                            span.nav__list-text Логистам
                    
                    .nav__list-inner
                        b.nav__list-title Дополнительно
                        
                        a(href="check.html" target="_self").nav__list-link 
                            span.nav__list-text Проверка контрагента
            details.nav__list-item
                summary.nav__list-summary
                    span.nav__list-name О нас
                    span.nav__list-arr
                        svg
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#chevron")
                .nav__list-content
                    .nav__list-inner
                        a(href="about.html" target="_self").nav__list-link 
                            span.nav__list-text О компании
                        a(href="career.html" target="_self").nav__list-link
                            span.nav__list-text Карьера
                        a(href="https://www.rowi.tech" target="_self").nav__list-link 
                            span.nav__list-text rowi.tech        
            a(href="blog.html" target="_self").nav__list-name Блог
            <!--Upload image area-->
            a(href="" target="_self").nav__list-frame
                picture
                    source(srcset="static/images/content/banner-1.webp 1x, static/images/content/banner-1.webp 2x" type="image/webp")
                    img(srcset="static/images/content/banner-1.png 1x, static/images/content/banner-1.png 2x" width="" height="" alt="").nav__list-banner
        
        <!--desktop nav-->
        .nav__list.nav__list--desktop
            details.nav__list-item.nav__list-item--desktop
                summary.nav__list-summary
                    span.nav__list-name Продукты
                    span.nav__list-arr
                        svg
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#chevron") 
                .nav__list-content
                    .nav__list-wrap
                        .nav__list-inner
                            a(href="factoring.html" target="_self").nav__list-link 
                                span.nav__list-icon
                                    svg.nav__list-image
                                        use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-1") 
                                span.nav__list-text Факторинг
                            a(href="warranty.html" target="_self").nav__list-link
                                span.nav__list-icon
                                    svg.nav__list-image
                                        use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-2") 
                                span.nav__list-text Гарантии
                            a(href="credit.html" target="_self").nav__list-link
                                span.nav__list-icon
                                    svg.nav__list-image
                                        use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-3") 
                                span.nav__list-text Кредиты
                            a(href="sellers.html" target="_self").nav__list-link
                                span.nav__list-icon
                                    svg.nav__list-image
                                        use(xlink:href="static/images/sprite/symbol/sprite.svg#prod-4") 
                                span.nav__list-text Селлерам
                        
                        .nav__list-inner
                            b.nav__list-title Отрасли
                            
                            a(href="" target="_self").nav__list-link 
                                span.nav__list-text Химикам
                            a(href="" target="_self").nav__list-link
                                span.nav__list-text Металлургам
                            a(href="" target="_self").nav__list-link
                                span.nav__list-text Логистам
                        
                        .nav__list-inner
                            b.nav__list-title Дополнительно
                            
                            a(href="" target="_self").nav__list-link 
                                span.nav__list-text Проверка контрагента
                        <!--Upload image area-->
                        a(href="" target="_self").nav__list-frame
                            picture
                                source(srcset="static/images/content/banner-1.webp 1x, static/images/content/banner-1.webp 2x" type="image/webp")
                                img(srcset="static/images/content/banner-1.png 1x, static/images/content/banner-1.png 2x" width="" height="" alt="").nav__list-banner
                    
            details.nav__list-item.nav__list-item--desktop
                summary.nav__list-summary
                    span.nav__list-name О нас
                    span.nav__list-arr
                        svg
                            use(xlink:href="static/images/sprite/symbol/sprite.svg#chevron")
                .nav__list-content
                    .nav__list-wrap
                        .nav__list-inner
                            a(href="about.html" target="_self").nav__list-link 
                                span.nav__list-text О компании
                            a(href="career.html" target="_self").nav__list-link
                                span.nav__list-text Карьера
                            a(href="https://www.rowi.tech" target="_self").nav__list-link 
                                span.nav__list-text rowi.tech
                        <!--Upload image area-->
                        a(href="" target="_self").nav__list-frame
                            picture
                                source(srcset="static/images/content/banner-2.webp 1x, static/images/content/banner-2.webp 2x" type="image/webp")
                                img(srcset="static/images/content/banner-2.png 1x, static/images/content/banner-2.png 2x" width="" height="" alt="").nav__list-banner
                        
            a(href="blog.html" target="_self").nav__list-name Блог

        <!--contacts-->
        .nav__contacts
            .nav__contacts-wrap
                a(href="tel:74953748477" target="_blank").nav__contacts-link +7 (495) 374 84 77
                button(type="button" data-modal="#js-popup-callback").nav__contacts-link.js-popup-opener Заказать звонок
    button(type="button").header__toggle
