section.about
    h2.about__title Специализируемся на финансировании 
        span МСБ
        | по всей России
    ul.about__list
        li.about__item
            b.about__nr 70
            p.about__subtitle Миллиардов рублей
            p.about__text Выданного финансирования
        li.about__item
            b.about__nr 40 000
            p.about__text Клиентов в сервисе
        li.about__item
            b.about__nr 50 000
            p.about__text Обеспеченных сделок
        li.about__item
            b.about__subtitle любим свою работу
        li.about__item
            p.about__description
                b Наша миссия 
                | &mdash; создавать лучшие решения на рынке, упрощающие процесс финансирования среднего и малого бизнеса
    a(href="/team" target="_self").about__link Познакомиться с командой
