section.banner
    span.banner__sticker Спецпредложение
    h2.banner__title
        span Больше выгоды 
        | при&nbsp;открытии расчетного счета
    ul.banner__list
        li.banner__item 
            b.banner__name Мгновенные платежи
            span.banner__about Зачисление финансирования на счет мгновенно
        li.banner__item 
            b.banner__name Доход 5% на остаток 
            span.banner__about За каждый день, без&nbsp;ограничений на&nbsp;сумму остатка&nbsp;и&nbsp;процентов
    span.banner__note Счет в КИВИ Банк (АО), открытый через информационную систему ROWI 