section.account
    span.account__sticker Спецпредложение
    h2.account__title
        span Больше выгоды 
        | при&nbsp;открытии расчетного счета
    ul.account__list
        li.account__item 
            b.account__item-name Мгновенные платежи
            span.account__item-about Зачисление финансирования на счет мгновенно
        li.account__item 
            b.account__item-name Доход 5% на остаток 
            span.account__item-about За каждый день, без&nbsp;ограничений на&nbsp;сумму остатка&nbsp;и&nbsp;процентов
    span.account__note Счет в КИВИ Банк (АО), открытый через информационную систему ROWI 