section.benefit
    h2.benefit__title.section-title Собственная 
        span разработка 
        | — наша сильная сторона
    p.benefit__description Rowi.tech – компания разработчик IT&nbsp;решений&nbsp;для&nbsp;финансового&nbsp;сектора внутри&nbsp;ROWI
    a(href="#" target="_self").benefit__link Смотреть вакансии IT
    
    .benefit__visual
