section.blog.blog--media
    .blog__head
        h1.blog__title.title Блог
        span.blog__tag #СМИ о нас
    .blog__filter
        details.blog__filter-block
            summary.blog__filter-name
                span Рубрики
                span.blog__filter-arr
            ul.blog__filter-list
                for i in filters
                    li.blog__filter-item
                        a(href="#" target="_self" data-filter="" +i.data).blog__filter-btn=i.name
    ul.blog__list
        +blogItem('', '02.09.21', '02-09-2021', 'Факторинг для МСБ', 'Факторинг для малого и среднего бизнеса: теория и практика, без регистрации и смс ...', 'article.html', '#Факторинг', '#Технологии', '#Факторинг', '#Факторинг', 'blog-image-1')
        +blogItem('', '02.09.21', '02-09-2021', 'Факторинг для МСБ', 'Виктор Вернов об итогах рынка факторинга за 2021 год', '', '#Факторинг', '#Технологии', '#Факторинг', '#Факторинг', 'blog-image-1')
        +blogItem('', '02.09.21', '02-09-2021', 'Факторинг для МСБ', 'Виктор Вернов об итогах рынка факторинга за 2021 год', '', '#Факторинг', '#Технологии', '#Факторинг', '#Факторинг', 'blog-image-1')
        +blogItem('', '02.09.21', '02-09-2021', 'Факторинг для МСБ', 'Виктор Вернов об итогах рынка факторинга за 2021 год', '', '#Факторинг', '#Технологии', '#Факторинг', '#Факторинг', 'blog-image-1')
        +blogItem('', '02.09.21', '02-09-2021', 'Факторинг для МСБ', 'Виктор Вернов об итогах рынка факторинга за 2021 год', '', '#Факторинг', '#Технологии', '#Факторинг', '#Факторинг', 'blog-image-1')
    
    button(type="button").blog__load Загрузить ещё    
