section.chat
    .chat__about
        h2.chat__title.section-title
            span Личный контакт 
            | с&nbsp;менеджером
        p.chat__description Наши менеджеры отлично разбираются в продукте и подберут финансирование под вашу потребность
    ul.chat__list
        li.chat__item.chat__item-master.chat__item-first
            picture.chat__frame
                source(srcset="static/images/content/chat-master.webp" type="image/webp")
                img(src="static/images/content/chat-master.png" width="" height="" alt="Сотрудник чата").chat__frame-image
            p.chat__text Александр, мы  пересмотрели лимит&nbsp;по Вашему покупателю
        li.chat__item.chat__item-master
            p.chat__text И увеличили лимит на 10 млн рублей!
        li.chat__item.chat__item-client.chat__item-last
            picture.chat__frame
                source(srcset="static/images/content/chat-client.webp" type="image/webp")
                img(src="static/images/content/chat-client.png" width="" height="" alt="Клиент чата").chat__frame-image
            p.chat__text Оперативно, спасибо!
