section.chat
    .chat__about
        h2.chat__title.section-title
            span Личный контакт 
            | с&nbsp;менеджером
        p.chat__description Наши менеджеры отлично разбираются в продукте и подберут финансирование под вашу потребность
    ul.chat__list
        li.chat__item.chat__item-master
            picture.chat__frame
                source(srcset="static/images/content/chat-master.webp" type="image/webp")
                img(src="static/images/content/chat-master.png" width="" height="" alt="Сотрудник чата").chat__frame-image
            p.chat__text Александр, мы  пересмотрели лимит&nbsp;по Вашему покупателю
        li.chat__item.chat__item-master
            p.chat__text И увеличили лимит на 10 млн рублей!
        li.chat__item.chat__item-client
            picture.chat__frame
                source(srcset="static/images/content/chat-client.webp" type="image/webp")
                img(src="static/images/content/chat-client.png" width="" height="" alt="Клиент чата").chat__frame-image
            p.chat__text Оперативно, спасибо!
            
    <!--SVG zone-->
    .chat__svg    
        svg(class="chat__line chat__line--mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 130 111")
            path(class="chat__line-mask" d="M89.9148 0.966256C69.2975 51.3399 120.787 82.7277 125.42 67.4886C132.239 45.0585 90.191 38.7615 53.4097 91.0003C37.7057 113.304 14.2055 112.393 0.435933 103.162")
            
            .chat__top
        svg(class="chat__line chat__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 182" fill="none")
            path(class="chat__line-mask" d="M231.57,6.65C169.53,93.1,251,179.91,268.31,152.9c25.93-40.5-53.59-76.29-155.23,6.42-41.7,33.93-85.71,21.54-108.66-2.45")
            .chat__top
