section(class="check " +checkType)
    if checkType
        .check__intro.c-intro
            h1.c-intro__title
            //- Part with inputs for agent search
            .c-intro__search.a-search
                label(for="agent-search").a-search__label Проверка контрагента
                .a-search__wrap
                    input(type="text" name="agent-search" id="agent-search" placeholder="ИНН или название компании").a-search__input
                    button(type="reset").a-search__reset
                    ul.a-search__list.js-result
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва
    //- 
    else
        .check__intro.c-intro
            h1.c-intro__title 
                span Экспресс оценка 
                | контрагента
            p.c-intro__description Проверьте контрагента бесплатно и узнайте, доступно ли финансирование по вашим контрактам
            //- visual part
            .c-intro__visual
                img(src="static/images/content/check-intro.svg" width="" height="" alt="").c-intro__visual-img
            //- Part with inputs for agent search
            .c-intro__search.a-search
                .a-search__wrap
                    input(type="text" name="agent-search" id="agent-search" placeholder="ИНН или название компании").a-search__input
                    button(type="reset").a-search__reset
                    ul.a-search__list.js-result
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва
                        li.a-search__item
                            b.a-search__name ООО «РОВИ ТЕХ»
                            .a-search__bottom
                                span(data-type="itn").a-search__data ИНН 9709064843
                                span(data-type="ogrn").a-search__data ОГРН 9709064843
                                span(data-type="city").a-search__data г.Москва

        .check__options.c-options
            ul.c-options__list
                for i in optList
                    li.c-options__item
                        span(data-icon="" +i.icon).c-options__icon
                            svg
                                use(xlink:href="static/images/sprite/symbol/sprite.svg#" +i.icon)
                        b.c-options__name=i.name
                        span.c-options__text=i.text