section.clients
    h2.clients__title.section-title Решения с учетом специфики 
        span отрасли
    p.clients__description Мы разработали собственную IT–систему, чтобы процесс получения денег был ещё проще и быстрее для вас
    p.clients__description Просто зарегистрируйтесь на платформе и получайте финансирование по нажатию кнопки
    
    .clients__list#clients-clients
        .clients__line.clients__line--one
            ul.clients__line-wrap
                li.clients__line-item
                    span.clients__line-text Школы
                li.clients__line-item
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item
                    span.clients__line-text Leroy Merlin
                li.clients__line-item
                    span.clients__line-text Газпром
                li.clients__line-item
                    span.clients__line-text Детский Мир
                li.clients__line-item
                    span.clients__line-text ВкусВилл
                li.clients__line-item
                    span.clients__line-text Роснефть
                li.clients__line-item
                    span.clients__line-text Магнит
                li.clients__line-item
                    span.clients__line-text Минтранс
        .clients__line.clients__line--two
            ul.clients__line-wrap
                li.clients__line-item
                    span.clients__line-text Леруа Мерлен
                li.clients__line-item
                    span.clients__line-text Больницы
                li.clients__line-item
                    span.clients__line-text Университеты
                li.clients__line-item
                    span.clients__line-text РЖД
                li.clients__line-item
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item
                    span.clients__line-text Лента
                li.clients__line-item
                    span.clients__line-text Ашан
                li.clients__line-item
                    span.clients__line-text Роснефть
                li.clients__line-item
                    span.clients__line-text Магнит
        .clients__line.clients__line--three
            ul.clients__line-wrap
                li.clients__line-item
                    span.clients__line-text Закупки по 615-ФЗ
                li.clients__line-item
                    span.clients__line-text Билла
                li.clients__line-item
                    span.clients__line-text Касторама
                li.clients__line-item
                    span.clients__line-text Минтранс
                li.clients__line-item
                    span.clients__line-text Лукойл
                li.clients__line-item
                    span.clients__line-text Башнефть
                li.clients__line-item
                    span.clients__line-text МТС
                li.clients__line-item
                    span.clients__line-text Роснефть
                li.clients__line-item
                    span.clients__line-text Магнит    
