section.clients
    h2.clients__title.section-title Решения с учетом специфики 
        span отрасли
    p.clients__description Мы знаем все тонкости закупок, документооборота разных отраслей и умеем с ними работать
    
    .clients__list
        .clients__line.clients__line--one
            ul.clients__line-wrap.wrap-1
                li.clients__line-item.pink
                    span.clients__line-text Государственное Бюджетное Учреждение
                li.clients__line-item.blue
                    span.clients__line-text Фармкомплект
                li.clients__line-item.pink
                    span.clients__line-text Образовательные Учреждения
                li.clients__line-item.gray
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item.blue
                    span.clients__line-text Билайн
                li.clients__line-item.pink
                    span.clients__line-text МГУП
                li.clients__line-item.gray
                    span.clients__line-text Русский Уголь
                li.clients__line-item.blue
                    span.clients__line-text Областные Клинические Больницы
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 615-ПП
                li.clients__line-item.gray
                    span.clients__line-text 12 storeez
                li.clients__line-item.pink
                    span.clients__line-text Lamoda
                li.clients__line-item.blue
                    span.clients__line-text Автоваз
                li.clients__line-item.gray
                    span.clients__line-text Поликлиники
                li.clients__line-item.gray
                    span.clients__line-text Марс
                li.clients__line-item.pink
                    span.clients__line-text Дикси
                li.clients__line-item.blue
                    span.clients__line-text Сантехника-Онлайн
                li.clients__line-item.gray
                    span.clients__line-text Метрополитен
                li.clients__line-item.pink
                    span.clients__line-text Бабаевский
                li.clients__line-item.blue
                    span.clients__line-text Касторама
                li.clients__line-item.pink
                    span.clients__line-text Самсон-Фарма
                li.clients__line-item.gray
                    span.clients__line-text Мерлион
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item.pink
                    span.clients__line-text Неофарм
                li.clients__line-item.gray
                    span.clients__line-text Школы
                li.clients__line-item.blue
                    span.clients__line-text Славнефть
                li.clients__line-item.pink
                    span.clients__line-text Газпром
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.blue
                    span.clients__line-text Ригла
                li.clients__line-item.gray
                    span.clients__line-text Офисмаг
                li.clients__line-item.pink
                    span.clients__line-text Башнефть
                li.clients__line-item.blue
                    span.clients__line-text Нестле
                li.clients__line-item.gray
                    span.clients__line-text Больницы
                li.clients__line-item.gray
                    span.clients__line-text Мяснов
                li.clients__line-item.pink
                    span.clients__line-text Ашан
                li.clients__line-item.blue
                    span.clients__line-text Все Инструменты. Ру
                li.clients__line-item.gray
                    span.clients__line-text РЖД
                li.clients__line-item.gray
                    span.clients__line-text Онлайн Трейд
                li.clients__line-item.blue
                    span.clients__line-text Муниципальные унитарные предприятия
                li.clients__line-item.pink
                    span.clients__line-text РН-Бурение
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.gray
                    span.clients__line-text Lamoda
                    
                li.clients__line-item.pink
                    span.clients__line-text Государственное Бюджетное Учреждение
                li.clients__line-item.blue
                    span.clients__line-text Фармкомплект
                li.clients__line-item.pink
                    span.clients__line-text Образовательные Учреждения
                li.clients__line-item.gray
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item.blue
                    span.clients__line-text Билайн
                li.clients__line-item.pink
                    span.clients__line-text МГУП
                li.clients__line-item.gray
                    span.clients__line-text Русский Уголь
                li.clients__line-item.blue
                    span.clients__line-text Областные Клинические Больницы
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 615-ПП
                li.clients__line-item.gray
                    span.clients__line-text 12 storeez
                li.clients__line-item.pink
                    span.clients__line-text Lamoda
                li.clients__line-item.blue
                    span.clients__line-text Автоваз
                li.clients__line-item.gray
                    span.clients__line-text Поликлиники
                li.clients__line-item.gray
                    span.clients__line-text Марс
                li.clients__line-item.pink
                    span.clients__line-text Дикси
                li.clients__line-item.blue
                    span.clients__line-text Сантехника-Онлайн
                li.clients__line-item.gray
                    span.clients__line-text Метрополитен
                li.clients__line-item.pink
                    span.clients__line-text Бабаевский
                li.clients__line-item.blue
                    span.clients__line-text Касторама
                li.clients__line-item.pink
                    span.clients__line-text Самсон-Фарма
                li.clients__line-item.gray
                    span.clients__line-text Мерлион
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item.pink
                    span.clients__line-text Неофарм
                li.clients__line-item.gray
                    span.clients__line-text Школы
                li.clients__line-item.blue
                    span.clients__line-text Славнефть
                li.clients__line-item.pink
                    span.clients__line-text Газпром
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.blue
                    span.clients__line-text Ригла
                li.clients__line-item.gray
                    span.clients__line-text Офисмаг
                li.clients__line-item.pink
                    span.clients__line-text Башнефть
                li.clients__line-item.blue
                    span.clients__line-text Нестле
                li.clients__line-item.gray
                    span.clients__line-text Больницы
                li.clients__line-item.gray
                    span.clients__line-text Мяснов
                li.clients__line-item.pink
                    span.clients__line-text Ашан
                li.clients__line-item.blue
                    span.clients__line-text Все Инструменты. Ру
                li.clients__line-item.gray
                    span.clients__line-text РЖД
                li.clients__line-item.gray
                    span.clients__line-text Онлайн Трейд
                li.clients__line-item.blue
                    span.clients__line-text Муниципальные унитарные предприятия
                li.clients__line-item.pink
                    span.clients__line-text РН-Бурение
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.gray
                    span.clients__line-text Lamoda
                li.clients__line-item.pink
                    span.clients__line-text Государственное Бюджетное Учреждение
                li.clients__line-item.blue
                    span.clients__line-text Фармкомплект
                li.clients__line-item.pink
                    span.clients__line-text Образовательные Учреждения
                li.clients__line-item.gray
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item.blue
                    span.clients__line-text Билайн
                li.clients__line-item.pink
                    span.clients__line-text МГУП
                li.clients__line-item.gray
                    span.clients__line-text Русский Уголь
                li.clients__line-item.blue
                    span.clients__line-text Областные Клинические Больницы
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 615-ПП
                li.clients__line-item.gray
                    span.clients__line-text 12 storeez
                li.clients__line-item.pink
                    span.clients__line-text Lamoda
                li.clients__line-item.blue
                    span.clients__line-text Автоваз
                li.clients__line-item.gray
                    span.clients__line-text Поликлиники
                li.clients__line-item.gray
                    span.clients__line-text Марс
                li.clients__line-item.pink
                    span.clients__line-text Дикси
                li.clients__line-item.blue
                    span.clients__line-text Сантехника-Онлайн
                li.clients__line-item.gray
                    span.clients__line-text Метрополитен
                li.clients__line-item.pink
                    span.clients__line-text Бабаевский
                li.clients__line-item.blue
                    span.clients__line-text Касторама
                li.clients__line-item.pink
                    span.clients__line-text Самсон-Фарма
                li.clients__line-item.gray
                    span.clients__line-text Мерлион
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item.pink
                    span.clients__line-text Неофарм
                li.clients__line-item.gray
                    span.clients__line-text Школы
                li.clients__line-item.blue
                    span.clients__line-text Славнефть
                li.clients__line-item.pink
                    span.clients__line-text Газпром
                li.clients__line-item.pink
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.blue
                    span.clients__line-text Ригла
                li.clients__line-item.gray
                    span.clients__line-text Офисмаг
                li.clients__line-item.pink
                    span.clients__line-text Башнефть
                li.clients__line-item.blue
                    span.clients__line-text Нестле
                li.clients__line-item.gray
                    span.clients__line-text Больницы
                li.clients__line-item.gray
                    span.clients__line-text Мяснов
                li.clients__line-item.pink
                    span.clients__line-text Ашан
                li.clients__line-item.blue
                    span.clients__line-text Все Инструменты. Ру
                li.clients__line-item.gray
                    span.clients__line-text РЖД
                li.clients__line-item.gray
                    span.clients__line-text Онлайн Трейд
                li.clients__line-item.blue
                    span.clients__line-text Муниципальные унитарные предприятия
                li.clients__line-item.pink
                    span.clients__line-text РН-Бурение
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.gray
                    span.clients__line-text Lamoda
        .clients__line.clients__line--two
            ul.clients__line-wrap.wrap-2
                li.clients__line-item.blue
                    span.clients__line-text Водоканалы
                li.clients__line-item.pink
                    span.clients__line-text Wildberries
                li.clients__line-item.gray
                    span.clients__line-text Гранд Капитал
                li.clients__line-item.pink
                    span.clients__line-text Юнилевер
                li.clients__line-item.blue
                    span.clients__line-text ММК
                li.clients__line-item.gray
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item.pink
                    span.clients__line-text Русвинил
                li.clients__line-item.gray
                    span.clients__line-text Метрополитен
                li.clients__line-item.blue
                    span.clients__line-text Тиккурила
                li.clients__line-item.pink
                    span.clients__line-text Ozon
                li.clients__line-item.blue
                    span.clients__line-text Образовательные Учреждения
                li.clients__line-item.blue
                    span.clients__line-text Монди
                li.clients__line-item.gray
                    span.clients__line-text О'кей
                li.clients__line-item.pink
                    span.clients__line-text Школы
                li.clients__line-item.gray
                    span.clients__line-text Балтика
                li.clients__line-item.blue
                    span.clients__line-text Искра
                li.clients__line-item.pink
                    span.clients__line-text Продо
                li.clients__line-item.pink
                    span.clients__line-text Государственные унитарные предприятия
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item.gray
                    span.clients__line-text Аскона
                li.clients__line-item.pink
                    span.clients__line-text Каргосервис
                li.clients__line-item.blue
                    span.clients__line-text ЭРА
                li.clients__line-item.gray
                    span.clients__line-text Минтранс
                li.clients__line-item.gray
                    span.clients__line-text Азот
                li.clients__line-item.pink
                    span.clients__line-text Мегафон
                li.clients__line-item.blue
                    span.clients__line-text Оффпрайс
                li.clients__line-item.gray
                    span.clients__line-text Закупки по 615-ФЗ
                li.clients__line-item.pink
                    span.clients__line-text Данон
                li.clients__line-item.blue
                    span.clients__line-text ГУП
                li.clients__line-item.pink
                    span.clients__line-text Магнит Фарма
                li.clients__line-item.gray
                    span.clients__line-text Полюс
                li.clients__line-item.blue
                    span.clients__line-text ЛСР
                li.clients__line-item.pink
                    span.clients__line-text РотФронт
                li.clients__line-item.gray
                    span.clients__line-text Ложистик Рус
                li.clients__line-item.blue
                    span.clients__line-text Детский Мир
                li.clients__line-item.gray
                    span.clients__line-text РН-Ванкор
                li.clients__line-item.pink
                    span.clients__line-text Леруа Мерлен
                li.clients__line-item.blue
                    span.clients__line-text Почта России
                li.clients__line-item.pink
                    span.clients__line-text Красный Октябрь
                li.clients__line-item.gray
                    span.clients__line-text Фармперспектива
                li.clients__line-item.blue
                    span.clients__line-text Роснефть
                li.clients__line-item.blue
                    span.clients__line-text ЦФК
                li.clients__line-item.pink
                    span.clients__line-text Муниципальные унитарные предприятия
        .clients__line.clients__line--three
            ul.clients__line-wrap.wrap-3
                li.clients__line-item.pink
                    span.clients__line-text ВУЗы
                li.clients__line-item.pink
                    span.clients__line-text Мегаполис
                li.clients__line-item.gray
                    span.clients__line-text Hoff
                li.clients__line-item.blue
                    span.clients__line-text Атак
                li.clients__line-item.pink
                    span.clients__line-text Союзпак
                li.clients__line-item.gray
                    span.clients__line-text Макфа
                li.clients__line-item.blue
                    span.clients__line-text Закупки по 615-ФЗ
                li.clients__line-item.blue
                    span.clients__line-text Сибур
                li.clients__line-item.pink
                    span.clients__line-text ВкусВилл
                li.clients__line-item.gray
                    span.clients__line-text Минтранс
                li.clients__line-item.blue
                    span.clients__line-text ГУП
                li.clients__line-item.pink
                    span.clients__line-text Евраз
                li.clients__line-item.gray
                    span.clients__line-text Поликлиники
                li.clients__line-item.pink
                    span.clients__line-text Протек
                li.clients__line-item.pink
                    span.clients__line-text Лукойл
                li.clients__line-item.blue
                    span.clients__line-text Билла
                li.clients__line-item.gray
                    span.clients__line-text Областные Клинические Больницы
                li.clients__line-item.pink
                    span.clients__line-text Закупки по 44-ФЗ
                li.clients__line-item.gray
                    span.clients__line-text Синергетик
                li.clients__line-item.gray
                    span.clients__line-text Росатом
                li.clients__line-item.blue
                    span.clients__line-text НЛМК
                li.clients__line-item.pink
                    span.clients__line-text Строительный Двор
                li.clients__line-item.gray
                    span.clients__line-text Государственные унитарные предприятия
                li.clients__line-item.blue
                    span.clients__line-text МТС
                li.clients__line-item.pink
                    span.clients__line-text Закупки по 223-ФЗ
                li.clients__line-item.gray
                    span.clients__line-text Офисмаг
                li.clients__line-item.gray
                    span.clients__line-text Петрович
                li.clients__line-item.blue
                    span.clients__line-text Сады Придонья
                li.clients__line-item.pink
                    span.clients__line-text ЭР-Телеком
                li.clients__line-item.blue
                    span.clients__line-text Скартел
                li.clients__line-item.gray
                    span.clients__line-text Офисмаг
                li.clients__line-item.pink
                    span.clients__line-text Университеты
                li.clients__line-item.pink
                    span.clients__line-text Яндекс
                li.clients__line-item.gray
                    span.clients__line-text Магнит
                li.clients__line-item.blue
                    span.clients__line-text МГУП
                li.clients__line-item.pink
                    span.clients__line-text Уралмашзавод
                li.clients__line-item.gray
                    span.clients__line-text Ozon
                li.clients__line-item.blue
                    span.clients__line-text Сады Придонья
                li.clients__line-item.blue
                    span.clients__line-text Катрен
                li.clients__line-item.pink
                    span.clients__line-text Бауцентр
                li.clients__line-item.gray
                    span.clients__line-text Лента
                li.clients__line-item.blue
                    span.clients__line-text Ситилинк
                li.clients__line-item.gray
                    span.clients__line-text Спортмастер
