section.comfort
    h2.comfort__title.section-title
        span Комфорт 
        | с заботой о каждом
        
    .comfort__player
        .comfort__info
            img(src="static/images/content/logo-footer.svg" width="" height="" alt="ROWI").comfort__info-logo
            h3.comfort__info-name Предприниматели о&nbsp;нас
        video(poster="static/images/content/comfort-poster.png").comfort__player-frame#aboutVideo
            source(src="static/videos/benefits-video.mp4" type="video/mp4")
            source(src="static/videos/benefits-video.webm" type="video/webm")
                
    ul.comfort__list
        li.comfort__item
            .comfort__shadow
            span ДМС и спорт
        li.comfort__item
            .comfort__shadow
            span Гибридный график
        li.comfort__item
            .comfort__shadow
            span Современные офисы
