section.conditions
    h2.conditions__title.section-title Быстрое финансирование 
        span с фокусом на МСБ
    p.conditions__description Большой опыт работы с разными отраслями позволяет моментально устанавливать лимит и выдавать финансирование 
    
    .conditions__info
        .conditions__visual
            picture.conditions__frame
                source(srcset="static/images/content/cond-1.webp" type="image/webp")
                img(src="static/images/content/cond-1.png" width="" height="" alt="Быстрое финансирование").conditions__frame-image
            .conditions__block
                .conditions__shadow
                span.conditions__name Полностью онлайн
        .conditions__details
            h3.conditions__subtitle Выгодные условия
            ul.conditions__list
                li.conditions__item
                    span Сумма до 300 млн рублей
                li.conditions__item
                    span Без ограничений на минимальную сумму
                li.conditions__item
                    span Регрес и безрегрес, с уведомлением дебитора и без
                li.conditions__item
                    span Оцениваем только контракт и дебитора
            a(href="#form" target="_self").conditions__link Оставить заявку
