.popup-policy
    p.popup-policy__description Мы используем cookie для улучшения работы сайта. Используя&nbsp;сайт, вы соглашаетесь с обработкой данных в&nbsp;соответствии с&nbsp;
        a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политикой конфиденциальности 
    button(type="button").popup-policy__closer ОК
