section.develop
    h2.develop__title.section-title Развиваем рынок
    p.develop__description Мы являемся активным участником программ поддержки и развития МСБ. Входим в Ассоциацию факторинговых компаний России.
    
    .develop__logo
        img(src="static/images/content/qiwi.svg" width="112" height="50" alt="QIWI").develop__logo-image
        img(src="static/images/content/afk.svg" width="112" height="58" alt="afk").develop__logo-image
