ul.dictionary
    li.dictionary__item
        b.dictionary__name Аффилированность
        p.dictionary__text
            b.dictionary__text-name Аффилированность 
            span &mdash; 
            | способность юридического лица оказывать влияние на деятельность другого юридического лица, в связи с наличием определённой взаимосвязи.
    li.dictionary__item
        b.dictionary__name Верификация
        p.dictionary__text
            b.dictionary__text-name Верификация 
            span &mdash; 
            | подтверждение Дебитором суммы и даты поставки товара/оказания услуг, а также отсутствия претензий по качеству товара (либо оказанных услуг) и комплектности поставки (либо полноты оказанных услуг).
    li.dictionary__item
        b.dictionary__name Второй платеж
        p.dictionary__text
            b.dictionary__text-name Второй платеж 
            span &mdash; 
            | часть Финансирования, выплачиваемая после получения Фактором от Дебитора полной оплаты уступленного Денежного требования. Размер Второго платежа рассчитывается как разница между номинальной суммой Денежного требования, уступленного Фактору, с одной стороны, и суммой Первого платежа и Вознаграждения Фактора, с другой стороны.
    li.dictionary__item
        b.dictionary__name Выгодоприобретатель
        p.dictionary__text
            b.dictionary__text-name Выгодоприобретатель 
            span &mdash; 
            | (также бенефициарий, бенефициар от фран. benefice – выгода, польза) физическое или юридическое лицо, назначенное страхователем для получения компенсации ущерба в результате наступления страхового случая.
    li.dictionary__item
        b.dictionary__name Выручка
        p.dictionary__text
            b.dictionary__text-name Выручка 
            span &mdash; 
            | юридическое лицо, в адрес которого Клиент осуществляет поставки (выполнение работ, оказание услуг) на условиях отсрочки платежа.
    li.dictionary__item
        b.dictionary__name Дебиторская задолженность
        p.dictionary__text
            b.dictionary__text-name Дебиторская задолженность 
            span &mdash; 
            | сумма долгов, причитающихся предприятию, фирме, компании со стороны других предприятий, фирм, компаний (а также граждан, являющихся их должниками, дебиторами). Деньги, которые заказчики должны заплатить компании за товары/ услуги, приобретённые на условиях кредита.
    li.dictionary__item
        b.dictionary__name Дата плановой оплаты
        p.dictionary__text
            b.dictionary__text-name Дата плановой оплаты 
            span &mdash; 
            | дата окончания отсрочки платежа по контракту.
    li.dictionary__item
        b.dictionary__name Лид
        p.dictionary__text
            b.dictionary__text-name Лид 
            span &mdash; 
            | информация о потенциальном клиенте, а также о канале его привлечения.
    li.dictionary__item
        b.dictionary__name Лимит финансирования
        p.dictionary__text
            b.dictionary__text-name Лимит финансирования 
            span &mdash; 
            | максимально возможная сумма, в пределах которой Фактор вправе выплачивать Финансирование в соответствии с настоящими Правилами факторинга. Правила определения и изменения Лимита финансирования устанавливаются Фактором в одностороннем порядке и не являются предметом Правил факторинга.
