-var faqData = [{title: 'В каких регионах вы работаете?', description: 'Для финансирования селлеров мы создали отдельный продукт - Sellplus. Это финансирование поставщиков маркетплейсов на основе аналитики ваших продаж. Sellplus анализирует статистику продаж, устанавливает лимит финансирования. '}, {title: 'Нужен ли залог для получения финансирования?', description: 'Sellplus – это возобновляемое финансирование с револьверным лимитом. Лимит восстанавливается после каждого погашения и увеличивается с ростом показателей продаж на маркетплейсе. '}, {title: 'Чем отличается финансирование селлеров от факторинга?', description: 'Для финансирования селлеров мы создали отдельный продукт - Sellplus. Это финансирование поставщиков маркетплейсов на основе аналитики ваших продаж. Sellplus анализирует статистику продаж, устанавливает лимит финансирования. Селлер использует финансирование для увеличения объёма отгружаемого товара. Таким образом, растут продажи и выручка предпринимателя. Sellplus – это возобновляемое финансирование с револьверным лимитом. Лимит восстанавливается после каждого погашения и увеличивается с ростом показателей продаж на маркетплейсе. Погашение происходит по графику платежей из поступлений от маркетплейса. Предприниматели используют сервис Sellplus для получения финансирования своих будущих продаж на Wildberries, Ozon, Яндекс.Маркет и других маркетплейсах. Зарегистрируйтесь в Sellplus и посмотрите, какой лимит финансирования вам доступен уже сейчас.'}]

section.faq
    h2.faq__title Популярные 
        span вопросы
    ul.faq__list
        for i in faqData    
            li.faq__wrap
                details.faq__item
                    summary.faq__title=i.title
                    p.faq__description=i.description
