section.faq
    h2.faq__title.section-title Популярные 
        span вопросы
    ul.faq__list
        for i in faqData    
            li.faq__wrap
                details.faq__item
                    summary.faq__name=i.title
                    p.faq__description=i.description
