section.callback#order.section
    h2.callback__title.section-title Оставьте заявку на&nbsp;любой продукт и&nbsp;получите решение 
        span сегодня
    p.callback__description.callback__description--main Укажите телефон и продукт для&nbsp;заявки или консультации
    
    form(method="post" action="#" name="callback-form").callback__form
        ul.callback__list
            li.callback__item
                input(type="checkbox" name="factoring" value="factoring" id="factoring").callback__checkbox
                label(for="factoring").callback__label Факторинг
            li.callback__item
                input(type="checkbox" name="warranty" value="warranty" id="warranty").callback__checkbox
                label(for="warranty").callback__label Гарантии
            li.callback__item
                input(type="checkbox" name="credit" value="credit" id="credit").callback__checkbox
                label(for="credit").callback__label Кредит на госконтракты
            li.callback__item
                input(type="checkbox" name="sellers" value="sellers" id="sellers").callback__checkbox
                label(for="sellers").callback__label Финансирование селлеров 
        .callback__nr
            .callback__nr-field
                input(type="tel" name="tel" id="tel" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                span.callback__error
            
            button(type="submit").callback__submit Отправить заявку
        span.callback__agree Нажимая кнопку, вы соглашаетесь на 
            a(href="" target="_blank") обработку персональных данных
    <!--SVG zone-->
    .callback__svg
        svg(class="callback__line" width="212" height="288" viewBox="0 0 212 288" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="callback__line-mask" d="M1 1C1 1 78 9.59123 121 52.2409C207.164 137.703 107 183.08 99.5 156.26C92 129.441 211 155.265 211 211.934C211 268.602 80.0366 302.243 1 264.667M1 264.667C7.74563 265.791 23.4872 266.773 32.4883 261.717M1 264.667C7.74563 269.302 22.362 280.258 26.8626 287")