.guide__nav
    a(href="#" target="_self").guide__nav-link.guide__nav-link--prev 
        span.guide__nav-text.guide__nav-text--desktop Предыдущий раздел
        span.guide__nav-text.guide__nav-text--mobile Назад
    a(href="#" target="_self").guide__nav-link.guide__nav-link--next 
        span.guide__nav-text.guide__nav-text--desktop Следующий раздел
        span.guide__nav-text.guide__nav-text--mobile Вперед
