section.intro
    h1.intro__title.title
        span Финансируем 
        | малый и&nbsp;средний бизнес. Быстро и по делу
    .intro__info        
        ul.intro__info-list
            li.intro__info-item.intro__info-item--first
                a(href="" target="_self").intro__info-link
                    h3.intro__info-title.small-title Кредит на&nbsp;исполнение контракта
                    .intro__info-inner
                        span.intro__info-name Сумма кредита
                        b.intro__info-nr
                            span#counter 7600000 
                            span ₽
                        .intro__info-range
                            span.range-line
                            svg(xmlns="http://www.w3.org/2000/svg" width="77" height="2" viewBox="0 0 77 2" fill="none")
                                path(d="M 0 0 L 68 0" class="range-upper range-upper--mobile")
                                path(d="M 0 0 L 77 0" class="range-upper range-upper--desktop")
                                span.range-tumbler
            li.intro__info-item.intro__info-item--second
                a(href="" target="_self").intro__info-link
                    h3.intro__info-title.small-title Факторинг Плюс
                    .intro__info-inner
                        span.intro__info-name Лимит одобрен
                        .intro__info-border
            li.intro__info-item.intro__info-item--third
                a(href="" target="_self").intro__info-link
                    h3.intro__info-title.small-title Банковские гарантии
                    .intro__info-inner
                        .intro__info-round
                            svg(xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none")
                                path(d="M2,24a22,22 0 1,0 44,0a22,22 0 1,0 -44,0" class="intro-percent-round mobile")
                                path(d="M3,28.5a25.5,25.5 0 1,0 51,0a25.5,25.5 0 1,0 -51,0" class="intro-percent-round desktop")
                            .intro__info-percent
                                span#counter2 58
                                span %
                        span.intro__info-name Заявка одобрена           
            li.intro__info-item.intro__info-item--fourth
                a(href="" target="_self").intro__info-link
                    h3.intro__info-title.small-title Финансирование селлеров маркетплейсов
                    .intro__info-graph
                        .intro__info-ball
        <!--SVG zone-->
        .intro__svg
            svg(class="intro__line intro__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 326 352" fill="none")
                path(class="intro__line-mask" d="M213.332 351.204C443.963 349.292 271.703 -76.579 89.621 13.7006C-112.374 113.853 73.4799 385.917 235.119 334.085")
            svg(class="intro__line intro__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 455" fill="none")
                path(class="intro__line-mask" d="M383.368 451.581C797.653 358.07 485.296 -148.426 158.827 45.1342C-203.346 259.863 132.379 553.543 422.388 419.901")
    .intro__details
        p.intro__description Оставьте заявку на любой продукт и получите решение сегодня
        .intro__controls
            a(href="#order" target="_self").intro__link Оставить&nbsp;заявку
            button(type="button").intro__btn Видео
