section.intro
    h1.intro__title.title
        span Финансируем 
        | малый и средний бизнес. Быстро, и по делу
    .intro__info
        ul.intro__info-list
            li.intro__info-item.intro__info-item--first
                h3.intro__info-title.small-title Кредит на&nbsp;исполнение контракта
                .intro__info-inner
                    span.intro__info-name Сумма кредита
                    b.intro__info-nr 7 600 000 ₽
                    .intro__info-range
                        span.range-line
                        span.range-tumbler
                        span.range-overline
                            
            li.intro__info-item.intro__info-item--second
                h3.intro__info-title.small-title Факторинг Плюс
                .intro__info-inner
                    span.intro__info-name Лимит одобрен
                    
            li.intro__info-item.intro__info-item--third
                h3.intro__info-title.small-title Банковские гарантии
                .intro__info-inner
                    span.intro__info-name Заявка одобрена
                    
            li.intro__info-item.intro__info-item--fourth
                h3.intro__info-title.small-title Финансирование селлеров маркетплейсов
                span.intro__info-graph
    .intro__details
        p.intro__description Оставьте заявку на любой продукт и получите решение сегодня
        .intro__controls
            a(href="#order" target="_self").intro__link Оставить заявку
            button(type="button").intro__btn Видео
