section.join
    .join__info
        h2.join__title.section-title Ждем в 
            span команду!
        p.join__description Приходите создавать лучшие решения для финансирования бизнеса
        a(href="https://rowi.tech/" target="_blank").join__btn Смотреть вакансии
    ul.join__gallery
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-1.webp" type="image/webp")
                img(src="static/images/content/join-1.png" width="" height="" alt="Ждем в команду").join__frame-image
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-2.webp" type="image/webp")
                img(src="static/images/content/join-2.png" width="" height="" alt="Ждем в команду").join__frame-image
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-3.webp" type="image/webp")
                img(src="static/images/content/join-3.png" width="" height="" alt="Ждем в команду").join__frame-image
    <!--SVG zone-->
    .join__svg
        svg(class="join__line" viewBox="0 0 217 293" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class="join__line-mask" d="M5.9,1c0,0,77,8.6,120,51.5c86.2,85.9-14,131.5-21.5,104.5s111.5-1,111.5,56s-131,90.8-210,53")
            path(class="join__line-top" d="M37.5,263.1c-9,5.1-24.7,4.1-31.5,3c6.7,4.7,21.4,15.7,25.9,22.4")            include ../modules/blocks/conditions
            