section.join
    .join__info
        h2.join__title.section-title Ждем в 
            span команду!
        p.join__description Приходите создавать лучшие решения для финансирования бизнеса
        a(href="https://rowi.tech/" target="_blank").join__btn Смотреть вакансии
    ul.join__gallery
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-1.webp" type="image/webp")
                img(src="static/images/content/join-1.png" width="" height="" alt="Ждем в команду").join__frame-image
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-2.webp" type="image/webp")
                img(src="static/images/content/join-2.png" width="" height="" alt="Ждем в команду").join__frame-image
        li.join__item
            picture.join__frame
                source(srcset="static/images/content/join-3.webp" type="image/webp")
                img(src="static/images/content/join-3.png" width="" height="" alt="Ждем в команду").join__frame-image
