section.materials
    h2.materials__title.section-title Материалы по теме
    
    ul.materials__list
        +materialItem('', '07.04.22', '07-04-2022', 'Факторинг — эффективный инструмент в период турбулентности', '', 'Виктор Вернов об итогах рынка факторинга за 2021 год', '#Факторинг', 'Тег1', 'Тег2', 'Тег3', 'factoring-1')
        +materialItem('', '07.04.22', '07-04-2022', 'Новые решения для новых участников рынка', '', 'Индивидуальные подходы и специализированные финансовые решения для селлеров маркетплейса', '#Факторинг', 'Тег1', 'Тег2', 'Тег3', 'factoring-1')
        +materialItem('', '07.04.22', '07-04-2022', 'Что нужно знать о кредите на исполнение контракта', '', 'Польза и возможности для малого и среднего бизнеса', '#Факторинг', 'Тег1', 'Тег2', 'Тег3', 'factoring-1')
