section.media
    .media__head
        h2.media__title.section-title Последние публикации в СМИ
        a(href="#" target="_self").media__blog Смотреть все
    ul.media__list
        +mediaItem('02.09.21', '02-09-2021', 'ROWI: оборотное финансирование поможет МСБ приспособиться к любым условиям', '#', '#', 'vc.ru', 'vc.png')
        +mediaItem('02.09.21', '02-09-2021', 'Каким будет кредитование МСБ в 2022 году: взгляд ROWI', '#', '#', 'inc.russia', 'inc.png')
        +mediaItem('02.09.21', '02-09-2021', 'Каким будет кредитование МСБ в 2022 году: взгляд ROWI', '#', '#', 'Коммерсант', 'komm.png')
        +mediaItem('02.09.21', '02-09-2021', 'Факторинг — эффективный инструмент в период турбулентности', '#', '#', 'forbes.ru', 'forbes.png')