section.meet
    h2.meet__title.section-title 
        span Познакомьтесь 
        | с продуктами ROWI
    ul.meet__list
        li.meet__item
            b.meet__name Факторинг плюс
            a(href="factoring.html" target="_self").meet__link Подробнее
        li.meet__item
            b.meet__name Кредит на&nbsp;исполнение   контракта
            a(href="credit.html" target="_self").meet__link Подробнее
        li.meet__item
            b.meet__name Банковские гарантии
            a(href="warranty.html" target="_self").meet__link Подробнее
        li.meet__item
            b.meet__name Финансирование селлеров маркетплейсов
            a(href="sellers.html" target="_self").meet__link Подробнее
