section.mission
    .mission__wrap
        h2.mission__title Миссия ROWI
        p.mission__description Открывать новые возможности для малого и среднего бизнеса — быстро и с наилучшим сервисом
        
        .mission__svg
            svg(class="mission__line" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142 98")
                path(class="mission__line-mask" d="M1.12785 88.3335C75.7444 94.42 75.6452 129.027 116.365 67.7688C155.961 8.20096 104.22 -11.7477 86.1735 10.4302C71.7363 28.1726 80.2307 39.7802 82.5337 41.3085C90.0477 46.2947 102.939 24.2176 70.3467 14.2305C29.6069 1.7466 3.57435 69.5851 131.15 91.8545M131.15 91.8545C129.934 90.4029 127.202 86.2998 126.002 81.4998M131.15 91.8545C128.646 91.5696 122.912 92.0998 120.002 96.4998")