.popup-callback.js-popup-wrap#js-popup-callback
    .popup-callback__wrapper.js-popup-inner
        button(type="button").popup-callback__closer.js-popup-closer
        
        h3.popup-callback__title Перезвоним и все расскажем, оставьте номер телефона
        p.popup-callback__description
        
        form(method="post" action="" name="callbackForm").popup-callback__form.callback-form
            .callback-form__item
                input(type="tel" name="callback-form" id="callback-form" placeholder="Ваш номер телефона" onkeydown="validationCallbackTel()" required).callback-form__input.js-phone-input
                span.callback-form__error
            button(type="sumit").callback-form__submit Отправить
            span.callback-form__agree Нажимая кнопку, вы даете  
                a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                | на обработку персональных данных. 
                a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности
