.popup-thx
    .popup-thx__wrapper
        button(type="button").popup-thx__closer
        h3.popup-thx__title Заявка отправлена
        p.popup-thx__description Менеджер позвонит вам в ближайшее время

        button(type="button").popup-thx__submit Хорошо