section.team
    .team__bio
        h2.team__title.section-title Наша команда
        p.team__description Культура компании — в стремлении каждого развиваться и становиться лучше,&nbsp;чтобы вместе достигать больших результатов.
        a(href="careers.html" target="_self").team__link Раздел карьера
    ul.team__list
        li.team__item
            picture.team__frame
                source(srcset="static/images/content/gal-1-1200.webp" type="image/webp")
                img(src="static/images/content/gal-1-1200.png" width="" height="" alt="").team__frame-image
        li.team__item
            picture.team__frame
                source(srcset="static/images/content/gal-2-1200.webp" type="image/webp")
                img(src="static/images/content/gal-2-1200.png" width="" height="" alt="").team__frame-image
        li.team__item
            picture.team__frame
                source(srcset="static/images/content/gal-3-1200.webp" type="image/webp")
                img(src="static/images/content/gal-3-1200.png" width="" height="" alt="").team__frame-image
