table.table
    thead
        tr
            th.table__head.table__head--first Критерий
            th.table__head Факторинг
            th.table__head Кредит
            th.table__head Овердрафт
            th.table__head МФО
    tbody
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Срок
        tr
            td.table__cell.table__cell--first Срок
            td.table__cell Величина отсрочки
            td.table__cell Фиксированный
            td.table__cell Фиксированный
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Залог
        tr
            td.table__cell.table__cell--first Залог
            td.table__cell Не нужен
            td.table__cell Нужен
            td.table__cell Нужен
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Сумма
        tr
            td.table__cell.table__cell--first Сумма
            td.table__cell До 95% оборота
            td.table__cell Исходя  из фин. отчетности
            td.table__cell До 50% оборота
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Погашение
        tr
            td.table__cell.table__cell--first Погашение
            td.table__cell Средства заказчика
            td.table__cell Средства клиента
            td.table__cell Средства клиента
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Условия увеличения лимита
        tr
            td.table__cell.table__cell--first Условия увеличения лимита
            td.table__cell Рост числа заказов
            td.table__cell Рост качества баланса либо или доп. обеспечение
            td.table__cell При значительном увеличении оборотов по счету
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Целевое использование
        tr
            td.table__cell.table__cell--first Целевое использование
            td.table__cell Не ограничено
            td.table__cell Строгий контроль
            td.table__cell Строгий контроль
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Цикличность
        tr
            td.table__cell.table__cell--first Цикличность
            td.table__cell Возобновляемый лимит
            td.table__cell Разовая сделка
            td.table__cell Возобновляемый лимит
            td.table__cell ???
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Отражение на балансе
        tr
            td.table__cell.table__cell--first Отражение на балансе
            td.table__cell нет
            td.table__cell Кредитное обязательство
            td.table__cell Кредитное обязательство
            td.table__cell Кредитное обязательство
            
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Доп услуги
        tr
            td.table__cell.table__cell--first Доп услуги
            td.table__cell Страхование рисков, управление дебиторской задолженностью
            td.table__cell Нет
            td.table__cell Нет
            td.table__cell ???
            
        tr.table__row
            td(colspan="5").table__cell.table__cell--title Переход на РКО
        tr
            td.table__cell.table__cell--first Переход на РКО
            td.table__cell не требуется
            td.table__cell требуется
            td.table__cell требуется
            td.table__cell требуется
