section.company
    .company__item
        .company__bio
            picture.company__frame
                source(srcset="static/images/content/team-1.webp" type="image/webp")
                img(src="static/images/content/team-1.png" width="" height="" alt="").company__frame-image
            h3.company__name Виктор Вернов
            span.company__position Основатель
            .company__svg.company__svg--first
                svg(class="company__line company__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 282 84" fill="none")
                    path(class="company__line-mask" d="M202.5 0.499769C220.5 4.50049 287.298 33.0005 280.386 59.628C269.213 102.665 8.38032 4.68594 1.03079 49.253C-2.34976 69.7525 16.386 83.1278 16.386 83.1278C15.3859 81.0123 10.2857 72.7814 9.88572 68.7814C9.50404 70.9992 8.66968 76.9042 4.38573 78.7814C0.101773 80.6585 5.88573 80.2814 5.88573 80.2814C7.05239 80.3456 9.28573 79.9585 10.8857 81.2814")
                svg(class="company__line company__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 114" fill="none")
                    path(class="company__line-mask" d="M251.238 1.82719C271.161 81.163 201.543 101.495 180.751 85.831C131.836 48.9793 267.462 -14.0181 269.229 66.8229C271.016 148.603 66.8626 103.838 1.99541 52.6742C4.83028 55.283 10.7 62.6005 11.5 71.0005C11.8333 66.1672 13.7 56.5005 18.5 56.5005C15.6667 56.3338 9.7 55.8005 8.5 55.0005")

        .company__details
            b.company__theme Наша команда стояла у истоков рынка, принесла на него понятие онлайн — факторинга и сейчас предлагает лучшие технологические решения по финансированию
            p.company__description Мы намерены и дальше упрощать и ускорять процесс получения своих услуг,&nbsp;создавая платформы для бизнеса
            p.company__description В работе мы не строим отношения «кредитор-должник», не продаём кредит или услугу. Мы покупаем. Покупаем дебиторскую задолженность. А это совершенно другой уровень партнёрских отношений и доверия
        
    .company__item
        .company__bio
            picture.company__frame
                source(srcset="static/images/content/team-2.webp" type="image/webp")
                img(src="static/images/content/team-2.png" width="" height="" alt="").company__frame-image
            h3.company__name Евгений Родионов
            span.company__position Основатель
            
            .company__svg.company__svg--second
                svg(class="company__line company__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158 84" fill="none")
                    path(class="company__line-mask" d="M93 1.5C93 65.5002 -15.2012 75.9417 3.6445 40.3841C22.7946 4.25215 105.709 31.3842 156.708 82.8841M156.708 82.8841C155.435 80.2367 152.298 72.9418 154.298 69.4418M156.708 82.8841C154.572 80.7367 148.898 76.6418 143.298 77.4418")
   
                svg(class="company__line company__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 262 110" fill="none")
                    path(class="company__line-mask" d="M260.48,55.21C203.77,29.89-4.09-23.44,49.32,15c57.76,41.57,177,51.66,153.67,87.79C188.64,125,36.23,73.61,1.52,96.15")
                    .company__top
        .company__details
            b.company__theme Только простые и удобные решения для клиента — такова философия клиентского сервиса нашей компании
            p.company__description Мы предлагаем технологический продукт, за которым стоят люди, понимающие потребности бизнеса. Убежден,&nbsp;что все наши партнёры — как поставщики, так и дебиторы — видят и ценят эту заботу
            p.company__description Мы намерены и дальше упрощать и ускорять процесс получения своих услуг, создавая&nbsp;платформы для бизнеса
