section.company
    .company__item
        .company__bio
            picture.company__frame
                source(srcset="static/images/content/team-1.webp" type="image/webp")
                img(src="static/images/content/team-1.png" width="" height="" alt="").company__frame-image
            h3.company__name Виктор Вернов
            span.company__position Основатель
            .company__svg.company__svg--first
                svg(class="company__line company__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 97" fill="none")
                    path(class="company__line-dash" d="M16,95C-16.72,53.79,11.06,45.53,70.2,56.23,129.64,67,210.09,87.26,253.78,83c39.06-3.8,5.84-61.32-84.12-81")
                    path(class="company__line-mask" d="M16,95C-16.72,53.79,11.06,45.53,70.2,56.23,129.64,67,210.09,87.26,253.78,83c39.06-3.8,5.84-61.32-84.12-81")
                    .company__top
                svg(class="company__line company__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 114" fill="none")
                    path(class="company__line-mask" d="M251.62,2c19.92,79.34-49.69,99.67-70.49,84-48.91-36.85,86.71-99.85,88.48-19C271.4,148.74,67.25,104,2.38,52.81")
                    .company__top

        .company__details
            b.company__theme Наша команда стояла у истоков рынка, принесла на него понятие онлайн — факторинга и сейчас предлагает лучшие технологические решения по финансированию
            p.company__description Мы намерены и дальше упрощать и ускорять процесс получения своих услуг,&nbsp;создавая платформы для бизнеса
            p.company__description В работе мы не строим отношения «кредитор-должник», не продаём кредит или услугу. Мы покупаем. Покупаем дебиторскую задолженность. А это совершенно другой уровень партнёрских отношений и доверия
        
    .company__item
        .company__bio
            picture.company__frame
                source(srcset="static/images/content/team-2.webp" type="image/webp")
                img(src="static/images/content/team-2.png" width="" height="" alt="").company__frame-image
            h3.company__name Евгений Родионов
            span.company__position Основатель
            
            .company__svg.company__svg--second
                svg(class="company__line company__line--mobile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 136 94" fill="none")
                    path(class="company__line-dash" d="M79.81,2.48c-8.39,37.37-43,61.14-71.1,57.31-26.42-3.6,22.66-79.56,125.63,31.73")
                    path(class="company__line-mask" d="M79.81,2.48c-8.39,37.37-43,61.14-71.1,57.31-26.42-3.6,22.66-79.56,125.63,31.73")
                    .company__top
                svg(class="company__line company__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 262 110" fill="none")
                    path(class="company__line-dash" d="M260.48,55.21C203.77,29.89-4.09-23.44,49.32,15c57.76,41.57,177,51.66,153.67,87.79C188.64,125,36.23,73.61,1.52,96.15")
                    path(class="company__line-mask" d="M260.48,55.21C203.77,29.89-4.09-23.44,49.32,15c57.76,41.57,177,51.66,153.67,87.79C188.64,125,36.23,73.61,1.52,96.15")
                    .company__top

        .company__details
            b.company__theme Только простые и удобные решения для клиента — такова философия клиентского сервиса нашей компании
            p.company__description Мы предлагаем технологический продукт, за которым стоят люди, понимающие потребности бизнеса. Убежден,&nbsp;что все наши партнёры — как поставщики, так и дебиторы — видят и ценят эту заботу
            p.company__description Мы намерены и дальше упрощать и ускорять процесс получения своих услуг, создавая&nbsp;платформы для бизнеса
