section.tool
    h2.tool__title.section-title
        | Все 
        span онлайн 
        | в личном кабинете
    p.tool__description Мы разработали собственную IT–систему, чтобы процесс получения денег был ещё проще и быстрее для вас
    p.tool__description Просто зарегистрируйтесь на платформе и получайте финансирование по нажатию кнопки
    
    picture.tool__frame
        source(media="(min-width: 1200px)" srcset="static/images/content/tool-1200.webp" type="image/webp")
        source(media="(min-width: 1200px)" srcset="static/images/content/tool-1200.png")
        source(srcset="static/images/content/tool.webp" type="image/webp")
        img(src="static/images/content/tool.png" width="" height="" alt="Личный кабинет").tool__frame-image
    .tool__info
        .tool__rounds
            svg(class="tool__round tool__round--big" width="752" height="753" viewBox="0 0 752 753" fill="none" xmlns="http://www.w3.org/2000/svg")
                ellipse(cx="376" cy="376.5" rx="374" ry="374.5" stroke="#F5AABE" stroke-width="2.14591" stroke-linecap="round" stroke-dasharray="7.15 7.15")
            svg(class="tool__round tool__round--small" width="591" height="590" viewBox="0 0 591 590" fill="none" xmlns="http://www.w3.org/2000/svg")
                ellipse(cx="295.5" cy="295.001" rx="294.5" ry="294.107" stroke="#F5AABE" stroke-opacity="0.8" stroke-width="1.68606" stroke-linecap="round" stroke-dasharray="5.62 5.62")
        ul.tool__list
            li.tool__item
                b.tool__step 01
                span.tool__text Отслеживание статусов заявок и&nbsp;платежей
            li.tool__item
                b.tool__step 02
                span.tool__text Загрузка документов
                    br
                    | в 1 клик
            li.tool__item
                b.tool__step 03
                span.tool__text Текущий баланс и платежи в&nbsp;удобных виджетах
            li.tool__item
                b.tool__step 04
                span.tool__text Понятные отчеты для&nbsp;директора&nbsp;и&nbsp;бухгалтера
