section.tool
    h2.tool__title 
        | Все 
        span онлайн 
        | в личном кабинете
    p.tool__description Мы разработали собственную IT–систему, чтобы процесс получения денег был ещё проще и быстрее для вас
    p.tool__description Просто зарегистрируйтесь на платформе и получайте финансирование по нажатию кнопки
    
    picture.tool__frame
        source(media="(min-width: 1200px)" srcset="static/images/content/tool-1200.webp" type="image/webp")
        source(media="(min-width: 1200px)" srcset="static/images/content/tool-1200.png")
        source(srcset="static/images/content/tool.webp" type="image/webp")
        img(src="static/images/content/tool.png" width="" height="" alt="Личный кабинет").tool__frame-image
    .tool__info
        ul.tool__list
            li.tool__item
                b.tool__step 01
                span.tool__text Отслеживание статусов заявок и платежей
            li.tool__item
                b.tool__step 02
                span.tool__text Загрузка документов в 1 клик
            li.tool__item
                b.tool__step 03
                span.tool__text Текущий баланс и платежи в удобных виджетах
            li.tool__item
                b.tool__step 04
                span.tool__text Понятные отчеты для директора и бухгалтера
