section.values
    h2.values__title.section-title Опираемся на 
        span ценности
    .values__info
        p.values__description Люди ROWI открыты для нестандартных идей и делают то, что обещают. Искренность с клиентами, партнёрами и друг с другом, честность и забота — основа нашей рабочей среды. 
        p.values__description Мы ценим драйв. Заряжаем энергией, вдохновляем и открываем новые горизонты! Участники команды развиваются и растут, потому что личный вклад каждого важен для ROWI.
        p.values__description Ориентируемся на ценности и создаем бизнес-атмосферу, которая привлекает и мотивирует людей дела. Технологичные финансовые решения ROWI развивают бизнес и упрощают жизнь предпринимателей.
    .values__names
        ul.values__list
            li.values__item
                span Команда
            li.values__item
                span Честность
            li.values__item
                span Драйв
            li.values__item
                span Забота
        <!--SVG Zone-->
        .values__svg
            svg(class="values__line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 408" fill="none")
                path(class="values__line-mask" d="M216.8,306.1C323.8,181.6,317.4,34,264.4,10.9c-53.6-31-158,24.4-219.6,131.2c-61.6,106.8-51.2,214.7-12.4,248  c43.6,37.4,154.4,8.5,211.9-62")
                path(class="values__line-top" d="M240.1,342.2c0.8-5.6,3.7-12.7,5-15.5c-3.2,2.5-10.2,7.7-13,8.5")
    
    ul.values__gallery
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-1.webp" type="image/webp")
                img(src="static/images/content/car-gallery-1.png" width="" height="" alt="career-team-1").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-2.webp" type="image/webp")
                img(src="static/images/content/car-gallery-2.png" width="" height="" alt="career-team-2").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-3.webp" type="image/webp")
                img(src="static/images/content/car-gallery-3.png" width="" height="" alt="career-team-3").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-4.webp" type="image/webp")
                img(src="static/images/content/car-gallery-4.png" width="" height="" alt="career-team-4").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-5.webp" type="image/webp")
                img(src="static/images/content/car-gallery-5.png" width="" height="" alt="career-team-5").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-6.webp" type="image/webp")
                img(src="static/images/content/car-gallery-6.png" width="" height="" alt="career-team-6").values__frame-image
