section.values
    h2.values__title.section-title Опираемся на 
        span ценности
    .values__info
        p.values__description Люди ROWI открыты для нестандартных идей и делают то, что обещают. Искренность с клиентами, партнёрами и друг с другом, честность и забота — основа нашей рабочей среды. 
        p.values__description Мы ценим драйв. Заряжаем энергией, вдохновляем и открываем новые горизонты! Участники команды развиваются и растут, потому что личный вклад каждого важен для ROWI.
        p.values__description Ориентируемся на ценности и создаем бизнес-атмосферу, которая привлекает и мотивирует людей дела. Технологичные финансовые решения ROWI развивают бизнес и упрощают жизнь предпринимателей.
    .values__names
        ul.values__list
            li.values__item
                span Команда
            li.values__item
                span Честность
            li.values__item
                span Драйв
            li.values__item
                span Забота
        <!--SVG Zone-->
        .values__svg
            svg(class="values__line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 305 407" fill="none")
                path(class="values__line-mask" d="M231.74,338.94C155,410,80.58,415,45.12,395.93c-57.9-31.05-57.9-143.72,0-251.65S208.14-21.13,266,9.93s53,180.21-48,294.87")
                .values__top
    
    ul.values__gallery
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-1.webp" type="image/webp")
                img(src="static/images/content/car-gallery-1.png" width="" height="" alt="career-team-1").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-2.webp" type="image/webp")
                img(src="static/images/content/car-gallery-2.png" width="" height="" alt="career-team-2").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-3.webp" type="image/webp")
                img(src="static/images/content/car-gallery-3.png" width="" height="" alt="career-team-3").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-4.webp" type="image/webp")
                img(src="static/images/content/car-gallery-4.png" width="" height="" alt="career-team-4").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-5.webp" type="image/webp")
                img(src="static/images/content/car-gallery-5.png" width="" height="" alt="career-team-5").values__frame-image
        li.values__photo
            picture.values__frame
                source(srcset="static/images/content/car-gallery-6.webp" type="image/webp")
                img(src="static/images/content/car-gallery-6.png" width="" height="" alt="career-team-6").values__frame-image
