include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            section.intro.intro--about
                h1.intro__title.title
                    | ROWI — платформа собственных 
                    span финансовых 
                    | решений для МСБ 
                .intro__info.intro__info--about
                    ul.intro__info-list
                        li.intro__info-item
                            span.intro__info-name Заявка одобрена
                .intro__details
                    p.intro__description Предоставляем клиенту самое удобное и качественное финансирование
                <!--SVG zone-->
                .intro__svg
                    svg(class="intro__line intro__line--mobile" viewBox="0 0 260 120" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="intro__line-dash" d="M2,1.66C-3.45,68,65.9,92.7,150.87,73.76c38.3-8.54,95.77-44.31,85.13,26.58")
                        path(class="intro__line-mask" d="M2,1.66C-3.45,68,65.9,92.7,150.87,73.76c38.3-8.54,95.77-44.31,85.13,26.58")

                        .intro__top
                            
                    svg(class="intro__line intro__line--desktop" viewBox="0 0 130 145" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="intro__line-dash" d="M127.25,143.1C131,95.69,112.39,17.12,2.31,1.9")
                        path(class="intro__line-mask" d="M127.25,143.1C131,95.69,112.39,17.12,2.31,1.9")

                        .intro__top
                            
            include ../modules/blocks/features
            include ../modules/blocks/mission
            include ../modules/blocks/team
            include ../modules/blocks/staff
            include ../modules/blocks/develop
            include ../modules/blocks/media
            include ../modules/blocks/meet
        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
