include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            section.intro.intro--about
                h1.intro__title.title
                    | ROWI — платформа собственных 
                    span финансовых 
                    | решений для МСБ 
                .intro__info.intro__info--about
                    ul.intro__info-list
                        li.intro__info-item
                            span.intro__info-name Заявка одобрена
                .intro__details
                    p.intro__description Предоставляем клиенту самое удобное и качественное финансирование
                <!--SVG zone-->
                .intro__svg
                    svg(class="intro__line intro__line--mobile" viewBox="0 0 240 98" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="intro__line-mask" d="M236.922 1.14194C245.952 11.7773 229.682 124.077 46.3433 62.6765C-5.12103 45.4408 5.068 88.8102 3.73049 103.468M3.73049 103.468C4.51889 100.596 6.6957 93.7525 9.0957 89.3525M3.73049 103.468C3.51889 101.263 2.6957 95.8525 1.0957 91.8525")
                            
                    svg(class="intro__line intro__line--desktop" viewBox="0 0 130 140" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="intro__line-mask" d="M14.4784 1.51446C-60.5221 62.0147 213.779 80.2043 101.501 51.9996C-1.99997 25.9997 -24.9993 68.9998 61.4778 138.515M61.4778 138.515C60.4852 137.51 57.6 133.5 54 125.5M61.4778 138.515C57.8185 136.177 49.1 131.6 43.5 132")

            include ../modules/blocks/features
            include ../modules/blocks/mission
            include ../modules/blocks/team
            include ../modules/blocks/staff
            include ../modules/blocks/develop
            include ../modules/blocks/media
            include ../modules/blocks/meet
        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
