include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            include ../modules/blocks/blog
            
            section.callback.callback--blog
                h2.callback__title.section-title Получайте письма с актуальными материалами. Быстро и по делу 
                p.callback__description Укажите ваш email
                
                form(method="post" action="#" name="callback-form").callback__form
                    .callback__nr
                        .callback__nr-field
                            input(type="email" name="email" id="email" placeholder="Email" onkeydown="validationSubscribeMail()" required).callback__input
                            span.callback__error.callback__error--subscribe
                        
                        button(type="submit").callback__submit Подписаться
                    span.callback__agree Нажимая кнопку, вы даете  
                        a(href="https://rowi.com/pravila/ROWI_Soglasie_OPD.pdf" target="_blank") согласие 
                        | на обработку персональных данных. 
                        a(href="https://rowi.com/pravila/ROWI_Politika_Konfidencialnosti.pdf" target="_blank") Политика конфиденциальности
                <!--SVG zone-->
                .callback__svg
                    svg(class="callback__line" viewBox="0 0 216 293" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="callback__line-mask" d="M5.9,1c0,0,77,8.6,120,51.5c86.2,85.9-14,131.5-21.5,104.5s111.5-1,111.5,56s-131,90.8-210,53")
                        path(class="callback__line-top" d="M37.5,263.1c-9,5.1-24.7,4.1-31.5,3c6.7,4.7,21.4,15.7,25.9,22.4")            
            include ../modules/blocks/conditions
        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/blog-filter.js")
        script(src="static/js/observer.js")
        //script(src="static/js/tags-opener.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
