include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            .error#error
                h1.error__title 
                    span Упс!
                    span Что-то пошло не так
                p.error__description Давай попробуем ещё раз позже...
                <!--SVG rounds-->
                svg(class="error-round-tb" width="461" height="461" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg")
                    ellipse(cx="230.236" cy="230.765" rx="230" ry="230" transform="rotate(-38.9585 230.236 230.765)" fill="url(#error-tb-radial)" fill-opacity="0.8")
                    defs
                        radialGradient(id="error-tb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(10.7589 460.765) rotate(-45.9213) scale(851.421 3060.01)")
                            stop(stop-color="#F6B4C6")
                            stop(offset="0.157029" stop-color="#CDA4CF")
                            stop(offset="0.335323" stop-color="#6079EA")
                            stop(offset="0.490552" stop-color="#4688DB")
                            stop(offset="0.66534" stop-color="#1FB4B4")
                            stop(offset="0.904167" stop-color="#A4D5D5")
                            stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
                svg(class="error-round-mb" width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg")
                    ellipse(cx="100.636" cy="100.636" rx="100" ry="100" transform="rotate(-38.9585 100.636 100.636)" fill="url(#error-mb-radial)" fill-opacity="0.8")
                    defs
                        radialGradient(id="error-mb-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.21108 200.636) rotate(-45.9213) scale(370.183 1330.44)")
                            stop(stop-color="#F6B4C6")
                            stop(offset="0.157029" stop-color="#CDA4CF")
                            stop(offset="0.335323" stop-color="#6079EA")
                            stop(offset="0.490552" stop-color="#4688DB")
                            stop(offset="0.66534" stop-color="#1FB4B4")
                            stop(offset="0.904167" stop-color="#A4D5D5")
                            stop(offset="1" stop-color="#00AAAA" stop-opacity="0")
                    <!-- end of SVG rounds-->
                a(href="index.html" target="_self").error__return
                    span Вернуться на главную
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js")
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/move-error.js")
        script(src="static/js/svg.js")
        block script
