include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            section.guide
                include ../modules/blocks/filter

                ul.guide__breadcrumbs.breadcrumbs
                    +breadcrumbs-item('Гайд по факторингу','#')
                    +breadcrumbs-item('Что такое факторинг')
                .guide__body
                    // Заголовок h1
                    .guide__item.guide__item-32
                        h1.guide__name Что такое факторинг
                        p.guide__text 
                            a(href="#" target="_blank").guide__text-link Факторинг 
                            | — это финансирование поставщиков товаров и услуг, которые работают на условиях отсрочки платежа.
                        //image
                        .guide__gallery
                            img(src="static/images/content/guide-image-1.png" width="" height="" alt="").guide__gallery-image
                    .guide__item.guide__item-32
                        p.guide__text Деньги поставщику выдаются в обмен на будущие платежи от покупателя
                        p.guide__text Факторинг — это комплекс услуг. Помимо финансирования, в него входит управление дебиторской задолженностью. Может включать покрытие рисков просрочки и неплатежа дебитора.

                .guide__nav.guide__nav--main
                    a(href="guide-2.html" target="_self").guide__nav-link.guide__nav-link--next 
                        span.guide__nav-text.guide__nav-text--desktop Следующий раздел
                        span.guide__nav-text.guide__nav-text--mobile Вперед

        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/guide.js")
        block script
