include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png")
        link(rel="manifest" href="/manifest.json")
        link(rel="mask-icon" href="/favicon_32x32.svg" color="#5bbad5")
        link(rel="icon" href="/favicon_32x32.svg" sizes="any" type="image/svg+xml") 
        meta(name="theme-color" content="#ffffff")
        //test ver only
        meta(name="robots" content="noindex")
        //end of test ver only
    body.body
        include ../modules/header/header
        main.main
            section.intro.intro--warranty
                h1.intro__title.title
                    | Получите&nbsp;банковскую гарантию за 
                    span 1 день
                .intro__info.intro__info--warranty
                    ul.intro__info-list
                        li.intro__info-item
                            span.intro__info-name Гарантия в реестре
                            span.intro__info-round 100
                                span %
                        li.intro__info-item.intro__info-item--big
                            b.intro__info-title Выгодные условия
                            ul.intro__list
                                li.intro__item
                                    span Сумма до 300 млн рублей
                                li.intro__item
                                    span Без залога
                                li.intro__item
                                    span Срок до 2 000 дней
                                li.intro__item
                                    span Быстрое согласование текста гарантии
                    <!--SVG zone-->
                    .intro__svg
                        svg(class="intro__line intro__line--mobile" width="198" height="177" viewBox="0 0 198 177" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(class="intro__line-mask" d="M10.1486 175.542C6.14996 31.7233 132.546 76.6827 108.462 110.335C84.3771 143.987 81.1626 -37.6894 197.269 7.89219M10.1486 175.542C10.3637 174.396 3.78582 165.359 1.52105 160.053M10.1486 175.542C10.4249 174.068 15.4011 156.542 20.0999 155.893")
                        svg(class="intro__line intro__line--desktop" width="227" height="142" viewBox="0 0 227 142" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(class="intro__line-mask" d="M6.90913 140.748C34.0276 -0.547168 147.75 70.6187 116.973 98.2832C86.1968 125.948 122.247 -52.1447 225.788 17.4089M6.90913 140.748C7.36635 139.676 2.89265 129.433 1.8257 123.763M6.90913 140.748C7.49676 139.369 16.1365 123.328 20.8646 123.708")
                        
                .intro__details
                    p.intro__description Выдаём банковские гарантии на любые цели&nbsp;без посещения офиса

                    .intro__controls
                        a(href="#order" target="_self").intro__link Оставить&nbsp;заявку
                    
            section.conditions.conditions--warranty
                h2.conditions__title.section-title Все виды гарантий  
                    span в одном месте
                p.conditions__description Обеспечение, исполнение, возврат аванса, гарантийные обязательства
                            
                .conditions__info
                    .conditions__visual
                        picture.conditions__frame
                            source(srcset="static/images/content/cond-2.webp" type="image/webp")
                            img(src="static/images/content/cond-2.png" width="" height="" alt="Все виды гарантий").conditions__frame-image
                        .conditions__block
                            .conditions__shadow
                            span.conditions__name Гарантия за 1 день
                    .conditions__details
                        h3.conditions__subtitle Для кого
                        ul.conditions__list.conditions__list--warranty
                            li.conditions__item
                                span Госзаказчиков по 44-ФЗ
                            li.conditions__item
                                span Заказчиков по 223-ФЗ
                            li.conditions__item
                                span Банка России: 86-ФЗ и 632-П ЦБ РФ
                            li.conditions__item
                                span Региональных фондов по кап.ремонту: 185-ФЗ&nbsp;и&nbsp;615-ПП&nbsp;РФ
                            li.conditions__item
                                span Региональных операторов по отходам: 89-ФЗ&nbsp;и&nbsp;1133-ПП&nbsp;РФ
                        a(href="#form" target="_self").conditions__link Оставить заявку
                        
            include ../modules/blocks/steps
            include ../modules/blocks/features
            
            section.chat.chat--warranty
                .chat__about
                    h2.chat__title.section-title
                        span Удобный контакт 
                        | с&nbsp;личным&nbsp;менеджером
                    p.chat__description Наши менеджеры отлично разбираются в&nbsp;продукте и подберут финансирование под&nbsp;вашу потребность
                ul.chat__list
                    li.chat__item.chat__item-master
                        picture.chat__frame
                            source(srcset="static/images/content/chat-master-3.webp" type="image/webp")
                            img(src="static/images/content/chat-master-3.png" width="" height="" alt="Сотрудник чата").chat__frame-image
                        p.chat__text Ваша заявка на гарантию одобрена.
                    li.chat__item.chat__item-master
                        p.chat__text После оплаты вами счёт-оферты, гарантия будет автоматически выпушена и размещена в реестр.
                    li.chat__item.chat__item-client
                        picture.chat__frame
                            source(srcset="static/images/content/chat-client-3.webp" type="image/webp")
                            img(src="static/images/content/chat-client-3.png" width="" height="" alt="Клиент чата").chat__frame-image
                        p.chat__text Оперативно, спасибо!
                <!--SVG zone-->
                .chat__svg    
                    svg(class="chat__line chat__line--mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 158 100")
                        path(class="chat__line-mask" d="M75.6525 1.44187C75.6525 65.4421 173.498 91.4995 154.652 55.9418C135.502 19.8099 52.5876 46.9419 1.58857 98.4419M1.58857 98.4419C2.86184 95.7944 5.99847 88.4995 3.99848 84.9995M1.58857 98.4419C3.72521 96.2944 9.39849 92.1995 14.9985 92.9995")
                    svg(class="chat__line chat__line--desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275 182" fill="none")
                        path(class="chat__line-mask" d="M231.57,6.65C169.53,93.1,251,179.91,268.31,152.9c25.93-40.5-53.59-76.29-155.23,6.42-41.7,33.93-85.71,21.54-108.66-2.45")
                        .chat__top
            section.about.about--warranty
                h2.about__title.section-title ROWI — ваш 
                    span надёжный 
                    | финансовый партнер
                p.about__description КИВИ банк (АО) входит в группу QIWI. QIWI PLC — одна из крупнейших компаний на российском платёжном рынке. КИВИ банк (АО) находится на первых позициях в текущем рейтинге эффективных банков по данным Коммерсант 
                    sup
                        a(href="https://www.kommersant.ru/doc/4997257" target="_blank") 1
                ul.about__list.about__list--warranty
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__nr 100
                            p.about__subtitle миллиардов рублей
                            p.about__text Сумма обеспечения
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle Tоп-3
                            p.about__text По количеству выданных гарантий
                    li.about__item
                        .about__shadow
                        .about__wrap
                            b.about__subtitle 20 000
                            p.about__text Заявок обрабатываем в месяц

            section.callback.callback--warranty
                h2.callback__title.section-title Оставьте заявку на&nbsp;гарантии и&nbsp;получите решение 
                    span сегодня
                p.callback__description Укажите телефон для&nbsp;заявки или&nbsp;консультации
                
                form(method="post" action="#" name="callback-form").callback__form
                    .callback__nr
                        .callback__nr-field
                            input(type="text" name="tel" id="tel" placeholder="Ваш номер телефона" onkeydown="validationTel()" required).callback__input.js-phone-input
                            span.callback__error
                        
                        button(type="submit").callback__submit Отправить заявку
                    span.callback__agree Нажимая кнопку, вы соглашаетесь на 
                        a(href="" target="_blank") обработку персональных данных
                    p.features__guide-about В нем собрана полезная информация о факторинге
                <!--SVG zone-->
                .callback__svg
                    svg(class="callback__line" width="212" height="288" viewBox="0 0 212 288" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(class="callback__line-mask" d="M1 1C1 1 78 9.59123 121 52.2409C207.164 137.703 107 183.08 99.5 156.26C92 129.441 211 155.265 211 211.934C211 268.602 80.0366 302.243 1 264.667M1 264.667C7.74563 265.791 23.4872 266.773 32.4883 261.717M1 264.667C7.74563 269.302 22.362 280.258 26.8626 287")

            section(class="faq " +faqClass)
                h2.faq__title.section-title Популярные 
                    span вопросы
                ul.faq__list
                    for i in faqData 
                        li.faq__wrap
                            details.faq__item
                                summary.faq__name=i.title
                                p.faq__description=i.description
            
            include ../modules/blocks/materials
        
        include ../modules/footer/footer

        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js")
        script(src="static/js/main.js")
        script(src="static/js/header-drop.js")
        script(src="static/js/observer.js")
        script(src="static/js/svg.js")
        script(src="static/js/validate.js")
        block script
