extends layout/about

block variables
	-var title = 'О компании | ROWI'	
	-var feaClass = 'features--about'
	-var featList = [{type:'fea-3', title: 'Нужные средства в нужный момент', text: 'Понимаем, что значат деньги для бизнеса, и хорошо знаем, в какой момент они нужны'}, {type:'fea-4', title: 'Лучше — значит проще и быстрее', text: 'Сделать проще и быстрее для клиента — наш подход к созданию продукта'}, {type:'fea-2', title: 'Создаётся людьми для людей', text: 'Адекватность, здравый смысл и желание помочь — ДНК нашей компании'}]
	-var featuresPlain1 = 'ROWI — это продукты, технологии и люди'
	-var featuresPlain2 = ''
	-var featuresBlue = ''
