extends layout/blog

block variables
	-var title = 'Блог | ROWI'
	-var filters = [{data: 'factoring', name: 'Факторинг'}, {data: 'credits', name: 'Кредиты'}, {data: 'warranty', name: 'Гарантии'}, {data: 'sellplus', name: 'sellplus'}, {data: 'rko', name: 'РКО'}, {data: 'news', name: 'Новости'}, {data: 'clients', name: 'Клиентам'}, {data: 'partners', name: 'Партнеры'}, {data: 'tech', name: 'Технологии'}, {data: 'press', name: 'СМИ о нас'}, {data: 'team', name: 'Команда'}, {data: 'events', name: 'Мероприятия'}, {data: 'rowi', name: 'ROWI'}]
