extends layout/career

block variables
	-var title = 'Карьера | ROWI'
	-var feaClass = 'features--career'
	-var feaClass2 = 'features--careerBlocks'
	-var featList = [{type:'fea-5', title: 'Продукты', text: 'Запускаем и развиваем финансовые решения, автоматизируем бизнес-процессы и создаем вдохновляющий клиентский опыт'}, {type:'fea-6', title: 'Продажи', text: 'Привлекаем клиентов, развивая партнерские, агентские и собственные каналы продаж'}, {type:'fea-7', title: 'Риски', text: 'Разрабатываем скоринговые стратегии, управляем рисками и доходностью финансовых продуктов'}, {type:'fea-1', title: 'IT разработка и инфраструктура', text: 'Используем agile, scrum, современный стек и микросервисную архитектуру'}, {type: 'fea-2', title: 'Сопровождение клиентов', text: 'Обеспечиваем лучший клиентский сервис с полным погружением персонального менеджера в бизнес-процессы клиента'}, {type: 'fea-3', title: 'Реклама и маркетинг', text: 'Используем самые современные инструменты продвижения, чтобы быть компанией первого выбора в сегменте МСБ'}]
	-var featuresPlain1 = 'Основные '
	-var featuresPlain2 = ''
	-var featuresBlue = 'направления'
