extends layout/credit

block variables
	-var steps = [{img: 'step-1', name: 'Заявка', description: 'Телефон, ИНН и контракт, остальное сделает менеджер'}, {img: 'step-2', name: 'Решение', description: 'Автоматический скоринг моментально выдаст лимит'}, {img: 'step-3', name: 'Деньги', description: 'Укажите номинальный счёт в контракте и получите деньги на его исполнение'}]
	-var title = 'Кредит | ROWI'	
	-var faqClass = 'faq--credit'
	-var optList1 = ['До 5 млн рублей', 'До 12 месяцев', 'Погашение ежемесячно равными долями', 'Без привязки к конкретному контракту']
	-var optList2 = ['До 50 млн рублей', 'До 15 месяцев', 'Погашение в конце срока из средств заказчика', 'До 70% от суммы контракта', 'Упрощённая выдача до 10 млн рублей']
	-var faqData = [{title: 'Какие документы потребуются для оформления КИК?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какая минимальная сумма кредита?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какой банк выдает кредит?', description: 'Кредиты выдаёт КИВИ банк (АО). КИВИ банк (АО) входит в группу QIWI. QIWI PLC — одна из крупнейших компаний на российском платёжном рынке, акции которой торгуются на бирже NASDAQ. КИВИ банк (АО) находится на первых позициях в текущем рейтинге эффективных банков по данным Коммерсант1.'}, {title: 'Нужен ли залог для получения кредита?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Когда можно получить первый транш?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}]
	-var feaClass = 'features--credit'
	-var featList = [{type:'fea-3', title: 'Без залога', text: 'Отсутствие залога при любой сумме кредита'}, {type:'fea-2', title: 'Личный менеджер', text: 'Живое общение без ботов и скриптов'}, {type:'fea-4', title: 'Быстрое решение', text: 'Упрощённое рассмотрение и выдача до 10 млн рублей'}, {type:'fea-1', title: 'Полностью онлайн', text: 'Подписание документов, управление лимитами в удобном личном кабинете'}]
	-var featuresPlain1 = ''
	-var featuresPlain2 = 'без заморочек'
	-var featuresBlue = 'Выполняйте госконтракты '
	-var stepsTitle1 = ''
	-var stepsTitleBlue = '3 шага '
	-var stepsTitle2 = 'для получения кредита'
	-var stepsClass = '--credit'
