extends layout/factoring

block variables
	-var steps = [{img: 'step-1', name: 'Заявка', description: '5 минут и 2 документа, остальное мы заполним сами'}, {img: 'step-2', name: 'Решение', description: 'Автоматический скоринг моментально выдает лимит'}, {img: 'step-3', name: 'Деньги', description: 'Выберите поставки и получите финансирование'}]
	-var title = 'Факторинг | ROWI'	
	-var faqClass = 'faq--factoring'
	-var faqData = [{title: 'Как оформить факторинг?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какие документы нужны для оформления договора факторинга?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какие условия факторинга?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Когда поступят деньги?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Когда и как происходит полный расчет с заказчиком?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}]
	-var featuresPlain1 = ''
	-var featuresPlain2 = ' — это финансирование контрактов с отсрочкой платежа'
	-var featuresBlue = 'Факторинг'
	-var stepsTitle1 = ''
	-var stepsTitleBlue = '3 шага '
	-var stepsTitle2 = 'для получения денег'
