extends layout/guide

block variables
	-var title = 'Гайд | ROWI'
	-var chapFirst = [{name: 'Что такое факторинг', link: '#factoring1', type: ''}, {name: 'Рынок', link: '#factoring2', type: ''}, {name: 'Для кого', link: '#factoring4', type: ''}, {name: 'Виды факторинга', link: '#factoring6', type: ''}, {name: 'Сравнение с другими видами финансирования', link: '#factoring11', type: ''}, {name: 'Словарь', link: '#factoring12', type: ''}]
	-var chapSecond = [{name: 'Что такое факторинг', link: ''}, {name: 'Договор', link: ''}, {name: 'Словарь', link: ''}]
	-var chapThird = [{name: 'Что такое факторинг', link: ''}, {name: 'Договор', link: ''}, {name: 'Словарь', link: ''}]
	-var chapFourth = [{name: 'Что такое факторинг', link: ''}]
	-var listItems = [{name: 'Элемент списка с каким-нибудь немного длинным текстом'}, {name: 'Элемент списка с каким-нибудь текстом'}, {name: 'Элемент списка с каким-нибудь текстом'}, {name: 'Элемент списка с каким-нибудь текстом'}]
