extends layout/guide-4

block variables
	-var title = 'Для кого | ROWI'
	-var chapFirst = [{name: 'Что такое факторинг', link: 'guide-1.html', type: ''}, {name: 'Рынок', link: 'guide-2.html', type: ''}, {name: 'Пример', link: '', type: ''}, {name: 'Для кого', link: 'guide-4.html', type: 'active'}, {name: 'Что дает', link: '', type: ''}, {name: 'Виды факторинга', link: 'guide-6.html', type: ''}, {name: 'Требования', link: '', type: ''}, {name: 'Договор', link: '', type: ''}, {name: 'Законы', link: '', type: ''}, {name: 'Учет', link: '', type: ''}, {name: 'Сравнение с другими видами финансирования', link: 'guide-11.html', type: ''}, {name: 'Словарь', link: 'dictionary.html', type: ''}]
	-var chapSecond = [{name: 'Что такое факторинг', link: ''}, {name: 'Договор', link: ''}, {name: 'Словарь', link: ''}]
	-var chapThird = [{name: 'Что такое факторинг', link: ''}, {name: 'Договор', link: ''}, {name: 'Словарь', link: ''}]
	-var chapFourth = [{name: 'Что такое факторинг', link: ''}]
	-var listItems = [{name: 'есть или планируется контракт с отсрочкой платежа'}, {name: 'нет залога, чтобы получить кредит в банке'}, {name: 'есть потребность в оборотных средствах'}, {name: 'ваш бизнес подвержен сезонности или скачкам спроса'}, {name: 'если вы хотите расти и расширяться'}]
