extends layout/warranty

block variables
	-var steps = [{img: 'step-1', name: 'Заявка', description: 'Номер телефона, ИНН и контракт, остальное сделает менеджер'}, {img: 'step-2', name: 'Решение', description: 'Одобрение за 1 день и быстрое согласование текста гарантии'}, {img: 'step-3', name: 'Гарантия', description: 'Размещение в реестре в день выдачи'}]
	-var title = 'Гарантии | ROWI'	
	-var faqClass = 'faq--warranty'
	-var faqData = [{title: 'Как оформить факторинг?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какие документы нужны для оформления договора факторинга?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Какие условия факторинга?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Когда поступят деньги?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}, {title: 'Когда и как происходит полный расчет с заказчиком?', description: 'Услуга факторинга доступна для юр лиц любых форм: ИП, ООО, ЗАО и тд. Диапазон финансирования от 1 до 300 млн руб. Залог не требуется. РОВИ не оценивает финансовое состояние поставщика. Мы оцениваем контракт и дебитора. Финансирование происходит полностью онлайн через личный кабинет.'}]
	-var feaClass = 'features--warranty'
	-var featList = [{type:'fea-3', title: 'Гибкие условия', text: 'С учетом размера гарантии, количества и условий контракта'}, {type:'fea-1', title: 'Лучший сервис', text: 'Быстрое согласование и внесение правок в текст гарантий'}, {type:'fea-2', title: 'Личный менеджер', text: 'Живое общение без ботов и скриптов'}, {type:'fea-4', title: 'Быстрое рассмотрение', text: 'Экспресс-рассмотрение и моментальная выдача гарантий до 10 млн рублей '}]
	-var featuresPlain1 = ''
	-var featuresPlain2 = 'без заморочек'
	-var featuresBlue = 'Получайте гарантии '
	-var stepsTitle1 = ''
	-var stepsTitleBlue = '3 шага '
	-var stepsTitle2 = 'для получения гарантии'
	-var stepsClass = '--warranty'
