@keyframes animation-ball {
  to {
      motion-offset: 0%;
      offset-distance: 100%;
  }
}

@keyframes re-animation-ball {
  to {
      motion-offset: 0%;
      offset-distance: 0%;
      opacity: 0;
  }
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dashReverse {
    //from {
        //stroke-dashoffset: calc(var(--pathLength) * (-1));
    //}
    to {
        stroke-dashoffset: calc(var(--pathLength) * 2);
    }
}

@keyframes undash {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: var(--pathLength);
    }
}

@keyframes undash-tech {
    from {
        stroke-dashoffset: 0;
        opacity: 1;
    }

    to {
        stroke-dashoffset: var(--pathLength);
        opacity: 0;
    }
}

@keyframes undashReverse {
    from {
        stroke-dashoffset: calc(var(--pathLength) * 2);
    }

    to {
        stroke-dashoffset: var(--pathLength);
    }
}

@keyframes fadeInStatic {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutStatic {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translate(0, -7vh);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInTop58 {
    0% {
        opacity: 0;
        transform: translate(0, -58px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInTop98 {
    0% {
        opacity: 0;
        transform: translate(0, -98px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, 7vh);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-60px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInLeftInner {
    0% {
        opacity: 0;
        transform: translate(-20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutLeftInner {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-20px, 0);
    }
}

@keyframes fadeInLeftInner2 {
    0% {
        opacity: 0;
        transform: translate(-6px, -3px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }

    @media only screen and (min-width: 1200px) {
        0% {
            opacity: 0;
            transform: translate(-10px, -6px);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

@keyframes fadeInRightInner {
    0% {
        opacity: 0;
        transform: translate(20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutRightInner {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(20px, 0);
    }
}

@keyframes fadeInRightInner2 {
    0% {
        opacity: 0;
        transform: translate(-38px, -40px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }

    @media only screen and (min-width: 1200px) {
        0% {
            opacity: 0;
            transform: translate(-50px, -40px);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

@keyframes fadeOutRightInner2 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    @media only screen and (min-width: 1200px) {
        0% {
            opacity: 1;
            transform: translate(0, 0);
        }

        100% {
            opacity: 0;
            transform: translate(-10px, -10px);
        }
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-75px, 0);
    }
}

@keyframes fadeInLeftArrow {
    0% {
        opacity: 0;
        transform: translate(-75px, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes fadeOutLeftArrow {
    0% {
        opacity: 1;
        transform: translate(0, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-75px, -50%);
    }
}

@keyframes fadeInLeftArrowD {
    0% {
        opacity: 0;
        transform: translate(-64px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutLeftArrowD {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-64px, 0);
    }
}

@keyframes fadeInLeftArrowD86 {
    0% {
        opacity: 0;
        transform: translate(-74px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutLeftArrowD86 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-74px, 0);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(60px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInRightF {
    0% {
        opacity: 0;
        transform: translate(60px, 20px);
    }

    100% {
        opacity: 1;
        transform: translate(-64px, 20px);
    }
}


@keyframes fadeInRightV {
    0% {
        opacity: 0;
        transform: translate(60px, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(0, -50%);
    }
}


@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(100px, 0);
    }
}

@keyframes fadeInBottomO {
    0% {
        visibility: hidden;
        transform: translate(0, toRem(30));
    }

    100% {
        visibility: visible;
        transform: translate(0, 0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translate(0, toRem(30));
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInBottomV {
    0% {
        opacity: 0;
        transform: translate(0, -40%);
    }

    100% {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -7vh);
    }
}

@keyframes fadeInBottom30 {
    0% {
        opacity: 0;
        transform: translate(0, toRem(30));
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInBottom1 {
    0% {
        opacity: 0;
        transform: translate(-70px, -68px);
    }

    100% {
        opacity: 1;
        transform: translate(-30px, -68px);
    }
}

@keyframes fadeInBottom2 {
    0% {
        opacity: 0;
        transform: translate(-129px, -161px);
    }

    100% {
        opacity: 1;
        transform: translate(-89px, -161px);
    }
}


@keyframes fadeInBottom3 {
    0% {
        opacity: 0;
        transform: translate(-62px, 24px);
    }

    100% {
        opacity: 1;
        transform: translate(-22px, 24px);
    }
}


@keyframes fadeInBottom4 {
    0% {
        opacity: 0;
        transform: translate(-111px, 136px);
    }

    100% {
        opacity: 1;
        transform: translate(-71px, 136px);
    }
}


@keyframes moveX {
    from {
        left: 0;
    }

    to {
        left: calc(100vw - 100px);
    }
}

@keyframes moveY {
    from {
        top: 0;
    }

    to {
        top: calc(100vh - 100px);
    }
}


@keyframes moveXt {
    from {
        left: 0;
    }

    to {
        left: calc(100vw - 230px);
    }
}

@keyframes moveYt {
    from {
        top: 0;
    }

    to {
        top: calc(100vh - 230px);
    }
}
