@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Stolzl', '../fonts/Stolzl/Stolzl-Light', 300, 'normal');
@include font-face('Stolzl', '../fonts/Stolzl/Stolzl-Regular', 400, 'normal');
@include font-face('Stolzl', '../fonts/Stolzl/Stolzl-Book', 350, 'normal');
@include font-face('Stolzl', '../fonts/Stolzl/Stolzl-Medium', 500, 'normal');
@include font-face('Stolzl', '../fonts/Stolzl/Stolzl-Bold', 700, 'normal');
