// Colors
$white: #fff;
$dark: #14004B;
$blue: #4164EE;
$pink: #F5AABE;
$green: #00AAAA;
$red: #ED3636;
$yellow: #FFE100;
// Sizes
$base-font-size: 16px;
// Fonts
$primary-font: 'Stolzl', sans-serif;
$book-font: 'Stolzl Book', sans-serif;
$text-black: $dark;
$text-white: $white;

$cubic: cubic-bezier(.33,0,.25,1 );
$menuItems: 4;
$filterItems: 5;
$jobItems: 5;

$transition-duration: 0.5s;
$tr-delay: 0.3333s;
