.c-intro {
    width: 100%;
    padding: 0 calc((100% - 343px) / 2);
    margin-bottom: 0;
    @include flex-setting(column, flex-start, center);

    &__title {
        order: 1;
        margin-bottom: toRem(24);
        @include font-setting($primary-font, toRem(28), toRem(32), 500, $dark);
        
        span {
            color: $blue;
        }
    }

    &__description {
        order: 2;
        margin-bottom: toRem(48);
        max-width: toRem(530);
        @include font-setting($primary-font, toRem(14), toRem(20), 400, $dark);
        text-align: left;
        letter-spacing: toRem(0.14);
    }

    &__list {
        display: none;
    }

    &__visual {
        order: 4;
        position: relative;
        width: 100%;
        @include flex-setting(column, center, center);
        padding-right: 0;
        padding-top: toRem(54);
        margin-bottom: toRem(54);

        &-img {
            width: toRem(188);
            height: toRem(164);
            object-fit: contain;
        }
    }

    &__search {
        order: 3;
    }
}

@include min-screen(1200px) {
    .c-intro {
        display: grid;
        grid-template-columns: toRem(634) 1fr;
        justify-content: start;
        align-items: start;
        column-gap: toRem(40);
        padding: 0;
        padding-bottom: toRem(48);
    
        &__title {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-bottom: toRem(40);
            font-size: toRem(44);
            line-height: 115%;
        }
    
        &__description {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-bottom: toRem(40);
            font-size: toRem(18);
            line-height: 130%;
            letter-spacing: toRem(0.18);
        }

        &__visual {
            width: auto;
            align-items: flex-start;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            padding-top: toRem(8);
            margin-bottom: 0;
        }

        &__search {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }
}