.callback {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    --width: calc(100% - 343px);
    padding: toRem(48) calc(var(--width) / 2) toRem(56) calc(var(--width) / 2);
    margin-bottom: toRem(48);

    &__title {
        margin-bottom: toRem(24);

        span {
            color: $blue;
        }
    }

    &__description {
        @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
        text-align: left;
        margin-bottom: toRem(94);
        align-self: flex-start;

        &--main {
            margin-bottom: toRem(40);
        }
    }
    
    &__form {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &.form_wrap {
            &.submitted {
                padding-left: 0;

                .callback__description {
                    margin-bottom: 0;
                    text-align: left;
                }

                .form_desc {
                    text-align: left;
                }
            }
        }
    }

    &__list {
        width: 100%;
        gap: toRem(24);

        @include flex-setting(column, flex-start, center);

        margin-bottom: toRem(48);
    }

    &__steps {
        width: 100%;
        gap: toRem(24);

        @include flex-setting(column, flex-start, center);

        margin-bottom: toRem(40);

        &-item {
            width: 100%;
            @include flex-setting(row, flex-start, flex-start);
            gap: toRem(10);
        }

        &-nr {
            @include flex-setting(column, center, center);
            width: toRem(22);
            min-width: toRem(22);
            height: toRem(22);
            @include font-setting($primary-font, toRem(16), 100%, 400, $dark);
            letter-spacing: 0.01em;
            background-color: #F0F3FD;
            border-radius: toRem(4);
        }

        &-data {
            @include flex-setting(column, flex-start, flex-start);
            width: 100%;
            gap: toRem(8);
        }

        &-name {
            @include font-setting($primary-font, toRem(16), 100%, 400, $dark);
            padding: toRem(4) 0;
            letter-spacing: 0.01em;
        }

        &-about {
            max-width: toRem(280);
            @include font-setting($primary-font, toRem(14), 120%, 400, rgba(20, 0, 75, 0.50));
            text-align: left;
            letter-spacing: 0.01em;
        }
    }

    &__wrap {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        padding: toRem(40) toRem(16) toRem(48) toRem(16);
        background-color: #F0F3FD;
        border-radius: toRem(16);

        &.submitted {
            padding-left: 0;

            .callback__description {
                margin-bottom: 0;
                text-align: left !important;
            }

            .form_desc {
                text-align: left !important;
            }
        }
    }

    &__item {
        width: 100%;
        @include flex-setting(row, flex-start, center);
    }

    &__checkbox {
        display: none;
    }

    &__label {
        @include font-setting($primary-font, toRem(16), toRem(21), 400, $dark);
        letter-spacing: 0.01em;
    }

    &__checkbox + label {
        @include checkbox-default;
    }

    &__checkbox + label::before {
        @include custom-checkbox;
    }

    &__checkbox:checked + label::after {
        @include checkbox-checked;
    }

    &__nr {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        &-field {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            position: relative;
            margin-bottom: toRem(24);
        }

        &-check {
            width: 100%;
            margin-bottom: toRem(54);
        }
    }

    &__input {
        width: 100%;
        background-color: transparent;
        padding: 0;
        padding-bottom: toRem(4);
        border: none;
        border-bottom: toRem(2) solid $dark;
        margin-bottom: 0;
        @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);

        cursor: text;
        position: relative;

        &::-webkit-input-placeholder {
            color: $dark;
            opacity: 0.4;
        }
        &::-moz-placeholder {
            color: $dark;
            opacity: 0.4;
        }
        &:-ms-input-placeholder {
            color: $dark;
            opacity: 0.4;
        }
        &:-moz-placeholder {
            color: $dark;
            opacity: 0.4;
        }

        &.invalid {
            border-color: $red;
        }
    }

    &__error {
        @include font-setting($book-font, toRem(14), toRem(22), 350, $red);
        position: absolute;
        bottom: toRem(-24);
        left: 0;

        &.hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__submit {
        width: 100%;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
        letter-spacing: 0.02em;
        background-color: $blue;
        border: none;
        border-radius: toRem(6);

        padding: toRem(15) 0;

        cursor: pointer;
        outline: none;
        margin-bottom: toRem(16);
        transition: 0.35s $cubic;

        &:active {
            opacity: 0.8;
            transition: 0.35s $cubic;
        }
    }

    &__agree {
        @include font-setting($primary-font, toRem(10), toRem(16), 400, $dark);
        text-align: left;
        letter-spacing: 0.01em;

        a {
            color: $dark;
            text-decoration: underline;
        }
    }

    &__svg {
        display: none;
    }

    &--factoring {
        padding-bottom: toRem(56);

        .callback__title {
            margin-bottom: toRem(40);
        }

        .callback__form {
            margin-bottom: toRem(56);
        }

        .callback__guide {
            opacity: 1;
        }
    }

    &--warranty {
        .callback__title {
            max-width: 85%;
            align-self: flex-start;
            margin-bottom: toRem(40);
        }

        .callback__description {
            margin-bottom: toRem(16);
        }

        .callback__nr-field {
            margin-bottom: toRem(22);
        }

        .callback__input {
            width: 100%;
            @include font-setting($primary-font, toRem(14), toRem(22), 400, $dark);
            padding: toRem(22) toRem(10) toRem(4) 0;
            margin-bottom: 0;
            border: none; 
            border-bottom: toRem(2) solid $dark;
            background-color: transparent;
        }
    
        .callback__submit {
            background-color: $blue;
            height: toRem(48);
            font-size: toRem(15);
            line-height: 120%;
            letter-spacing: 0.3px;
        }
    
        .callback__agree {
            letter-spacing: 0.01em;
    
            a {
                color: $dark;
                text-decoration: underline;
            }
        }
    }

    &--credit {
        .callback__title {
            margin-bottom: toRem(40);
        }
    }

    &--blog {
        .callback__title {
            margin-bottom: toRem(40);
        }
    }

    &--page {
        padding-top: toRem(76);

        .callback__title {
            margin-bottom: toRem(73);
        }

        .callback__nr-field {
            // margin-bottom: toRem(56);
        }

        .callback__nr-check {
            margin-bottom: toRem(56);
        }
    }
}

@include min-screen(1200px) {
    .callback {
        --width: calc(100% - 1032px);
        align-items: flex-start;
        min-height: toRem(576);
        padding-top: toRem(48);
        padding-bottom: toRem(56);
        margin-bottom: toRem(112);

        position: relative;

        &.loaded {
            .callback__svg {
                animation: fadeInStatic 0s linear forwards 0.1s;
            }
    
            .callback__line-mask {
                animation: dash 0.3s linear forwards 0.1s;
            }

            .callback__line-top {
                animation: dash 0.2s ease-out forwards 0.4s;
            }
        }

        &__title {
            margin-bottom: toRem(40);
            max-width: 80%;
        }

        &__description {
            width: 100%;
            font-size: toRem(18);
            line-height: toRem(23);
            margin-bottom: toRem(40);
            max-width: toRem(589);
        }

        &__form {
            align-items: flex-start;
        }

        &__list {
            max-width: toRem(650);
            gap: toRem(24) toRem(32);

            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: toRem(72);
        }

        &__item {
            width: auto;
        }

        &__steps {
            gap: toRem(16);
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: toRem(48);
            
            &-item {
                gap: toRem(16);

                width: toRem(240);

                &:last-of-type {
                    width: toRem(256);
                }
            }
    
            &-nr {
                width: toRem(40);
                min-width: toRem(40);
                height: toRem(40);
                font-size: toRem(18);
            }
    
            &-data {
                gap: toRem(12);
            }
    
            &-name {
                font-size: toRem(18);
                line-height: 130%;
                padding: toRem(8) 0;
            }
    
            &-about {
                max-width: toRem(200);
            }
        }
    
        &__wrap {
            max-width: toRem(680);
            padding: toRem(48) toRem(48) toRem(56) toRem(48);
            border-radius: toRem(22);

            &.submitted {
    
                .callback__description {
                    text-align: center !important;
                }
    
                .form_desc {
                    text-align: center !important;
                }
            }
        }

        &__label {
            font-size: toRem(18);
            line-height: toRem(23);
        }

        &__nr {
            width: 100%;
            max-width: toRem(638);
            // flex-direction: row;
            // justify-content: flex-start;
            // align-items: flex-start;
            // flex-wrap: nowrap;

            display: grid;
            grid-template-columns: toRem(394) 1fr;
            column-gap: toRem(16);
            row-gap: toRem(16);
            justify-content: space-between;
            align-items: start;
            margin-bottom: toRem(30);

            &-field {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                width: 100%;
                // margin-bottom: toRem(30);
                margin-bottom: 0;
                margin-right: toRem(16);
            }

            &-check {
                width: 100%;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }

        &__input {
            max-width: toRem(394);
            padding-bottom: toRem(16);
            padding-top: toRem(16);
            font-size: toRem(18);
            line-height: toRem(23);
            border-width: toRem(2);
        }

        &__submit {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: auto;
            white-space: nowrap;
            padding-left: toRem(24);
            padding-right: toRem(24);
            margin-bottom: 0;
            font-size: toRem(18);
            line-height: toRem(23);
            letter-spacing: 0.02em;

            &:hover,
            &:focus {
                opacity: 0.86;
                transition: 0.35s $cubic;
            }
        }

        &__agree {
            font-family: $book-font;
            font-weight: 400;
            font-size: toRem(14);
            line-height: toRem(22);
            max-width: toRem(564);

            a {
                color: $dark;
                text-decoration: underline;
            }
        }

        &__svg {
            display: block;
            opacity: 0;
            width: toRem(212);
            height: toRem(288);
            position: absolute;
            right: calc((100% - 814px) / 2);
            top: toRem(139);
        }
    
        &__line {
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &__line-mask {
            fill: none;
            stroke: $dark;
            stroke-linecap: round;
            stroke-width: 2px;
            animation: undash 0s $cubic forwards;
            z-index: 2;
        }

        &__line-top {
            fill: none;
            stroke: $dark;
            stroke-linecap: round;
            stroke-width: 2px;
            animation: undash 0s $cubic forwards;
            z-index: 2;
        }
    
        &--page {
            .callback__description {
                margin-bottom: toRem(72);
            }

            .callback__nr-field {
                margin-bottom: toRem(24);
            }
        }
        &--factoring {
            margin-bottom: toRem(112);
            padding-bottom: toRem(56);
            background-color: #fff;
            min-height: toRem(400);

            .callback__description {
                margin-bottom: toRem(72);
            }

            &::after {
                width: toRem(473);
                height: toRem(545);

                left: auto;
                right: toRem(-222);
                top: toRem(202);
            }

            .callback__form {
                margin-bottom: 0;
            }

            .callback__guide {
                opacity: 1;
                display: flex;
                position: absolute;
                bottom: toRem(-323);
                --width: calc(100% - 960px);
                right: calc(var(--width) / 2);
            }

            .callback__svg {
                top: toRem(80);
                right: calc((100% - 800px) / 2);
            }
        }

        &--warranty {
            align-items: center;
            max-width: toRem(768);
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;

            .callback__title {
                margin-bottom: toRem(48);
                text-align: center;
                align-self: center;
            }

            .callback__description {
                margin-bottom: toRem(40);
            }

            .callback__form {
                max-width: toRem(509);

                .callback__nr {
                    grid-template-columns: toRem(266) toRem(227);
                }
            }

            .callback__nr {
                margin-bottom: toRem(24);
                align-items: flex-end;
            }
    
            .callback__nr-field {
                margin-bottom: 0;

            }
    
            .callback__input {
                width: 100%;
                font-size: toRem(18);
                margin-bottom: toRem(0);
                line-height: 130%;
                padding: toRem(0) toRem(10) toRem(17) 0;
                margin-bottom: 0;
                border: none; 
                border-bottom: toRem(2) solid $dark;
                background-color: transparent;
            }
        
            .callback__submit {
                height: toRem(56);
                font-size: toRem(18);
                letter-spacing: 0.36px;
            }
        
            .callback__agree {
                letter-spacing: 0.01em;
            }
        }
        &--page {
            padding-top: toRem(160);
        }

        &--credit {
            min-height: toRem(400);
            .callback__title {
                max-width: 80%;
            }

            .callback__description {
                margin-bottom: toRem(72);
                letter-spacing: 0.01em;
            }

            .callback__input {
                font-size: toRem(18);
                line-height: toRem(23);
                line-height: 0.01em;

                margin-bottom: toRem(0);
            }

            .callback__svg {
                top: toRem(80);
                right: calc((100% - 800px) / 2);
            }
        }

        &--blog {
            min-height: toRem(400);
            &.loaded {
                .callback__svg {
                    animation: fadeInStatic 0s linear forwards 0.1s;
                }
        
                .callback__line-mask {
                    animation: dash 0.4s ease-out forwards 0.1s;
                }
            }
            
            .callback__description {
                margin-bottom: toRem(72);
            }

            .callback__nr {
                max-width: toRem(590);
            }

            .callback__svg {
                display: block;
                opacity: 0;
                width: toRem(162);
                height: toRem(221);
                position: absolute;
                top: toRem(108);
                right: calc((100% - 800px) / 2);
            }
        
            .callback__line {
                position: absolute;
                top: 0;
                left: 0;
            }
        
            .callback__line-mask {
                fill: none;
                stroke: $dark;
                stroke-linecap: round;
                stroke-width: 2px;
                animation: undash 0s $cubic forwards;
                z-index: 2;
            }
        
        }
    }
}

@include min-screen(1440px) {
    .callback {
        &::after {
            --width: calc(100% - 1032px);
            left: calc((var(--width) / 2) + 874px);
        }

        &--blog::after {
            width: toRem(1514);
            height: toRem(410);
            left: calc((var(--width) / 2) + 759px);
        }

        &--credit {
            &::after {
                left: auto;
                right: toRem(-1750);
            }
        }

        &--factoring {
            &::after {
                left: auto;
                right: toRem(-175);
            }
        }
    }
}

@include min-screen(1920px) {
    .callback {
        &::after {
            left: calc((var(--width) / 2) + 910px);
        }

        &--warranty,
        &--page {
            &::after {
                left: calc((var(--width) / 2) + 1028px);
            }
        }

        &--credit {
            &::after {
                left: auto;
                right: toRem(-1700);
            }
        }

        &--blog {
            &::after {
                left: calc((var(--width) / 2) + 800px);
            }
        }

        &--factoring {
            &::after {
                left: auto;
                right: toRem(-195);
            }
        }
    }
}
