.check {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);
    padding: toRem(40) 0 toRem(56) 0;
    margin-bottom: toRem(48);

    &.is-active {
        margin-bottom: 0;
        padding-top: toRem(48);

        .c-intro {
            margin-bottom: 0;
        }

        .c-intro__title,
        .c-intro__description,
        .c-intro__list,
        .c-intro__visual {
            display: none;
        }

        .a-search {
            &__submit {
                display: none;
            }

            &__input {
                margin-bottom: 0;
            }
        }

        .check__options {
            display: none;
        }
    }
}

@include min-screen(1200px) {
    .check {
        width: 100%;
        padding: toRem(112) calc((100% - 1032px) / 2) 0 calc((100% - 1032px) / 2);
        margin-bottom: toRem(112);

        &.is-active {
            padding-top: toRem(112);
            .c-intro {
                padding-bottom: toRem(40);
            }
            .a-search {
                flex-direction: column;
                justify-content: flex-start;
            }

            .a-search__wrap {
                grid-template-columns: 1fr;
            }

            .a-search__label {
                align-self: flex-start;
                text-align: left;
                display: block;
                margin-bottom: toRem(26);
                font-size: toRem(15);
                line-height: toRem(18);
                font-weight: 400;
                letter-spacing: toRem(0.3);
            }
        }
    }
}