.dictionary {
    width: 100%;
    max-width: toRem(343);

    padding: toRem(16) 0 0 0;

    @include flex-setting(column, flex-start, flex-start);

    & > * {
        &:not(:first-child) {
            padding-top: toRem(32);
        }

        &:not(:last-child) {
            padding-bottom: toRem(32);
            border-bottom: 1px solid #E3E3E3;
        }
    }

    &__item {
        width: 100%;

        @include flex-setting(column, center, center);
    }

    &__name {
        display: none;
    }

    &__text {
        width: 100%;
        @include font-setting($book-font, toRem(14), toRem(25), 350, $gray);
        text-align: left;
        letter-spacing: 0.01em;

        &-name {
            font-family: $primary-font;
            font-weight: 500;
            font-size: toRem(16);
            line-height: toRem(29);
            letter-spacing: 0.02em;
            color: $titles;
        }
    }
}

@include min-screen(1200px) {
    .dictionary {
        grid-area: body;
        max-width: 100%;
        padding-top: toRem(40);

        &__item {
            display: grid;
            grid-template-columns: 35.26170798898072% 61.43250688705234%;
            grid-column-gap: toRem(24);
            justify-content: space-between;
            align-items: start;
        }

        &__name {
            display: block;
            @include font-setting($primary-font, toRem(18), toRem(32), 500, $titles);
            align-self: start;
            justify-self: start;
        }

        &__text {
            font-size: toRem(15);
            line-height: toRem(27);
            font-family: $primary-font;
            font-weight: 400;

            &-name {
                display: none;
            }

            span {
                display: none;
            }
        }
    }
}

@include min-screen(1440px) {
    .dictionary {
        &__item {
            grid-template-columns: 33.24675324675325% 63.63636363636364%;
        }
    }
}
