.features {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(48) toRem(16);
    margin-bottom: toRem(48);

    &__title {
        margin-bottom: toRem(40);

        span {
            color: $blue;
        }
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);

        width: 100%;

        gap: toRem(48);
    }

    &__item {
        position: relative;

        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding-left: toRem(40);

        &:first-of-type {
            .features__description {
                max-width: 70%;
            }
        }

        &:nth-of-type(3) {
            .features__description {
                max-width: 82%;
            }
        }

        &:last-of-type {
            .features__description {
                max-width: 82%;
            }
        }
    }

    &__icon {
        position: absolute;

        width: toRem(32);
        height: toRem(32);

        left: 0;
        top: 0;

        @include flex-setting(column, center, center);

        &::after {
            position: absolute;
            content: '';

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            position: absolute;
            content: '';

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 47%;
            left: 47%;
            transform: translate(-50%, -50%);
        }

        &.fea-1 {
            &::after {
                width: toRem(21);
                height: toRem(24);

                background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4112 0.386914C11.0164 -0.112037 10.2617 -0.119414 9.85599 0.371712L0.595877 11.5824C0.0600359 12.2311 0.514701 13.2104 1.35555 13.2186L4.31162 13.2475C4.86387 13.2529 5.30664 13.705 5.30055 14.2573L5.21445 22.0731C5.20837 22.6254 5.65113 23.0775 6.20339 23.0829L14.5631 23.1646C15.1153 23.1701 15.568 22.7267 15.574 22.1745L15.6601 14.3586C15.6662 13.8064 16.1189 13.3631 16.6711 13.3685L19.6271 13.3974C20.468 13.4056 20.9441 12.4354 20.4227 11.7764L11.4112 0.386914Z' fill='%23F5AABE'/%3E%3C/svg%3E%0A");
            }

            &::before {
                width: toRem(21);
                height: toRem(24);

                background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4112 0.386914C11.0164 -0.112037 10.2617 -0.119414 9.85599 0.371712L0.595877 11.5824C0.0600359 12.2311 0.514701 13.2104 1.35555 13.2186L4.31162 13.2475C4.86387 13.2529 5.30664 13.705 5.30055 14.2573L5.21445 22.0731C5.20837 22.6254 5.65113 23.0775 6.20339 23.0829L14.5631 23.1646C15.1153 23.1701 15.568 22.7267 15.574 22.1745L15.6601 14.3586C15.6662 13.8064 16.1189 13.3631 16.6711 13.3685L19.6271 13.3974C20.468 13.4056 20.9441 12.4354 20.4227 11.7764L11.4112 0.386914Z' fill='%2314004B'/%3E%3C/svg%3E%0A");
            }
        }

        &.fea-2 {
            &::after {
                width: toRem(21);
                height: toRem(22);
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7543 0.142822C12.0856 0.142822 13.3623 0.704725 14.3037 1.70492C15.2451 2.70511 15.7739 4.06167 15.7739 5.47615C15.7739 6.89064 15.2451 8.2472 14.3037 9.24739C13.3623 10.2476 12.0856 10.8095 10.7543 10.8095C9.42302 10.8095 8.14626 10.2476 7.20491 9.24739C6.26355 8.2472 5.7347 6.89064 5.7347 5.47615C5.7347 4.06167 6.26355 2.70511 7.20491 1.70492C8.14626 0.704725 9.42302 0.142822 10.7543 0.142822ZM10.7543 13.4762C16.301 13.4762 20.7935 15.8628 20.7935 18.8095V21.4762H0.715088V18.8095C0.715088 15.8628 5.20764 13.4762 10.7543 13.4762Z' fill='%23F5AABE'/%3E%3C/svg%3E");
            }

            &::before {
                width: toRem(21);
                height: toRem(22);
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7543 0.142822C12.0856 0.142822 13.3623 0.704725 14.3037 1.70492C15.2451 2.70511 15.7739 4.06167 15.7739 5.47615C15.7739 6.89064 15.2451 8.2472 14.3037 9.24739C13.3623 10.2476 12.0856 10.8095 10.7543 10.8095C9.42302 10.8095 8.14626 10.2476 7.20491 9.24739C6.26355 8.2472 5.7347 6.89064 5.7347 5.47615C5.7347 4.06167 6.26355 2.70511 7.20491 1.70492C8.14626 0.704725 9.42302 0.142822 10.7543 0.142822ZM10.7543 13.4762C16.301 13.4762 20.7935 15.8628 20.7935 18.8095V21.4762H0.715088V18.8095C0.715088 15.8628 5.20764 13.4762 10.7543 13.4762Z' fill='%2314004B'/%3E%3C/svg%3E");
            }
        }

        &.fea-3 {
            &::after {
                width: toRem(22);
                height: toRem(23);
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7959 14.4813H1.93384C1.38155 14.4813 0.933838 14.0336 0.933838 13.4813V11.8667C0.933838 11.3144 1.38155 10.8667 1.93384 10.8667H12.6654C13.5497 10.8667 14.2745 10.7417 14.8399 10.4917C15.4053 10.2417 15.8221 9.88753 16.0903 9.4292C16.3585 8.97086 16.4925 8.4292 16.4925 7.8042C16.4925 7.19309 16.3585 6.641 16.0903 6.14795C15.8221 5.65489 15.4125 5.26253 14.8617 4.97086C14.3108 4.6792 13.6222 4.53337 12.7959 4.53337H9.77299C9.22071 4.53337 8.77299 4.98108 8.77299 5.53337V21.2C8.77299 21.7523 8.32528 22.2 7.77299 22.2H5.09777C4.54548 22.2 4.09777 21.7523 4.09777 21.2V1.8667C4.09777 1.31442 4.54548 0.866699 5.09777 0.866699H12.7959C14.5572 0.866699 16.0649 1.16878 17.3189 1.77295C18.5801 2.37017 19.5441 3.18962 20.211 4.23128C20.8778 5.266 21.2076 6.43961 21.2004 7.75212C21.2076 9.12711 20.8706 10.3181 20.1892 11.325C19.5079 12.332 18.5366 13.1098 17.2754 13.6584C16.0142 14.207 14.521 14.4813 12.7959 14.4813ZM12.633 15.8563C13.1853 15.8563 13.633 16.304 13.633 16.8563V18.4709C13.633 19.0231 13.1853 19.4709 12.633 19.4709H1.93384C1.38155 19.4709 0.933838 19.0231 0.933838 18.4709V16.8563C0.933838 16.304 1.38155 15.8563 1.93384 15.8563H12.633Z' fill='%23F5AABE'/%3E%3C/svg%3E%0A");
            }

            &::before {
                width: toRem(22);
                height: toRem(23);
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7959 14.4813H1.93384C1.38155 14.4813 0.933838 14.0336 0.933838 13.4813V11.8667C0.933838 11.3144 1.38155 10.8667 1.93384 10.8667H12.6654C13.5497 10.8667 14.2745 10.7417 14.8399 10.4917C15.4053 10.2417 15.8221 9.88753 16.0903 9.4292C16.3585 8.97086 16.4925 8.4292 16.4925 7.8042C16.4925 7.19309 16.3585 6.641 16.0903 6.14795C15.8221 5.65489 15.4125 5.26253 14.8617 4.97086C14.3108 4.6792 13.6222 4.53337 12.7959 4.53337H9.77299C9.22071 4.53337 8.77299 4.98108 8.77299 5.53337V21.2C8.77299 21.7523 8.32528 22.2 7.77299 22.2H5.09777C4.54548 22.2 4.09777 21.7523 4.09777 21.2V1.8667C4.09777 1.31442 4.54548 0.866699 5.09777 0.866699H12.7959C14.5572 0.866699 16.0649 1.16878 17.3189 1.77295C18.5801 2.37017 19.5441 3.18962 20.211 4.23128C20.8778 5.266 21.2076 6.43961 21.2004 7.75212C21.2076 9.12711 20.8706 10.3181 20.1892 11.325C19.5079 12.332 18.5366 13.1098 17.2754 13.6584C16.0142 14.207 14.521 14.4813 12.7959 14.4813ZM12.633 15.8563C13.1853 15.8563 13.633 16.304 13.633 16.8563V18.4709C13.633 19.0231 13.1853 19.4709 12.633 19.4709H1.93384C1.38155 19.4709 0.933838 19.0231 0.933838 18.4709V16.8563C0.933838 16.304 1.38155 15.8563 1.93384 15.8563H12.633Z' fill='%2314004B'/%3E%3C/svg%3E%0A");
            }
        }

        &.fea-4 {
            &::after {
                width: toRem(17);
                height: toRem(25);
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='25' viewBox='0 0 17 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9784 0.816219C13.1235 0.900766 13.2358 1.03227 13.297 1.18925C13.3581 1.34623 13.3645 1.5194 13.315 1.68048L10.6441 10.4006H15.5722C15.717 10.4006 15.8587 10.4431 15.9797 10.523C16.1007 10.6029 16.1958 10.7167 16.2532 10.8503C16.3106 10.9839 16.3278 11.1315 16.3027 11.2748C16.2776 11.4181 16.2113 11.5509 16.112 11.6568L4.24789 24.3227C4.13309 24.4454 3.98033 24.5254 3.81451 24.5496C3.64869 24.5739 3.47958 24.541 3.33475 24.4563C3.18992 24.3716 3.07791 24.2401 3.01697 24.0833C2.95604 23.9264 2.94977 23.7535 2.99919 23.5926L5.67009 14.871H0.742046C0.597222 14.871 0.455552 14.8285 0.334523 14.7485C0.213494 14.6686 0.118405 14.5548 0.0609951 14.4212C0.00358475 14.2877 -0.0136338 14.1401 0.0114648 13.9968C0.0365635 13.8535 0.10288 13.7207 0.202229 13.6148L12.0663 0.948839C12.181 0.826351 12.3335 0.746435 12.4991 0.722087C12.6647 0.697738 12.8336 0.730389 12.9784 0.814729V0.816219Z' fill='%23F5AABE'/%3E%3C/svg%3E%0A");
            }

            &::before {
                width: toRem(17);
                height: toRem(25);
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='25' viewBox='0 0 17 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9784 0.816219C13.1235 0.900766 13.2358 1.03227 13.297 1.18925C13.3581 1.34623 13.3645 1.5194 13.315 1.68048L10.6441 10.4006H15.5722C15.717 10.4006 15.8587 10.4431 15.9797 10.523C16.1007 10.6029 16.1958 10.7167 16.2532 10.8503C16.3106 10.9839 16.3278 11.1315 16.3027 11.2748C16.2776 11.4181 16.2113 11.5509 16.112 11.6568L4.24789 24.3227C4.13309 24.4454 3.98033 24.5254 3.81451 24.5496C3.64869 24.5739 3.47958 24.541 3.33475 24.4563C3.18992 24.3716 3.07791 24.2401 3.01697 24.0833C2.95604 23.9264 2.94977 23.7535 2.99919 23.5926L5.67009 14.871H0.742046C0.597222 14.871 0.455552 14.8285 0.334523 14.7485C0.213494 14.6686 0.118405 14.5548 0.0609951 14.4212C0.00358475 14.2877 -0.0136338 14.1401 0.0114648 13.9968C0.0365635 13.8535 0.10288 13.7207 0.202229 13.6148L12.0663 0.948839C12.181 0.826351 12.3335 0.746435 12.4991 0.722087C12.6647 0.697738 12.8336 0.730389 12.9784 0.814729V0.816219Z' fill='%2314004B'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__name {
        @include font-setting($primary-font, toRem(18), toRem(22), 500, $dark);
        margin-bottom: toRem(8);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(20), 400, $dark);
        text-align: left;
        max-width: 80%;
    }
}
