.intro {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(16) toRem(16) toRem(56) toRem(16);
    margin-bottom: toRem(48);

    &__title {
        margin-bottom: toRem(40);

        span {
            color: $blue;
        }
    }

    &__info {
        width: 100%;

        @include flex-setting(column, center, center);

        margin-bottom: toRem(40);

        position: relative;

        &::before {
            position: absolute;
            content: '';

            top: toRem(-60);
            left: toRem(-30);

            background-image: url("data:image/svg+xml,%3Csvg width='476' height='464' viewBox='0 0 476 464' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M472.73 99.6757C471.311 99.3051 470.561 100.059 470.561 101.856C470.561 104.976 464.032 113.657 461.629 113.734C460.758 113.762 459.418 111.433 458.652 108.561C457.33 103.606 457.332 103.198 458.704 100.669C459.5 99.2041 462.675 96.8688 465.759 95.4813C468.843 94.0938 471.572 92.1286 471.823 91.1134C472.4 88.7852 466.267 88.9941 462.241 91.4391C460.566 92.4557 459.197 92.5519 459.197 91.6514C459.197 90.7528 458.975 88.5951 458.704 86.8549C458.381 84.7787 458.659 83.6761 459.516 83.6486C460.233 83.6256 460.82 82.2499 460.82 80.5915C460.82 76.346 458.094 76.926 456.433 81.5263C455.667 83.6455 454.134 85.8377 453.026 86.3979C451.466 87.1877 450.761 86.2373 449.9 82.1863C449.29 79.3112 447.634 74.2809 446.222 71.0095C443.924 65.6879 443.552 65.4084 442.686 68.3549C441.78 71.4334 434.846 74.9244 434.846 72.3031C434.846 71.6478 436.124 69.5626 437.686 67.6672C439.546 65.4123 440.527 62.8216 440.527 60.1682C440.527 57.4565 441.064 56.0987 442.151 56.0638C443.044 56.0351 443.774 56.8781 443.774 57.9374C443.774 62.3437 450.975 70.0809 455.026 70.0273C460.522 69.9574 464.067 67.6907 464.067 64.2472C464.067 60.4982 461.652 60.7124 456.675 64.9046C452.822 68.1481 452.578 68.1338 451.521 64.5896C449.949 59.3151 450.662 57.8008 454.78 57.6686C458.304 57.5555 458.385 57.406 458.396 51.0193C458.402 47.4269 458.594 42.6706 458.823 40.4521C459.495 33.9296 454.197 26.7509 450.03 28.535C447.344 29.6846 446.444 29.1524 444.839 25.469C443.114 21.512 442.037 21.0321 435.241 21.1819C428.406 21.3349 427.389 20.8751 425.758 16.889L423.933 12.4246L427.563 12.1675C429.56 12.025 431.921 11.1812 432.811 10.2923C434.274 8.83013 434.158 8.32533 431.593 4.99438C429.278 1.98911 427.12 1.40056 419.829 1.79739C410.516 2.30333 407.089 3.89928 381.594 19.615C360.841 32.4064 334.834 46.0419 309.902 57.2006C288.373 66.8349 276.066 73.8232 268.446 80.7376C265.706 83.2216 263.271 83.7784 258.705 82.9621C253.936 82.11 250.242 83.0606 241.659 87.3564C235.632 90.3722 225.405 95.3377 218.932 98.3898C212.458 101.442 203.326 106.252 198.639 109.08C193.951 111.908 186.646 115.359 182.405 116.751C178.164 118.142 170.31 122.563 164.953 126.575C144.143 142.16 127.477 152.35 120.309 153.874C114.971 155.009 108.597 158.735 96.6341 167.722C79.2588 180.771 71.559 185.439 63.1805 188C59.2519 189.201 57.9117 190.428 57.6325 193.085C57.3719 195.555 56.1568 196.929 53.4936 197.758C51.1283 198.493 46.0299 203.664 39.8171 211.627L29.9111 224.324L31.084 232.518C31.7285 237.024 32.1611 240.892 32.045 241.113C31.9281 241.336 30.0068 242.672 27.7746 244.084C22.1958 247.616 17.9327 254.316 13.1039 267.141C6.04773 285.88 2.3853 310.652 7.74742 303.374C9.48286 301.016 15.1932 300.067 15.1932 302.136C15.1932 302.793 14.4879 305.809 13.6258 308.833C12.7638 311.86 11.4448 318.153 10.6956 322.814C9.29941 331.503 6.93403 337.452 2.10517 344.426C-2.95257 351.732 1.79594 350.408 9.0112 342.501C12.7304 338.426 16.3523 335.073 17.0593 335.051C21.9847 334.892 14.7078 353.158 7.27905 359.599C3.41288 362.952 2.20588 364.916 2.20588 367.855C2.20588 371.134 2.80323 371.691 6.19699 371.582C9.57935 371.474 10.4269 370.635 11.7556 366.073L13.3238 360.694L15.1786 365.228L17.0333 369.761L18.3304 364.427C19.9498 357.765 20.5407 357.726 21.9181 364.191C22.8906 368.757 23.13 368.973 24.0724 366.132C25.6853 361.268 26.5571 362.245 26.5571 368.919L26.5571 374.949L20.5569 375.142C14.9731 375.321 14.5252 375.657 14.0893 379.973C13.8174 382.657 12.413 386.075 10.7539 388.088C9.17759 390 7.88784 392.543 7.88784 393.737C7.88784 400.459 18.0341 415.388 27.9775 423.297C32.1067 426.582 35.4859 430.1 35.4859 431.113C35.4859 432.128 33.1847 433.032 30.3721 433.122C24.8817 433.298 23.3102 435.435 23.3102 442.726C23.3102 448.027 25.4645 451.371 28.8088 451.264C30.5677 451.208 31.4143 449.837 32.1408 445.864L33.114 440.542L34.9087 449.293C36.2488 455.827 37.4234 458.612 39.5444 460.281C42.2555 462.413 42.4301 462.259 43.3611 456.894C44.5949 449.78 46.5502 447.639 47.0973 452.802C47.7848 459.29 51.5154 461.316 62.2722 461.039C72.2375 460.781 72.5849 460.619 81.7531 451.918C89.5366 444.531 92.9084 442.52 102.046 439.819C108.073 438.037 115.743 434.632 119.092 432.251C137.705 419.011 154.805 408.586 171.041 400.581C190.67 390.905 207.842 381.087 223.384 370.656C228.735 367.063 238.049 362.569 244.082 360.667C250.116 358.766 257.061 355.311 259.517 352.989C262.725 349.957 267.18 348.23 275.345 346.86C290.721 344.278 312.175 333.881 324.019 323.269C327.377 320.26 331.854 318.475 338.63 317.439C344.003 316.619 351.159 314.17 354.534 311.999C357.908 309.829 369.049 303.658 379.291 298.287C395.083 290.007 408.991 280.931 431.33 264.329C435.833 260.983 440.083 251.184 441.01 242.005C441.288 239.253 441.799 236.991 442.144 236.98C442.491 236.969 445.099 232.973 447.942 228.102C454.019 217.683 455.95 215.522 455.95 219.137C455.95 223.024 451.981 231.576 447.427 237.502L443.368 242.784L447.205 242.753C451.963 242.717 455.085 238.15 458.493 226.241C459.904 221.311 462.642 212.982 464.579 207.735C468.118 198.144 472.996 180.429 472.996 177.166C472.996 176.201 472.229 176.041 471.292 176.806C469.842 177.993 469.669 177.57 470.13 173.965C470.608 170.215 470.345 169.739 467.841 169.819C461.453 170.024 460.597 164.47 466.299 159.818C469.223 157.433 470.329 155.357 470.91 151.167C471.932 143.799 470.97 141.975 468.731 147.036C466.209 152.739 464.346 154.091 463.293 150.983C462.591 148.909 462.993 148.056 465.185 146.966C466.858 146.135 468.492 143.586 469.283 140.571C470.895 134.424 469.663 134.034 466.512 139.693C463.582 144.953 454.26 156.18 452.78 156.229C451.921 156.259 452.014 155.231 453.154 152.076C454.45 148.489 454.497 147.623 453.482 146.066C451.578 143.144 448.248 144.019 444.132 148.519C442.023 150.826 440.146 152.341 439.96 151.887C439.774 151.434 441.342 146.383 443.444 140.665C447.521 129.574 449.419 127.525 457.979 124.977C466.069 122.569 471.003 118.116 473.365 111.087C475.88 103.605 475.704 100.451 472.73 99.6757ZM463.255 198.692C462.251 199.374 461.632 198.804 461.632 197.202C461.632 195.777 462.362 194.113 463.255 193.506C464.259 192.824 464.879 193.393 464.879 194.995C464.879 196.421 464.148 198.084 463.255 198.692ZM426.323 74.6634C425.206 74.6992 424.293 73.8239 424.293 72.7184C424.293 71.6127 425.206 70.6789 426.323 70.6431C427.439 70.6073 428.352 71.4825 428.352 72.5881C428.352 73.6937 427.439 74.6276 426.323 74.6634ZM421.718 24.3074C420.408 26.3736 419.563 26.4351 417.711 24.5949C414.311 21.2164 414.83 18.7473 418.969 18.6144C423.111 18.4815 424.104 20.5401 421.718 24.3074ZM412.524 26.1341C411.854 26.7928 410.666 26.7366 409.886 26.0119C408.638 24.8518 408.712 24.3431 410.494 21.8275C411.61 20.2519 412.797 18.9233 413.132 18.8723C414.27 18.7031 413.748 24.9329 412.524 26.1341ZM254.968 102.82C254.643 103.636 253.816 104.322 253.131 104.344C252.218 104.373 252.127 103.781 252.79 102.12C253.286 100.873 254.113 100.186 254.626 100.594C255.139 101.001 255.294 102.003 254.968 102.82ZM244.973 108.627C244.116 108.654 242.8 108.111 242.047 107.42C240.962 106.423 241.219 105.585 243.292 103.36C246.601 99.8079 246.53 99.7818 246.53 104.556C246.53 107.179 245.988 108.594 244.973 108.627ZM68.2244 441.602C66.1878 440.691 65.9086 436.002 67.8867 435.938C68.8835 435.906 69.5775 437.183 69.5775 439.046C69.5775 440.92 69.0256 441.962 68.2244 441.602ZM60.3127 446.232C58.945 446.276 57.9003 440.251 58.8581 437.848C59.2478 436.871 59.9694 438.329 60.4913 441.147C61.2438 445.211 61.2088 446.204 60.3127 446.232ZM44.7531 408.539C39.9624 408.692 40.2433 403.923 45.0868 402.885C47.7183 402.32 48.4732 402.855 48.4732 405.289C48.4732 407.667 47.5795 408.448 44.7531 408.539ZM43.5331 229.314C41.4536 232.595 41.1678 232.405 41.1678 227.738C41.1678 225.527 41.3204 223.712 41.5071 223.706C41.6938 223.7 42.3772 223.174 43.0258 222.538C44.8343 220.761 45.2686 226.573 43.5331 229.314ZM39.1385 442.892C38.4689 442.913 37.9209 441.463 37.9209 439.67C37.9209 436.999 38.141 436.853 39.1385 438.871C39.8082 440.227 40.3561 441.676 40.3561 442.092C40.3561 442.51 39.8082 442.87 39.1385 442.892ZM35.8917 412.843C35.2221 412.865 34.6742 411.526 34.6742 409.867C34.6742 408.209 35.2221 406.834 35.8917 406.813C36.5614 406.791 37.1093 408.131 37.1093 409.789C37.1093 411.447 36.5614 412.822 35.8917 412.843ZM30.4127 420.859C28.9614 420.795 26.8614 420.116 25.7454 419.352L23.7161 417.96L26.5254 413.562C28.0708 411.142 29.532 409.873 29.7723 410.738C30.0126 411.605 30.8494 412.876 31.6303 413.567C34.1856 415.819 33.3235 420.987 30.4127 420.859ZM29.2624 395.634C28.4451 397.684 26.5571 397.327 26.5571 395.121C26.5571 394.056 27.2876 392.191 28.1805 390.979C29.4362 389.274 29.8039 389.399 29.8039 391.525C29.8039 393.039 29.5603 394.888 29.2624 395.634ZM25.2689 264.417C23.9685 265.637 22.4174 267.078 21.8216 267.617C19.9425 269.322 21.3061 263.7 23.5497 260.496C25.2112 258.123 25.9053 257.972 26.6602 259.818C27.4159 261.665 27.1058 262.692 25.2689 264.417ZM21.2265 428.061C18.9416 425.963 18.0504 430.742 19.6259 436.645C20.7452 440.839 21.2062 441.388 21.7631 439.192C22.8808 434.784 22.6186 429.339 21.2265 428.061ZM18.44 284.752C17.5471 284.781 16.8166 283.9 16.8166 282.794C16.8166 281.688 17.5471 280.76 18.44 280.731C19.3329 280.703 20.0634 281.584 20.0634 282.69C20.0634 283.795 19.3329 284.723 18.44 284.752ZM16.9684 423.962C16.4384 423.541 16.0049 424.63 16.0049 426.381C16.0049 428.13 16.5829 429.544 17.2899 429.522C18.7233 429.476 18.4741 425.156 16.9684 423.962ZM14.8547 400.11C14.2215 400.732 13.5024 399.947 13.2565 398.367C12.961 396.469 13.3514 395.475 14.4066 395.441C16.254 395.382 16.5479 398.446 14.8547 400.11Z' fill='%23F5AABE'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            width: toRem(476);
            height: toRem(464);
            z-index: -1;
        }

        &-list {
            width: 100%;

            display: grid;
            grid-template-columns: 47.8134110787172% 47.8134110787172%;
            grid-template-rows: toRem(175) toRem(175);
            grid-column-gap: toRem(15);
            grid-row-gap: toRem(71);

            justify-content: center;
            align-items: start;
        }

        &-item {
            @include flex-setting(column, flex-start, flex-start);

            height: 100%;
            background-color: $white;
            box-shadow: toRem(2) toRem(13) toRem(35) rgba(0, 0, 0, 0.12);
            border-radius: toRem(12);
            padding: toRem(16) toRem(16);

            position: relative;
            z-index: 2;

            &:first-of-type {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                .intro__info-inner {
                    width: toRem(90);
                    padding: toRem(8) toRem(5) toRem(5) toRem(5);

                    align-self: flex-end;
                    margin-top: auto;
                    margin-bottom: 0;
                }
            }

            &:nth-of-type(2) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                margin-top: toRem(56);

                .intro__info-inner {
                    width: toRem(68);
                    padding: toRem(48) toRem(15) toRem(8) toRem(15);

                    position: relative;
                    border-radius: toRem(8);

                    align-self: flex-end;
                    margin-top: auto;
                    margin-bottom: 0;

                    &::before {
                        position: absolute;
                        content: '';

                        width: 100%;
                        height: 100%;

                        border: toRem(2) solid $pink;
                        border-radius: toRem(10);

                        z-index: -1;

                        top: toRem(-10);
                        left: toRem(-10);
                    }

                    &::after {
                        position: absolute;
                        content: '';

                        width: toRem(20);
                        height: toRem(20);

                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.92234 1.64733C5.3845 1.64733 1.70665 5.32518 1.70665 9.86301C1.70665 14.4008 5.3845 18.0787 9.92234 18.0787C14.4602 18.0787 18.138 14.4008 18.138 9.86301C18.138 5.32518 14.4602 1.64733 9.92234 1.64733ZM0.212891 9.86301C0.212891 4.5002 4.55952 0.153564 9.92234 0.153564C15.2852 0.153564 19.6318 4.5002 19.6318 9.86301C19.6318 15.2258 15.2852 19.5725 9.92234 19.5725C4.55952 19.5725 0.212891 15.2258 0.212891 9.86301ZM14.4338 7.34321C14.7255 7.63488 14.7255 8.10778 14.4338 8.39946L9.45462 13.3787C9.16295 13.6703 8.69005 13.6703 8.39837 13.3787L5.41085 10.3911C5.11918 10.0995 5.11918 9.62656 5.41085 9.33489C5.70253 9.04321 6.17542 9.04321 6.4671 9.33489L8.9265 11.7943L13.3776 7.34321C13.6693 7.05153 14.1422 7.05153 14.4338 7.34321Z' fill='%234164EE'/%3E%3C/svg%3E");

                        top: toRem(17);
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .intro__info-name {
                    max-width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            &:nth-of-type(3) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                margin-top: toRem(-56);

                position: relative;

                .intro__info-inner {
                    width: toRem(55);
                    padding: toRem(33) toRem(6) toRem(6) toRem(6);
                    border-radius: toRem(6);
                    background: $white;
                    box-shadow: 2.85932px 2.85932px 14.7761px rgba(48, 69, 130, 0.3);

                    align-self: flex-end;
                    margin-top: auto;
                    margin-bottom: 0;

                    position: relative;

                    &::after {
                        position: absolute;
                        content: '';

                        width: toRem(20);
                        height: toRem(19);

                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.773438' width='18.33' height='18.33' rx='9.16498' fill='%234164EE'/%3E%3Cpath d='M14.6943 9.10742H12.8709C12.4718 9.10742 12.1484 9.43074 12.1484 9.82993V10.4216C12.1484 10.8208 12.4718 11.1441 12.8709 11.1441H14.6943' stroke='white' stroke-width='0.752749' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6779 13.6908H6.54958C5.98695 13.6908 5.53125 13.2351 5.53125 12.6725V7.58083C5.53125 7.0182 5.98695 6.5625 6.54958 6.5625H13.6779C14.2405 6.5625 14.6962 7.0182 14.6962 7.58083V12.6725C14.6962 13.2351 14.2405 13.6908 13.6779 13.6908Z' stroke='white' stroke-width='0.752749' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.1319 6.56184L9.45524 4.88515C9.25615 4.68607 8.93385 4.68607 8.73528 4.88515L7.05859 6.56184' stroke='white' stroke-width='0.752749' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.1113 5.5435L10.7697 4.88515C10.9688 4.68607 11.2911 4.68607 11.4896 4.88515L13.1663 6.56184' stroke='white' stroke-width='0.752749' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

                        top: toRem(10);
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .intro__info-name {
                    max-width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            &:last-of-type {
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                overflow: hidden;

                position: relative;

                .intro__info-title {
                    margin-bottom: toRem(31);
                }

                .intro__info-graph {
                    display: block;
                    width: 100%;
                    height: toRem(93);
                    position: absolute;

                    margin-bottom: 0;

                    bottom: 0;
                    left: toRem(-50);

                    &::after {
                        position: absolute;
                        content: '';

                        width: toRem(270);
                        height: toRem(93);

                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='254' height='93' viewBox='0 0 254 93' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M129.362 61.63C125.628 66.2623 121.22 69.5349 115.559 69.5685C107.481 69.6165 102.903 66.8087 98.4624 64.0855L98.3232 64.0002C93.9036 61.2903 89.5687 58.6806 81.6941 58.7273C77.2111 58.754 73.6685 60.7008 70.5252 63.723C67.3905 66.7369 64.7193 70.7538 61.9581 74.9058L61.8574 75.0572C59.0908 79.217 56.2282 83.5003 52.7808 86.7367C49.3039 90.0009 45.1782 92.2534 39.8907 92.2848L1.3917 92.5136C1.39153 92.5136 1.39145 92.5136 1.38825 91.5101C1.38506 90.5066 1.38514 90.5066 1.3853 90.5066L39.8843 90.2778C44.5373 90.2502 48.2015 88.2928 51.4195 85.2718C54.667 82.2229 57.4042 78.1456 60.1977 73.9451L60.365 73.6936C63.0749 69.6182 65.851 65.4432 69.1464 62.2746C72.5391 59.0126 76.5482 56.7509 81.6877 56.7203C90.1366 56.6701 94.868 59.5277 99.3668 62.2861L99.4731 62.3512C103.868 65.0462 108.043 67.6061 115.553 67.5615C120.348 67.533 124.247 64.791 127.811 60.3692C131.306 56.0343 134.345 50.2534 137.495 44.26L137.712 43.8486C140.914 37.7578 144.24 31.4885 148.234 26.6145C152.238 21.728 157.015 18.1187 163.152 17.546C173.98 16.5355 180.581 23.3313 186.834 29.9109L187.093 30.1835C193.352 36.7705 199.335 43.0672 209.025 43.0096C214.575 42.9767 220.028 40.4405 225.139 36.5261C230.243 32.6165 234.924 27.393 238.907 22.1358C242.885 16.8839 246.142 11.6307 248.406 7.68737C249.537 5.71682 250.419 4.07604 251.017 2.92957C251.316 2.3564 251.544 1.90696 251.697 1.60182C251.773 1.44926 251.831 1.33279 251.869 1.25497C251.888 1.21608 251.902 1.18685 251.911 1.1676L251.922 1.14626L251.924 1.1413L251.925 1.14016C252.166 0.640866 252.763 0.431132 253.259 0.671707C253.755 0.912292 253.962 1.51207 253.722 2.01136L253.001 1.66207C253.722 2.01142 253.722 2.01175 253.721 2.01224L253.72 2.0141L253.717 2.02066L253.705 2.04524L253.686 2.0844L253.659 2.13923C253.639 2.18117 253.613 2.23319 253.582 2.29494C253.553 2.35434 253.519 2.42273 253.48 2.49984C253.323 2.81438 253.09 3.27382 252.785 3.85751C252.177 5.02478 251.282 6.68965 250.136 8.68674C247.844 12.6787 244.54 18.0088 240.495 23.3488C236.453 28.6836 231.648 34.0608 226.347 38.1211C221.052 42.1768 215.182 44.9801 209.031 45.0166C198.472 45.0794 191.94 38.2 185.836 31.7703C185.686 31.6129 185.537 31.4559 185.388 31.2992C179.053 24.634 173.082 18.6345 163.331 19.5445C157.939 20.0477 153.605 23.2133 149.774 27.8879C145.933 32.5749 142.7 38.6528 139.477 44.7824C139.388 44.9524 139.298 45.1225 139.209 45.2926C136.101 51.2057 132.982 57.1391 129.362 61.63ZM0.389622 91.516C0.387857 90.9618 0.833775 90.5099 1.3853 90.5066L1.38825 91.5101L1.3917 92.5136C0.840166 92.5169 0.391387 92.0703 0.389622 91.516Z' fill='url(%23paint0_linear_27_3847)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_27_3847' x1='121.872' y1='32.4282' x2='137.344' y2='73.4906' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2321E5C2'/%3E%3Cstop offset='0.401042' stop-color='%2357B5FB'/%3E%3Cstop offset='0.703125' stop-color='%23848DF5'/%3E%3Cstop offset='1' stop-color='%23DF5ABB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        &-inner {
            @include flex-setting(column, flex-start, center);

            background-color: $white;
            box-shadow: 0px 2.15256px 8.80593px -0.978437px rgba(85, 99, 136, 0.46);
            border-radius: toRem(4);
        }

        &-name {
            @include font-setting($primary-font, toRem(8), toRem(12), 400, $dark);
            margin-bottom: toRem(3);
        }

        &-nr {
            @include font-setting($primary-font, toRem(10), toRem(15), 500, $dark);
            letter-spacing: 0.01em;
            margin-bottom: toRem(3);
        }

        &-range {
            width: 100%;
            height: toRem(6);
            position: relative;

            @include flex-setting(column, center, center);

            .range-line {
                height: toRem(0.6);
                width: 100%;
                background-color: $dark;
                opacity: 0.15;
                z-index: 0;
            }

            .range-tumbler {
                position: absolute;
                width: toRem(5.5);
                height: toRem(5.5);
                border-radius: toRem(2.25);
                background-color: $blue;
                opacity: 0.5;
                top: 50%;
                left: toRem(60);
                z-index: 2;
                transform: translateY(-50%);
            }

            .range-overline {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: toRem(60);
                height: toRem(0.6);
                background: $pink;
                border-radius: toRem(4);
                z-index: 1;
            }
        }
    }

    &__details {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(20), 400, $dark);
        letter-spacing: 0.01em;
        text-align: left;

        margin-bottom: toRem(24);
    }

    &__controls {
        width: 100%;

        @include flex-setting(row, space-between, center);
    }

    &__link {
        width: 100%;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
        letter-spacing: 0.02em;
        text-decoration: none;
        background-color: $dark;
        border-radius: toRem(6);

        padding: toRem(15) toRem(32);
        margin-right: toRem(16);
    }

    &__btn {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(15), toRem(18), 500, $dark);

        padding: toRem(15) toRem(24) toRem(15) toRem(48);
        position: relative;
        background-color: transparent;
        border: none;

        cursor: pointer;
        outline: none;

        &::after {
            position: absolute;
            content: '';

            width: toRem(24);
            height: toRem(24);

            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%2314004B' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 8L16 12L10 16V8Z' stroke='%2314004B' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 50%;
            left: toRem(16);
            transform: translateY(-50%);
        }
    }
}
