.media {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    --width: calc(100% - 343px);
    padding: toRem(48) calc(var(--width) / 2) toRem(56) calc(var(--width) / 2);
    margin-bottom: toRem(48);

    &__head {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        margin-bottom: toRem(40);
    }

    &__title {
        margin-bottom: toRem(18);
    }

    &__blog {
        @include font-setting($primary-font, toRem(18), toRem(22), 500, $blue);
        position: relative;
        padding: toRem(5) toRem(48) toRem(5) 0;
        text-decoration: none;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
    
            width: toRem(32);
            height: toRem(32);

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='31' height='12' viewBox='0 0 31 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6L28 6' stroke='%234164EB' stroke-width='2'/%3E%3Cpath d='M31 6L24.8125 11.1962L24.8125 0.803847L31 6Z' fill='%234164EB'/%3E%3C/svg%3E");
        }
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        gap: toRem(32);
    }

    &__item {
        position: relative;
        @include flex-setting(column, flex-start, center);
        width: 100%;
    }

    &__link {
        display: grid;
        grid-template-columns: 1fr toRem(96);
        grid-template-rows: toRem(24) 1fr;
        grid-column-gap: toRem(16);
        text-decoration: none;

        &:active {
            .media__outer {
                opacity: 0.86;
                transition: 0.2s $cubic;
            }
        }
    }

    &__info {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        @include flex-setting(column, flex-start, flex-start);

        text-decoration: none;
    }

    &__visual {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        width: 100%;
        height: toRem(80);
        border-radius: toRem(12);
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__date {
        @include font-setting($book-font, toRem(12), toRem(16), 350, rgba(20, 0, 75, 0.42));
        margin-bottom: toRem(8);
    }

    &__name {
        @include font-setting($primary-font, toRem(14), toRem(17), 500, $dark);
        text-decoration: none;
        text-align: left;
        margin-bottom: toRem(8);
        letter-spacing: 0.02em;
    }

    &__outer {
        @include font-setting($primary-font, toRem(14), toRem(22), 500, $blue);
        text-decoration: none;
        letter-spacing: 0.01em;
        transition: 0.2s $cubic;
    }
}

@include min-screen(1200px) {
    .media {
        --width: calc(100% - 1032px);
        margin-bottom: toRem(112);
    
        &__head {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: toRem(56);
        }
    
        &__title {
            margin-bottom: 0;
            margin-right: toRem(30);
        }
    
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: toRem(56) toRem(56);
            justify-content: start;
            align-self: start;
        }
    
        &__item {
            padding: toRem(20) toRem(20);
        }
    
        &__link {
            grid-template-columns: 1fr toRem(120);
            grid-template-rows: toRem(47) 1fr;
            grid-column-gap: toRem(40);

            &:hover {
                .media__outer {
                    opacity: 0.8;
                    transition: 0.2s $cubic;
                }
            }
        }
    
        &__visual {
            height: toRem(100);
            border-radius: toRem(22);
        }
    
        &__date {
            font-size: toRem(18);
            line-height: toRem(23);
            margin-bottom: toRem(24);
        }
    
        &__name {
            font-size: toRem(18);
            line-height: toRem(22);
            margin-bottom: toRem(18);
        }
    
        &__outer {
            font-size: toRem(18);
            line-height: toRem(28);
            transition: 0.2s $cubic;
        }
    }
}

@include min-screen(1440px) {
    .media {
        &__head {
            justify-content: flex-start;
        }
    }
}