.mission {
    width: 100%;

    --width: calc(100% - 343px);
    @include flex-setting(column, flex-start, center);

    padding: toRem(48) calc(var(--width) / 2) toRem(56) calc(var(--width) / 2);
    margin-bottom: toRem(48);
    opacity: 0;

    &.loaded {
        animation: fadeInBottom 0.3s $cubic forwards 0s;

        .mission__svg {
            animation: fadeInStatic 0s linear forwards 0.3s;
        }

        .mission__line-mask {
            animation: dash 0.3s ease-out forwards 0.3s;
        }
    }

    &__wrap {
        @include flex-setting(column, flex-start, center);
        width: 100%;
        padding: toRem(56) toRem(16) toRem(80) toRem(16);
        background-color: $blue;
        border-radius: toRem(12);

        position: relative;
        overflow: hidden;
    }

    &__title {
        @include font-setting($primary-font, toRem(14), toRem(18), 400, $white);
        letter-spacing: 0.01em;
        margin-bottom: toRem(24);
    }

    &__description {
        @include font-setting($primary-font, toRem(22), toRem(26), 400, $white);
        text-align: center;
    }

    &__svg {
        opacity: 0;
        width: toRem(84);
        height: toRem(64);
        position: absolute;
        left: -4px;
        top: 27px;
        transform: rotate(14deg);
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &__line-mask {
        fill: none;
        stroke: $white;
        stroke-linecap: round;
        stroke-width: 2px;
        animation: undash 0s $cubic forwards;
        z-index: 2;
    }
}

@include min-screen(1200px) {
    .mission {
        --width: calc(100% - 1032px);
        margin-bottom: toRem(112);

        &__wrap {
            padding: toRem(72) toRem(88) toRem(96) toRem(88);
            border-radius: toRem(22);
        }

        &__title {
            font-size: toRem(20);
            line-height: toRem(26);
            letter-spacing: 0;
            margin-bottom: toRem(40);
        }

        &__description {
            font-size: toRem(34);
            line-height: toRem(41);
        }

        &__svg {
            width: toRem(142);
            height: toRem(98);
            left: -14px;
            top: 16px;
            transform: rotate(5deg);
        }

        &__line {
            width: toRem(142);
            height: toRem(112);
        }
    }
}
