.popup-callback {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.48);

    @include flex-setting(column, center, center);

    z-index: 999;

    display: none;

    &.active {
        display: flex;
    }

    &.form_wrap {
        &.submitted {
            .popup-order__description {
                margin-bottom: 0;
            }
        }
    }

    &__wrapper {
        position: relative;

        width: 100%;
        max-width: toRem(343);

        @include flex-setting(column, flex-start, flex-start);

        background-color: $white;
        border-radius: toRem(10);

        padding: toRem(24) toRem(16) toRem(40) toRem(16);
    }

    &__closer {
        position: absolute;
        top: toRem(16);
        right: toRem(16);

        @include flex-setting(column, center, center);
        width: toRem(24);
        height: toRem(24);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.348783 0.340519C0.641677 0.0476263 1.11655 0.0476263 1.40944 0.34052L6.00561 4.93669L10.5963 0.346041C10.8892 0.0531493 11.3641 0.0531518 11.657 0.346047C11.9499 0.638941 11.9499 1.11382 11.657 1.40671L7.06627 5.99735L11.657 10.588C11.9499 10.8809 11.9499 11.3558 11.657 11.6487C11.3641 11.9416 10.8892 11.9416 10.5963 11.6487L6.00561 7.058L1.40386 11.6597C1.11097 11.9526 0.636094 11.9526 0.343202 11.6597C0.0503106 11.3668 0.0503131 10.8919 0.343208 10.599L4.94495 5.99734L0.348783 1.40118C0.0558901 1.10829 0.0558901 0.633413 0.348783 0.340519Z' fill='%2314004B'/%3E%3C/svg%3E");
        background-color: transparent;
        border: none;
        z-index: 2;
    }

    &__title {
        @include font-setting($primary-font, toRem(22), toRem(26), 400, $dark);
        text-align: left;
        margin-bottom: toRem(56);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(18), 400, $dark);
        text-align: left;
        letter-spacing: 0.01em;
    }

    .callback-form {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &__item {
            width: 100%;
            position: relative;
            display: inline-flex;
            margin-bottom: toRem(48);
        }

        &__input {
            @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: toRem(1) solid $dark;
            padding: 0;
            padding-bottom: toRem(16);

            cursor: text;
            outline: none;


            &::-webkit-input-placeholder {
                color: $dark;
            }

            &::-moz-placeholder {
                color: $dark;
            }

            &:-ms-input-placeholder {
                color: $dark;
            }

            &:-moz-placeholder {
                color: $dark;
            }

            &.error {
                border-color: $red;
            }
        }

        &__error {
            @include font-setting($book-font, toRem(14), toRem(22), 350, $red);
            position: absolute;
            bottom: toRem(-24);
            left: 0;

            &.hidden {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__submit {
            width: 100%;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
            letter-spacing: 0.02em;
            background-color: $blue;
            border: none;
            border-radius: toRem(6);

            padding: toRem(15) 0;

            cursor: pointer;
            outline: none;
            margin-bottom: toRem(16);
            transition: 0.35s $cubic;

            &:active {
                opacity: 0.8;
                transition: 0.35s $cubic;
            }
        }

        &__agree {
            @include font-setting($primary-font, toRem(10), toRem(16), 500, $dark);
            text-align: left;
            letter-spacing: 0.01em;

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}

@include min-screen(1200px) {
    .popup-callback {
        &__wrapper {
            width: 100%;
            max-width: toRem(827);

            box-shadow: 13px 13px 75px rgba(15, 19, 31, 0.2);

            padding: toRem(48) toRem(254) toRem(56) toRem(64);

            overflow: hidden;

            &::after {
                position: absolute;
                content: '';
                bottom: toRem(-546);
                right: toRem(-223);
                width: toRem(633);
                height: toRem(960);

                background-image: url("data:image/svg+xml,%3Csvg width='633' height='960' viewBox='0 0 633 960' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M456.968 440.741C486.772 376.043 520.586 321.562 549.976 262.593C552.673 257.181 555.723 255.834 558.147 250.605C560.331 245.894 562.394 241.262 564.321 236.716L424.469 145.892C419.853 154.026 415.254 162.116 410.68 170.162C410.68 170.162 411.212 174.184 408.713 178.583C366.864 252.261 322.026 326.997 291.784 392.771C291.784 392.771 294.042 400.642 290.507 408.293C286.253 417.501 272.63 434.251 268.403 443.23C242.202 498.887 203.643 555.852 169.242 609.36C147.148 643.725 132.763 674.048 104.652 710.328L230.329 819.857C237.615 811.462 241.98 806.473 248.617 798.451C250.396 796.301 254.675 792.452 256.422 790.033C258.826 786.703 260.971 778.659 263.384 775.588C263.384 775.588 270.107 771.884 274.568 765.989C322.949 702.066 353.569 647.871 386.615 586.712C397.239 567.05 417.232 538.463 426.25 519.306C435.192 500.312 448.578 458.953 456.968 440.741Z' fill='%23F5AABE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M418.228 156.897C420.646 152.409 423.067 147.809 425.496 143.09C427.525 139.147 433.068 131.043 437.814 125.081C445.009 116.042 447.222 112.247 451.13 102.243C455.734 90.4598 455.982 90.0892 465.002 81.4483C474.74 72.1216 479.043 69.8477 482.506 72.1984C485.261 74.0686 486.118 71.4262 484.144 67.1492C482.655 63.923 482.747 63.7037 486.163 62.3504C488.835 61.2918 491.128 61.5484 495.209 63.3614L500.674 65.7896L499.242 62.5467C498.173 60.1258 498.351 58.781 499.939 57.2508C502.957 54.3415 506.391 54.0133 508.705 56.4141C511.888 59.7162 511.381 62.0284 506.426 66.8046C503.888 69.2514 502.173 71.6292 502.616 72.0889C503.059 72.5478 507.692 71.2505 512.91 69.2061C525.476 64.2823 541.292 62.3649 544.227 65.4093C544.748 65.9501 544.676 68.2047 544.066 70.419C543.424 72.75 543.63 75.4993 544.552 76.9476C546.037 79.2751 545.773 79.8105 540.734 84.668L535.319 89.8877L537.952 92.6189C540.865 95.6415 542.091 95.3383 541.445 91.7557C541.069 89.6631 541.382 89.5558 544.267 90.792C548.352 92.5416 548.876 92.0184 547.452 87.6162L546.312 84.0908L549.991 84.5575L553.67 85.0243L552.759 81.2467C551.986 78.0441 552.396 76.9391 555.449 73.9966C558.511 71.0443 559.302 70.7857 560.733 72.2706C562.017 73.6016 561.768 75.5239 559.688 80.3493C555.692 89.6214 556.997 104.118 561.442 99.8335C562.08 99.2185 563.936 94.6019 565.565 89.5748C568.726 79.822 572.5 75.1603 571.055 82.7959C569.673 90.0847 570.103 94.8026 572.616 99.9319C573.965 102.684 575.503 106.662 576.034 108.77C576.565 110.878 577.235 112.847 577.522 113.145C578.425 114.081 583.244 108.767 583.805 106.215C585.542 98.3317 593.001 112.684 594.714 127.206C595.888 137.145 594.906 143.826 591.335 150.198C589.906 152.747 588.728 154.996 588.718 155.197C588.708 155.396 590.793 156.778 593.351 158.267L598.003 160.975L594.468 175.199C592.25 184.12 589.835 190.823 587.988 193.179C585.909 195.833 585.395 197.494 586.235 198.836C587.139 200.278 586.446 201.98 583.37 205.885C576.809 214.212 571.79 222.912 561.563 243.685C561.034 244.76 560.521 245.794 560.022 246.79L418.228 156.897ZM470.815 97.619C472.6 95.8982 470.297 94.0135 468.032 95.3427C467.141 95.8649 467.09 96.8093 467.908 97.6578C468.722 98.5018 469.915 98.4862 470.815 97.619ZM478.255 89.031C478.084 87.1234 474.496 85.2882 473.262 86.4781C472.453 87.2576 472.855 87.7369 475.319 88.9341C477.027 89.7637 478.325 89.8069 478.255 89.031ZM506.141 93.0858C510.126 88.4726 508.302 86.0724 503.978 90.24C501.428 92.6987 500.949 93.8168 501.988 94.8938C503.05 95.9963 503.975 95.5927 506.141 93.0858ZM586.196 169.058C584.158 166.944 583.814 167.103 583.34 170.367C582.947 173.093 585.882 175.354 586.764 173.002C587.08 172.16 587.477 171.337 587.645 171.174C587.814 171.012 587.162 170.059 586.196 169.058ZM496.649 70.2962C495.866 69.4841 494.731 69.2962 494.127 69.8788C493.522 70.4613 493.177 71.0929 493.36 71.2823C493.541 71.4707 494.676 71.6585 495.882 71.6996C497.677 71.7604 497.815 71.5061 496.649 70.2962ZM512.636 81.0167C511.912 80.2656 510.825 80.1278 510.22 80.7103C509.616 81.2929 509.714 82.384 510.438 83.1351C511.162 83.8862 512.249 84.0241 512.853 83.4416C513.457 82.859 513.36 81.7678 512.636 81.0167ZM516.678 69.0833C515.321 69.6919 513.1 71.1808 511.742 72.3933C509.019 74.8253 510.485 77.9033 513.81 76.7374C514.827 76.3822 516.149 76.2423 516.748 76.4293C517.346 76.6154 518.131 74.7907 518.491 72.3729L519.146 67.9782L516.678 69.0833ZM526.512 80.7518C525.55 79.753 523.663 81.2061 523.809 82.8339C523.862 83.4263 524.446 84.4722 525.107 85.1577C526.035 86.1209 526.426 85.8629 526.833 84.0167C527.122 82.7037 526.977 81.2343 526.512 80.7518ZM586.517 134.448C586.206 135.202 585.414 137.181 584.754 138.846C583.824 141.199 583.988 141.929 585.487 142.119C586.985 142.309 587.555 141.647 588.042 139.151C588.699 135.781 587.495 132.068 586.517 134.448ZM514.737 56.0166C518.758 57.3426 520.027 60.2694 517.018 61.2739C515.184 61.8858 512.566 59.6441 511.666 56.6916C511.218 55.2203 511.88 55.0749 514.737 56.0166ZM584.478 123.293C583.995 122.792 582.941 123.018 582.135 123.795C581.33 124.572 581.065 125.617 581.548 126.118C582.031 126.618 583.085 126.393 583.891 125.616C584.696 124.839 584.961 123.794 584.478 123.293ZM522.536 57.568C523.301 58.361 523.379 59.2252 522.709 59.4878C520.808 60.235 518.694 58.4918 519.988 57.2447C520.626 56.6297 521.773 56.776 522.536 57.568ZM537.285 67.9046C536.37 67.3993 535.368 67.659 535.059 68.482C534.234 70.6842 535.841 71.8205 537.508 70.2134C538.461 69.2954 538.385 68.5115 537.285 67.9046Z' fill='%23F5AABE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M234.051 815.693C230.804 819.628 227.533 823.673 224.231 827.833C221.474 831.305 214.461 838.177 208.647 843.103C199.832 850.572 196.923 853.864 191.145 862.917C184.338 873.581 184.023 873.896 173.495 880.618C162.13 887.874 157.467 889.268 154.527 886.289C152.188 883.919 150.833 886.344 151.939 890.924C152.772 894.378 152.639 894.575 149.025 895.239C146.198 895.757 144 895.06 140.349 892.488L135.46 889.044L136.234 892.503C136.812 895.086 136.376 896.371 134.521 897.563C130.995 899.83 127.563 899.484 125.759 896.679C123.279 892.822 124.226 890.652 130.015 886.93C132.98 885.024 135.124 883.024 134.779 882.487C134.434 881.951 129.638 882.323 124.121 883.314C110.838 885.701 94.9505 884.507 92.6636 880.951C92.2574 880.319 92.7666 878.121 93.7954 876.068C94.8779 873.906 95.2111 871.169 94.5876 869.569C93.5838 866.997 93.9466 866.524 99.834 862.738L106.16 858.671L104.109 855.48C101.838 851.949 100.577 852.008 100.514 855.648C100.476 857.773 100.148 857.818 97.5587 856.044C93.892 853.534 93.2758 853.945 93.8169 858.54L94.2498 862.22L90.7317 861.047L87.2135 859.874L87.3729 863.757C87.5092 867.049 86.8918 868.053 83.3256 870.346C79.7473 872.646 78.9213 872.746 77.8059 871.011C76.8061 869.456 77.4235 867.619 80.4016 863.29C86.1239 854.972 87.6622 840.498 82.469 843.837C81.7235 844.316 79.0058 848.484 76.4301 853.098C71.4335 862.05 66.8255 865.889 69.7278 858.681C72.4996 851.799 72.9955 847.088 71.5269 841.568C70.7392 838.606 70.0037 834.405 69.8923 832.234C69.7815 830.063 69.507 828.001 69.2834 827.654C68.5797 826.559 62.8194 830.835 61.7726 833.23C58.5364 840.625 54.0105 825.097 55.1527 810.518C55.9337 800.54 58.1957 794.178 62.9372 788.622C64.8346 786.399 66.4269 784.422 66.4756 784.227C66.5241 784.034 64.7474 782.273 62.5278 780.314L58.4908 776.754L64.7241 763.489C68.6337 755.169 72.3058 749.063 74.5754 747.111C77.1304 744.912 77.9576 743.382 77.3946 741.903C76.7883 740.313 77.7986 738.778 81.575 735.545C89.6294 728.653 96.244 721.094 110.315 702.706C111.045 701.751 111.752 700.833 112.436 699.951L234.051 815.693ZM170.937 863.626C168.851 864.967 170.744 867.264 173.224 866.4C174.2 866.061 174.433 865.145 173.795 864.153C173.162 863.167 171.988 862.951 170.937 863.626ZM161.969 870.604C161.766 872.508 164.928 875.006 166.37 874.079C167.315 873.471 167.015 872.923 164.831 871.27C163.316 870.124 162.051 869.829 161.969 870.604ZM135.404 861.206C130.597 864.956 131.92 867.665 136.972 864.418C139.952 862.502 140.638 861.498 139.829 860.24C139.001 858.952 138.015 859.168 135.404 861.206ZM71.6439 771.121C73.2318 773.59 73.6007 773.502 74.6999 770.391C75.616 767.794 73.1763 765.006 71.8542 767.141C71.3796 767.906 70.8306 768.636 70.6337 768.763C70.4369 768.89 70.8916 769.951 71.6439 771.121ZM140.284 885.406C140.894 886.355 141.971 886.76 142.677 886.306C143.383 885.852 143.845 885.299 143.702 885.078C143.561 884.858 142.484 884.453 141.31 884.178C139.56 883.77 139.375 883.992 140.284 885.406ZM126.687 871.782C127.251 872.66 128.29 873.006 128.996 872.552C129.702 872.098 129.818 871.009 129.254 870.131C128.69 869.254 127.651 868.907 126.945 869.361C126.238 869.815 126.122 870.905 126.687 871.782ZM120.402 882.702C121.85 882.369 124.318 881.34 125.886 880.415C129.031 878.558 128.191 875.254 124.703 875.752C123.636 875.902 122.312 875.782 121.761 875.483C121.211 875.184 120.086 876.821 119.263 879.123L117.766 883.306L120.402 882.702ZM113.023 869.344C113.773 870.511 115.906 869.453 116.079 867.827C116.143 867.236 115.773 866.097 115.258 865.296C114.535 864.171 114.101 864.348 113.343 866.079C112.804 867.311 112.66 868.781 113.023 869.344ZM64.6015 805.008C65.0526 804.329 66.2148 802.541 67.1851 801.036C68.555 798.909 68.536 798.161 67.1025 797.683C65.6706 797.206 64.9825 797.744 64.0198 800.098C62.7197 803.276 63.1796 807.152 64.6015 805.008ZM119.766 895.897C116.079 893.814 115.402 890.697 118.55 890.297C120.468 890.053 122.6 892.761 122.909 895.832C123.063 897.362 122.385 897.376 119.766 895.897ZM64.4328 816.347C64.8089 816.932 65.8869 816.915 66.8283 816.31C67.7697 815.704 68.2323 814.73 67.8562 814.145C67.48 813.56 66.4019 813.577 65.4605 814.182C64.5191 814.788 64.0567 815.762 64.4328 816.347ZM112.416 892.859C111.821 891.932 111.912 891.07 112.62 890.942C114.63 890.579 116.365 892.7 114.854 893.671C114.108 894.151 113.011 893.784 112.416 892.859ZM99.958 879.852C100.758 880.526 101.791 880.466 102.254 879.719C103.491 877.719 102.136 876.292 100.188 877.544C99.0754 878.26 98.9975 879.043 99.958 879.852Z' fill='%23F5AABE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M196.827 204.84C183.441 214.326 169.406 219.693 156.5 227.67C155.315 228.402 154.266 227.869 153.18 228.631C152.201 229.317 151.265 230.018 150.377 230.734L189.172 298.701C191.131 297.769 193.081 296.846 195.021 295.927C195.021 295.927 195.097 294.62 196.157 294.117C213.908 285.692 232.67 277.865 246.261 268.204C246.261 268.204 246.025 265.28 247.611 264.162C249.52 262.815 254.858 262.136 256.744 260.847C268.438 252.855 284.128 248.207 298.29 243.295C307.385 240.14 313.791 235.819 324.91 233.928L291.747 164.891C288.926 165.094 287.239 165.204 284.647 165.495C283.952 165.573 282.361 165.384 281.661 165.548C280.696 165.775 279.526 167.424 278.574 167.574C278.574 167.574 276.218 166.608 274.445 166.947C255.218 170.625 242.212 176.87 228.014 184.372C223.45 186.784 215.372 188.923 211.347 191.674C207.357 194.401 200.595 202.17 196.827 204.84Z' fill='%23F5AABE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M189.995 297.901C187.925 299.13 185.827 300.403 183.696 301.723C181.916 302.825 177.702 304.758 174.332 306.018C169.221 307.927 167.403 308.925 163.389 312.025C158.66 315.675 158.47 315.765 152.717 317.069C146.508 318.477 144.213 318.351 143.383 316.557C142.723 315.13 141.733 315.992 141.493 318.203C141.311 319.871 141.22 319.937 139.509 319.655C138.169 319.433 137.304 318.772 136.093 317.046L134.471 314.734L134.262 316.395C134.106 317.635 133.707 318.136 132.693 318.369C130.764 318.813 129.294 318.111 128.94 316.577C128.455 314.466 129.222 313.654 132.389 312.925C134.012 312.552 135.284 312.006 135.216 311.712C135.149 311.419 132.958 310.818 130.349 310.376C124.065 309.314 117.197 306.245 116.749 304.299C116.669 303.953 117.247 303.058 118.032 302.31C118.859 301.523 119.444 300.36 119.423 299.549C119.388 298.246 119.625 298.094 122.845 297.353L126.306 296.556L125.905 294.811C125.46 292.879 124.891 292.704 124.281 294.311C123.924 295.249 123.771 295.216 122.904 294.015C121.676 292.313 121.337 292.398 120.843 294.526L120.447 296.23L119.071 295.147L117.695 294.063L117.146 295.814C116.68 297.298 116.246 297.646 114.295 298.095C112.337 298.545 111.954 298.457 111.736 297.508C111.54 296.658 112.108 295.94 114.123 294.492C117.995 291.711 120.991 285.525 118.15 286.179C117.743 286.273 115.869 287.69 113.987 289.329C110.336 292.508 107.675 293.478 110.117 290.738C112.448 288.124 113.421 286.11 113.651 283.422C113.774 281.98 114.119 279.996 114.416 279.014C114.714 278.032 114.922 277.071 114.878 276.881C114.74 276.282 111.497 277.262 110.649 278.159C108.03 280.927 108.5 273.304 111.338 267.009C113.279 262.701 115.301 260.235 118.296 258.524C119.494 257.84 120.517 257.216 120.57 257.137C120.623 257.059 120.115 255.992 119.441 254.768L118.217 252.54L123.106 247.642C126.173 244.571 128.78 242.445 130.101 241.94C131.587 241.371 132.199 240.824 132.186 240.076C132.17 239.273 132.865 238.752 135.059 237.919C139.739 236.144 143.886 233.843 153.077 227.921C153.552 227.615 154.011 227.321 154.455 227.039L189.995 297.901ZM154.296 309.11C153.155 309.373 153.629 310.695 154.869 310.708C155.357 310.713 155.607 310.343 155.482 309.801C155.358 309.262 154.871 308.978 154.296 309.11ZM149.196 310.777C148.802 311.591 149.808 313.206 150.597 313.025C151.114 312.906 151.068 312.614 150.362 311.531C149.872 310.779 149.357 310.446 149.196 310.777ZM138.895 302.356C136.16 303.254 136.315 304.67 139.078 304.034C140.709 303.659 141.174 303.322 141.016 302.634C140.853 301.929 140.381 301.868 138.895 302.356ZM124.961 252.139C125.272 253.491 125.45 253.51 126.436 252.304C127.258 251.296 126.619 249.667 125.691 250.405C125.357 250.669 124.997 250.906 124.889 250.93C124.781 250.955 124.814 251.499 124.961 252.139ZM137.196 313.889C137.315 314.408 137.729 314.76 138.115 314.671C138.502 314.582 138.795 314.41 138.767 314.289C138.739 314.169 138.326 313.817 137.848 313.507C137.136 313.046 137.018 313.115 137.196 313.889ZM133.331 305.662C133.442 306.142 133.848 306.462 134.235 306.374C134.621 306.285 134.846 305.819 134.736 305.339C134.626 304.859 134.219 304.539 133.833 304.628C133.447 304.717 133.221 305.182 133.331 305.662ZM128.794 309.51C129.491 309.593 130.752 309.531 131.596 309.37C133.29 309.048 133.445 307.445 131.816 307.109C131.317 307.005 130.748 306.741 130.551 306.519C130.355 306.299 129.593 306.846 128.86 307.738L127.526 309.357L128.794 309.51ZM127.65 302.396C127.797 303.034 128.914 302.904 129.25 302.21C129.373 301.958 129.391 301.392 129.29 300.954C129.148 300.338 128.927 300.348 128.314 300.996C127.878 301.457 127.579 302.087 127.65 302.396ZM116.417 266.071C116.726 265.841 117.528 265.233 118.199 264.719C119.148 263.993 119.259 263.658 118.698 263.216C118.138 262.775 117.747 262.904 116.943 263.796C115.857 265.001 115.442 266.796 116.417 266.071ZM126.402 315.271C125.097 313.757 125.295 312.263 126.757 312.588C127.648 312.787 128.163 314.33 127.809 315.744C127.633 316.449 127.33 316.347 126.402 315.271ZM114.53 271.082C114.603 271.402 115.085 271.567 115.6 271.448C116.115 271.33 116.476 270.971 116.402 270.651C116.329 270.331 115.847 270.166 115.332 270.285C114.817 270.403 114.456 270.762 114.53 271.082ZM123.622 312.747C123.506 312.24 123.684 311.871 124.019 311.928C124.97 312.087 125.402 313.307 124.576 313.497C124.168 313.591 123.739 313.253 123.622 312.747ZM120.165 304.977C120.413 305.404 120.882 305.542 121.207 305.284C122.076 304.593 121.702 303.743 120.637 303.988C120.028 304.128 119.868 304.464 120.165 304.977Z' fill='%23F5AABE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M289.222 165.673C291.495 164.869 293.803 164.027 296.153 163.145C298.113 162.41 302.622 161.333 306.174 160.753C311.558 159.873 313.535 159.248 318.075 156.988C323.423 154.326 323.628 154.275 329.524 154.114C335.888 153.94 338.115 154.51 338.58 156.43C338.951 157.959 340.089 157.306 340.755 155.184C341.257 153.583 341.359 153.536 342.983 154.146C344.254 154.623 344.974 155.44 345.827 157.368L346.968 159.951L347.496 158.363C347.89 157.177 348.379 156.763 349.42 156.731C351.398 156.671 352.703 157.645 352.751 159.219C352.818 161.384 351.907 162.032 348.658 162.131C346.994 162.182 345.641 162.47 345.65 162.771C345.659 163.072 347.691 164.087 350.165 165.027C356.122 167.291 362.263 171.637 362.324 173.633C362.335 173.987 361.594 174.753 360.678 175.334C359.715 175.946 358.914 176.973 358.778 177.772C358.559 179.057 358.297 179.161 354.993 179.261L351.443 179.37L351.498 181.16C351.559 183.141 352.083 183.424 352.994 181.966C353.526 181.115 353.67 181.177 354.287 182.524C355.161 184.432 355.51 184.415 356.408 182.424L357.128 180.829L358.267 182.159L359.405 183.489L360.285 181.879C361.03 180.513 361.524 180.257 363.525 180.196C365.533 180.135 365.892 180.295 365.921 181.268C365.948 182.141 365.251 182.734 362.993 183.763C358.655 185.739 354.513 191.223 357.427 191.135C357.845 191.122 359.958 190.096 362.123 188.854C366.322 186.445 369.121 186.011 366.193 188.224C363.398 190.335 362.052 192.122 361.304 194.713C360.903 196.104 360.179 197.983 359.696 198.889C359.214 199.795 358.823 200.696 358.829 200.891C358.848 201.505 362.219 201.175 363.225 200.46C366.333 198.254 364.39 205.639 360.383 211.263C357.641 215.112 355.178 217.137 351.908 218.234C350.6 218.672 349.474 219.085 349.407 219.152C349.341 219.219 349.632 220.363 350.054 221.696L350.822 224.119L345.074 227.972C341.469 230.389 338.498 231.968 337.104 232.207C335.535 232.476 334.829 232.894 334.697 233.629C334.556 234.42 333.773 234.796 331.459 235.186C326.523 236.018 322.008 237.469 311.841 241.492C311.312 241.701 310.802 241.901 310.309 242.093L289.222 165.673ZM326.428 161.614C327.598 161.578 327.39 160.189 326.177 159.935C325.699 159.835 325.382 160.15 325.399 160.706C325.416 161.259 325.838 161.632 326.428 161.614ZM331.755 160.97C332.3 160.249 331.627 158.469 330.818 158.493C330.288 158.51 330.276 158.804 330.758 160.005C331.092 160.837 331.533 161.264 331.755 160.97ZM340.223 171.233C343.08 170.884 343.203 169.466 340.369 169.552C338.697 169.603 338.175 169.842 338.196 170.548C338.218 171.271 338.67 171.423 340.223 171.233ZM344.129 223.201C344.086 221.815 343.915 221.761 342.714 222.753C341.712 223.582 342.022 225.303 343.076 224.76C343.454 224.566 343.854 224.404 343.964 224.401C344.075 224.397 344.149 223.857 344.129 223.201ZM344.131 160.251C344.115 159.719 343.777 159.293 343.381 159.305C342.985 159.317 342.664 159.428 342.668 159.553C342.671 159.676 343.009 160.102 343.417 160.499C344.026 161.089 344.155 161.044 344.131 160.251ZM346.323 169.072C346.308 168.579 345.971 168.186 345.575 168.198C345.179 168.211 344.867 168.623 344.882 169.116C344.897 169.608 345.233 170.001 345.63 169.989C346.026 169.977 346.338 169.564 346.323 169.072ZM351.522 166.18C350.854 165.962 349.605 165.779 348.745 165.772C347.021 165.759 346.558 167.301 348.091 167.947C348.559 168.146 349.066 168.516 349.216 168.771C349.366 169.026 350.22 168.637 351.113 167.905L352.736 166.576L351.522 166.18ZM351.261 173.381C351.241 172.726 350.12 172.636 349.655 173.252C349.485 173.475 349.358 174.026 349.372 174.476C349.391 175.107 349.61 175.141 350.337 174.624C350.855 174.257 351.27 173.697 351.261 173.381ZM355.219 211.196C354.871 211.361 353.966 211.802 353.207 212.175C352.135 212.703 351.961 213.011 352.425 213.553C352.889 214.094 353.298 214.044 354.26 213.325C355.559 212.355 356.315 210.674 355.219 211.196ZM354.987 160.993C355.973 162.733 355.489 164.159 354.118 163.556C353.282 163.188 353.078 161.574 353.699 160.255C354.009 159.598 354.287 159.758 354.987 160.993ZM358.044 206.647C358.034 206.319 357.593 206.064 357.065 206.08C356.537 206.096 356.113 206.378 356.123 206.706C356.133 207.034 356.573 207.29 357.101 207.273C357.63 207.257 358.054 206.976 358.044 206.647ZM357.224 164.01C357.239 164.53 356.993 164.857 356.675 164.736C355.773 164.395 355.586 163.114 356.435 163.088C356.853 163.076 357.208 163.491 357.224 164.01ZM359.104 172.304C358.944 171.837 358.511 171.61 358.142 171.8C357.155 172.308 357.357 173.215 358.45 173.182C359.074 173.163 359.296 172.865 359.104 172.304Z' fill='%23F5AABE'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                z-index: 0;
                pointer-events: none;
            }

            &.submitted {
                &::after {
                    bottom: toRem(-690);
                }
            }
        }

        &__closer {
            top: toRem(32);
            right: toRem(32);

            width: toRem(32);
            height: toRem(32);

            background-size: 60%;

            cursor: pointer;
            outline: none;
        }

        &__title {
            font-weight: 500;
            font-size: toRem(24);
            line-height: toRem(29);
            max-width: 100%;
            margin-bottom: toRem(48);
        }

        &__description {
            font-size: toRem(14);
            line-height: toRem(22);
        }

        .callback-form {
            max-width: toRem(394);

            &__item {
                order: 1;
                margin-bottom: toRem(24);
            }

            &__input {
                font-size: toRem(18);
                line-height: toRem(23);
                letter-spacing: 0.01em;
                padding-bottom: toRem(18);
                border-width: toRem(2);
            }

            &__submit {
                order: 3;
                width: auto;
                font-size: toRem(18);
                line-height: toRem(22);
                padding: toRem(17) toRem(24);
                margin-bottom: toRem(0);

                &:focus,
                &:hover {
                    opacity: 0.86;
                    transition: 0.35s $cubic;
                }
            }

            &__agree {
                order: 2;
                font-family: $book-font;
                font-weight: 350;
                font-size: toRem(14);
                line-height: toRem(22);

                margin-bottom: toRem(48);
            }
        }
    }
}
