.popup-order {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.48);

    @include flex-setting(column, center, center);

    z-index: 999;

    display: none;

    &.active {
        display: flex;
    }

    &.form_wrap {
        &.submitted {
            .popup-order__description {
                margin-bottom: 0;
            }
        }
    }

    &__wrapper {
        position: relative;

        width: 100%;
        max-width: toRem(343);

        @include flex-setting(column, flex-start, flex-start);

        background-color: $white;
        border-radius: toRem(10);

        padding: toRem(24) toRem(16) toRem(40) toRem(16);
    }

    &__closer {
        position: absolute;
        top: toRem(16);
        right: toRem(16);

        @include flex-setting(column, center, center);
        width: toRem(24);
        height: toRem(24);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.348783 0.340519C0.641677 0.0476263 1.11655 0.0476263 1.40944 0.34052L6.00561 4.93669L10.5963 0.346041C10.8892 0.0531493 11.3641 0.0531518 11.657 0.346047C11.9499 0.638941 11.9499 1.11382 11.657 1.40671L7.06627 5.99735L11.657 10.588C11.9499 10.8809 11.9499 11.3558 11.657 11.6487C11.3641 11.9416 10.8892 11.9416 10.5963 11.6487L6.00561 7.058L1.40386 11.6597C1.11097 11.9526 0.636094 11.9526 0.343202 11.6597C0.0503106 11.3668 0.0503131 10.8919 0.343208 10.599L4.94495 5.99734L0.348783 1.40118C0.0558901 1.10829 0.0558901 0.633413 0.348783 0.340519Z' fill='%2314004B'/%3E%3C/svg%3E");
        background-color: transparent;
        border: none;
        z-index: 2;
    }

    &__title {
        @include font-setting($primary-font, toRem(22), toRem(26), 400, $dark);
        text-align: left;
        margin-bottom: toRem(40);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(18), 400, $dark);
        text-align: left;
        letter-spacing: 0.01em;
        margin-bottom: toRem(56);
    }

    .order-form {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &__list {
            width: 100%;
            @include flex-setting(column, flex-start, flex-start);
            gap: toRem(24);
            margin-bottom: toRem(48);
        }

        &__item {
            width: 100%;
            position: relative;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__input {
            @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: toRem(1) solid $dark;
            padding: 0;
            padding-bottom: toRem(16);

            cursor: text;
            outline: none;


            &::-webkit-input-placeholder {
                color: $dark;
            }

            &::-moz-placeholder {
                color: $dark;
            }

            &:-ms-input-placeholder {
                color: $dark;
            }

            &:-moz-placeholder {
                color: $dark;
            }

            &.error {
                border-color: $red;
            }
        }

        &__textarea {
            display: block;
            resize: none;
            @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: toRem(1) solid $dark;
            padding: 0;
            height: toRem(39);

            cursor: text;
            outline: none;

            &::-webkit-input-placeholder {
                color: $dark;
            }

            &::-moz-placeholder {
                color: $dark;
            }

            &:-ms-input-placeholder {
                color: $dark;
            }

            &:-moz-placeholder {
                color: $dark;
            }
        }

        &__error {
            @include font-setting($primary-font, toRem(12), toRem(19), 400, $red);

            &.hidden {
                visibility: hidden;
                opacity: 0;
                display: none;
            }
        }

        &__submit {
            width: 100%;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
            letter-spacing: 0.02em;
            background-color: $blue;
            border: none;
            border-radius: toRem(6);

            padding: toRem(15) 0;

            cursor: pointer;
            outline: none;
            margin-bottom: toRem(16);
            transition: 0.35s $cubic;

            &:active {
                opacity: 0.8;
                transition: 0.35s $cubic;
            }
        }

        &__agree {
            @include font-setting($primary-font, toRem(10), toRem(16), 500, $dark);
            text-align: left;
            letter-spacing: 0.01em;

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}

@include min-screen(1200px) {
    .popup-order {
        &__wrapper {
            max-width: toRem(714);
            box-shadow: 13px 13px 75px rgba(15, 19, 31, 0.2);

            padding: toRem(48) toRem(190) toRem(56) toRem(64);

            overflow: hidden;

            &::after {
                position: absolute;
                content: '';
                bottom: toRem(-404);
                right: toRem(-272);
                width: toRem(633);
                height: toRem(960);
                transform: rotate(-14deg);
                background-image: url("data:image/svg+xml,%3Csvg width='633' height='961' viewBox='0 0 633 961' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M457.751 440.972C487.555 376.275 521.369 321.793 550.759 262.824C553.456 257.413 556.507 256.065 558.93 250.836C561.114 246.125 563.177 241.493 565.104 236.948L425.253 146.123C420.636 154.257 416.037 162.347 411.463 170.394C411.463 170.394 411.995 174.415 409.497 178.814C367.647 252.493 322.809 327.228 292.567 393.002C292.567 393.002 294.825 400.873 291.29 408.525C287.036 417.732 273.413 434.482 269.186 443.461C242.985 499.118 204.426 556.084 170.025 609.591C147.931 643.956 133.547 674.28 105.436 710.56L231.112 820.088C238.398 811.693 242.763 806.704 249.4 798.682C251.179 796.533 255.459 792.683 257.205 790.265C259.61 786.934 261.755 778.89 264.167 775.82C264.167 775.82 270.89 772.115 275.351 766.22C323.732 702.297 354.353 648.103 387.399 586.943C398.022 567.281 418.015 538.694 427.033 519.538C435.975 500.543 449.361 459.184 457.751 440.972Z' fill='%2314004B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M419.011 157.129C421.429 152.64 423.85 148.04 426.279 143.321C428.308 139.379 433.851 131.275 438.597 125.312C445.792 116.273 448.005 112.478 451.913 102.474C456.517 90.691 456.765 90.3204 465.785 81.6795C475.523 72.3528 479.826 70.0789 483.289 72.4296C486.044 74.2998 486.902 71.6574 484.927 67.3804C483.438 64.1542 483.531 63.9349 486.946 62.5816C489.619 61.523 491.911 61.7796 495.992 63.5926L501.457 66.0207L500.025 62.7779C498.957 60.3569 499.134 59.0121 500.722 57.482C503.74 54.5727 507.174 54.2445 509.488 56.6453C512.671 59.9474 512.164 62.2595 507.209 67.0358C504.671 69.4826 502.957 71.8604 503.4 72.3201C503.842 72.779 508.475 71.4817 513.693 69.4373C526.259 64.5135 542.076 62.5961 545.01 65.6405C545.532 66.1813 545.459 68.4359 544.849 70.6502C544.208 72.9812 544.413 75.7305 545.335 77.1788C546.82 79.5063 546.556 80.0417 541.517 84.8991L536.102 90.1189L538.735 92.8501C541.648 95.8727 542.874 95.5695 542.228 91.9868C541.852 89.8943 542.166 89.787 545.05 91.0232C549.135 92.7728 549.659 92.2496 548.235 87.8474L547.095 84.322L550.774 84.7887L554.454 85.2555L553.542 81.4779C552.769 78.2753 553.179 77.1703 556.232 74.2278C559.295 71.2755 560.085 71.0169 561.517 72.5018C562.8 73.8328 562.551 75.7551 560.471 80.5805C556.475 89.8526 557.78 104.35 562.225 100.065C562.863 99.4497 564.719 94.8331 566.348 89.8059C569.509 80.0532 573.283 75.3915 571.838 83.027C570.457 90.3159 570.886 95.0338 573.4 100.163C574.748 102.915 576.286 106.893 576.818 109.002C577.348 111.109 578.018 113.078 578.305 113.376C579.208 114.313 584.027 108.998 584.589 106.446C586.326 98.5629 593.784 112.915 595.497 127.437C596.671 137.377 595.689 144.058 592.118 150.43C590.689 152.979 589.511 155.227 589.501 155.428C589.491 155.627 591.576 157.009 594.134 158.499L598.787 161.207L595.251 175.43C593.033 184.351 590.618 191.054 588.771 193.411C586.692 196.064 586.178 197.726 587.018 199.068C587.922 200.509 587.229 202.212 584.153 206.116C577.592 214.443 572.573 223.143 562.346 243.916C561.817 244.991 561.304 246.025 560.805 247.021L419.011 157.129ZM471.598 97.8502C473.383 96.1294 471.08 94.2447 468.816 95.5739C467.924 96.0961 467.874 97.0405 468.691 97.889C469.505 98.733 470.698 98.7174 471.598 97.8502ZM479.039 89.2621C478.867 87.3546 475.28 85.5194 474.045 86.7093C473.237 87.4888 473.638 87.9681 476.102 89.1653C477.81 89.9949 479.108 90.0381 479.039 89.2621ZM506.924 93.317C510.91 88.7038 509.085 86.3036 504.761 90.4712C502.211 92.9299 501.733 94.048 502.771 95.125C503.833 96.2275 504.759 95.8239 506.924 93.317ZM586.979 169.289C584.942 167.175 584.597 167.334 584.123 170.599C583.73 173.325 586.665 175.585 587.547 173.234C587.863 172.391 588.26 171.568 588.429 171.405C588.597 171.243 587.945 170.291 586.979 169.289ZM497.432 70.5274C496.649 69.7153 495.514 69.5274 494.91 70.1099C494.305 70.6925 493.96 71.3241 494.143 71.5135C494.324 71.7019 495.459 71.8897 496.665 71.9308C498.46 71.9916 498.598 71.7373 497.432 70.5274ZM513.419 81.2479C512.695 80.4968 511.608 80.359 511.004 80.9415C510.399 81.5241 510.497 82.6152 511.221 83.3663C511.945 84.1174 513.032 84.2553 513.636 83.6728C514.241 83.0902 514.143 81.999 513.419 81.2479ZM517.461 69.3145C516.105 69.9231 513.884 71.412 512.526 72.6244C509.802 75.0565 511.268 78.1345 514.593 76.9686C515.61 76.6134 516.932 76.4734 517.531 76.6605C518.129 76.8466 518.914 75.0219 519.274 72.6041L519.929 68.2093L517.461 69.3145ZM527.296 80.983C526.333 79.9842 524.446 81.4373 524.592 83.0651C524.645 83.6575 525.229 84.7034 525.89 85.3889C526.818 86.3521 527.21 86.0941 527.616 84.2479C527.905 82.9349 527.761 81.4655 527.296 80.983ZM587.3 134.679C586.989 135.433 586.197 137.413 585.538 139.077C584.607 141.43 584.771 142.16 586.27 142.35C587.768 142.54 588.338 141.878 588.825 139.382C589.483 136.012 588.278 132.3 587.3 134.679ZM515.52 56.2478C519.541 57.5738 520.811 60.5005 517.801 61.5051C515.967 62.117 513.349 59.8752 512.449 56.9228C512.001 55.4515 512.663 55.306 515.52 56.2478ZM585.261 123.524C584.779 123.023 583.724 123.249 582.919 124.026C582.113 124.803 581.848 125.848 582.331 126.349C582.814 126.849 583.868 126.624 584.674 125.847C585.48 125.07 585.744 124.025 585.261 123.524ZM523.32 57.7992C524.084 58.5922 524.162 59.4563 523.493 59.719C521.591 60.4662 519.477 58.7229 520.771 57.4759C521.409 56.8609 522.556 57.0072 523.32 57.7992ZM538.069 68.1358C537.153 67.6305 536.152 67.8902 535.843 68.7132C535.017 70.9154 536.624 72.0517 538.292 70.4446C539.244 69.5266 539.168 68.7427 538.069 68.1358Z' fill='%2314004B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M234.834 815.924C231.587 819.86 228.316 823.904 225.014 828.064C222.257 831.537 215.244 838.409 209.43 843.335C200.615 850.803 197.707 854.095 191.928 863.149C185.122 873.812 184.807 874.127 174.278 880.85C162.913 888.106 158.25 889.5 155.31 886.521C152.971 884.151 151.617 886.576 152.722 891.155C153.556 894.609 153.422 894.806 149.809 895.47C146.981 895.989 144.783 895.292 141.132 892.72L136.243 889.276L137.017 892.735C137.595 895.317 137.159 896.602 135.305 897.794C131.778 900.061 128.346 899.716 126.542 896.911C124.062 893.053 125.009 890.884 130.798 887.162C133.764 885.255 135.907 883.256 135.562 882.719C135.217 882.183 130.421 882.555 124.905 883.546C111.622 885.933 95.7337 884.739 93.4468 881.182C93.0406 880.55 93.5498 878.353 94.5786 876.299C95.6611 874.137 95.9943 871.401 95.3708 869.801C94.367 867.229 94.7298 866.755 100.617 862.97L106.944 858.902L104.892 855.711C102.622 852.18 101.361 852.239 101.297 855.879C101.26 858.005 100.931 858.049 98.3419 856.276C94.6752 853.765 94.059 854.177 94.6001 858.772L95.033 862.452L91.5149 861.279L87.9967 860.105L88.1561 863.988C88.2924 867.28 87.6751 868.284 84.1088 870.577C80.5305 872.878 79.7045 872.978 78.5891 871.243C77.5893 869.688 78.2067 867.85 81.1848 863.521C86.9071 855.203 88.4454 840.729 83.2522 844.068C82.5067 844.547 79.789 848.715 77.2133 853.33C72.2167 862.282 67.6087 866.121 70.511 858.912C73.2828 852.031 73.7787 847.319 72.3101 841.799C71.5224 838.837 70.7869 834.636 70.6755 832.465C70.5647 830.295 70.2902 828.233 70.0666 827.885C69.3629 826.79 63.6026 831.067 62.5558 833.461C59.3196 840.856 54.7937 825.328 55.9359 810.749C56.7169 800.772 58.9789 794.409 63.7204 788.853C65.6178 786.63 67.2101 784.654 67.2588 784.459C67.3073 784.265 65.5306 782.504 63.3111 780.546L59.274 776.985L65.5074 763.72C69.4169 755.401 73.089 749.295 75.3586 747.342C77.9136 745.144 78.7408 743.614 78.1778 742.134C77.5716 740.544 78.5818 739.009 82.3582 735.777C90.4126 728.884 97.0272 721.326 111.098 702.937C111.828 701.983 112.535 701.065 113.219 700.182L234.834 815.924ZM171.72 863.858C169.635 865.199 171.527 867.495 174.007 866.631C174.983 866.293 175.216 865.376 174.579 864.385C173.945 863.399 172.771 863.182 171.72 863.858ZM162.752 870.836C162.549 872.74 165.712 875.238 167.154 874.31C168.098 873.703 167.798 873.155 165.614 871.501C164.099 870.356 162.834 870.061 162.752 870.836ZM136.187 861.437C131.38 865.188 132.704 867.897 137.755 864.649C140.735 862.733 141.421 861.729 140.612 860.471C139.784 859.183 138.798 859.399 136.187 861.437ZM72.4271 771.352C74.015 773.822 74.3839 773.733 75.4831 770.623C76.3992 768.025 73.9595 765.237 72.6374 767.373C72.1628 768.138 71.6138 768.868 71.417 768.994C71.2201 769.121 71.6748 770.182 72.4271 771.352ZM141.067 885.637C141.677 886.586 142.754 886.991 143.46 886.537C144.167 886.083 144.628 885.531 144.486 885.309C144.344 885.089 143.267 884.684 142.093 884.41C140.343 884.001 140.159 884.224 141.067 885.637ZM127.47 872.014C128.034 872.891 129.073 873.238 129.779 872.784C130.485 872.33 130.601 871.24 130.037 870.363C129.473 869.485 128.434 869.139 127.728 869.593C127.022 870.047 126.906 871.136 127.47 872.014ZM121.185 882.934C122.634 882.6 125.102 881.571 126.669 880.646C129.814 878.79 128.974 875.486 125.486 875.983C124.419 876.134 123.095 876.014 122.544 875.714C121.994 875.415 120.869 877.053 120.046 879.354L118.549 883.538L121.185 882.934ZM113.806 869.576C114.556 870.743 116.689 869.684 116.862 868.059C116.926 867.468 116.557 866.328 116.042 865.527C115.318 864.402 114.884 864.579 114.126 866.311C113.588 867.543 113.444 869.012 113.806 869.576ZM65.3847 805.24C65.8358 804.56 66.998 802.773 67.9683 801.268C69.3382 799.141 69.3192 798.393 67.8857 797.915C66.4538 797.437 65.7657 797.976 64.803 800.329C63.5029 803.507 63.9628 807.384 65.3847 805.24ZM120.549 896.128C116.862 894.046 116.186 890.928 119.333 890.528C121.251 890.284 123.383 892.992 123.692 896.063C123.846 897.594 123.168 897.607 120.549 896.128ZM65.216 816.578C65.5921 817.163 66.6701 817.146 67.6115 816.541C68.5529 815.936 69.0155 814.962 68.6394 814.377C68.2633 813.792 67.1851 813.808 66.2437 814.414C65.3023 815.019 64.8399 815.993 65.216 816.578ZM113.199 893.09C112.604 892.164 112.695 891.301 113.403 891.173C115.413 890.81 117.148 892.931 115.637 893.903C114.891 894.382 113.794 894.016 113.199 893.09ZM100.741 880.084C101.541 880.757 102.574 880.697 103.037 879.95C104.274 877.95 102.919 876.523 100.971 877.776C99.8586 878.491 99.7807 879.275 100.741 880.084Z' fill='%2314004B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M373.093 384.666C382.855 369.585 394.949 358.43 404.835 345.079C405.743 343.853 407.026 343.97 407.821 342.753C408.538 341.658 409.206 340.565 409.817 339.476L342.773 286.109C341.16 287.851 339.551 289.582 337.952 291.304C337.952 291.304 338.405 292.664 337.531 293.606C322.9 309.379 306.997 324.956 297.099 340.298C297.099 340.298 298.526 343.175 297.367 344.957C295.972 347.101 290.82 349.959 289.425 352.036C280.777 364.91 266.708 376.006 254.301 386.751C246.332 393.651 241.572 400.646 231.033 407.083L292.784 463.825C295.57 462.474 297.241 461.678 299.759 460.329C300.434 459.968 302.129 459.514 302.774 459.063C303.664 458.441 304.184 456.289 305.091 455.75C305.091 455.75 307.879 455.775 309.544 454.711C327.604 443.165 338.294 431.535 349.687 418.141C353.35 413.836 360.696 408.381 363.672 403.95C366.623 399.556 370.345 388.912 373.093 384.666Z' fill='%2314004B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M342.261 287.254C343.867 285.165 345.484 283.018 347.115 280.811C348.477 278.967 351.978 275.291 354.895 272.642C359.316 268.625 360.76 266.872 363.584 262.091C366.911 256.459 367.068 256.291 372.388 252.629C378.131 248.677 380.516 247.873 382.088 249.36C383.339 250.543 383.996 249.265 383.343 246.919C382.85 245.149 382.916 245.045 384.771 244.637C386.223 244.319 387.371 244.64 389.304 245.903L391.891 247.596L391.43 245.822C391.085 244.498 391.287 243.826 392.224 243.177C394.006 241.943 395.786 242.06 396.768 243.477C398.118 245.426 397.668 246.564 394.743 248.591C393.245 249.629 392.172 250.7 392.361 250.972C392.548 251.242 395.02 250.965 397.853 250.354C404.674 248.883 412.905 249.216 414.15 251.013C414.371 251.332 414.147 252.477 413.653 253.557C413.132 254.693 413.008 256.113 413.359 256.929C413.924 258.24 413.745 258.491 410.77 260.552L407.574 262.767L408.691 264.379C409.927 266.163 410.578 266.11 410.546 264.228C410.527 263.129 410.696 263.1 412.066 263.97C414.005 265.202 414.316 264.979 413.955 262.614L413.665 260.72L415.504 261.263L417.343 261.807L417.191 259.803C417.062 258.105 417.363 257.575 419.165 256.326C420.973 255.073 421.398 255.007 422.005 255.884C422.549 256.669 422.263 257.63 420.802 259.92C417.993 264.32 417.457 271.827 420.081 270.009C420.458 269.748 421.787 267.546 423.036 265.115C425.458 260.4 427.77 258.334 426.399 262.111C425.09 265.716 424.918 268.16 425.776 270.986C426.236 272.502 426.691 274.66 426.787 275.78C426.883 276.899 427.062 277.96 427.183 278.136C427.567 278.689 430.467 276.376 430.965 275.12C432.505 271.241 435.121 279.184 434.791 286.737C434.566 291.907 433.511 295.235 431.16 298.191C430.219 299.373 429.432 300.423 429.41 300.525C429.389 300.626 430.338 301.504 431.52 302.476L433.67 304.244L430.686 311.21C428.814 315.579 427.026 318.799 425.888 319.849C424.607 321.03 424.207 321.836 424.524 322.59C424.866 323.401 424.371 324.212 422.478 325.95C418.439 329.655 415.156 333.679 408.214 343.432C407.855 343.937 407.507 344.422 407.171 344.889L342.261 287.254ZM374.014 261.364C375.067 260.633 374.048 259.481 372.783 259.971C372.284 260.164 372.18 260.641 372.527 261.142C372.872 261.64 373.483 261.731 374.014 261.364ZM378.523 257.598C378.594 256.61 376.915 255.376 376.187 255.881C375.709 256.212 375.874 256.489 377.032 257.305C377.835 257.87 378.494 257.999 378.523 257.598ZM392.418 261.979C394.835 259.956 394.102 258.579 391.55 260.348C390.045 261.391 389.708 261.922 390.148 262.558C390.599 263.209 391.105 263.079 392.418 261.979ZM426.974 307.39C426.109 306.142 425.92 306.194 425.408 307.821C424.981 309.18 426.291 310.577 426.936 309.45C427.168 309.046 427.438 308.659 427.538 308.59C427.637 308.521 427.383 307.981 426.974 307.39ZM389.464 249.562C389.131 249.082 388.568 248.892 388.211 249.14C387.854 249.387 387.626 249.68 387.703 249.792C387.78 249.904 388.344 250.093 388.956 250.214C389.867 250.394 389.959 250.276 389.464 249.562ZM396.733 256.359C396.426 255.915 395.883 255.755 395.526 256.002C395.169 256.249 395.129 256.814 395.436 257.258C395.743 257.701 396.287 257.861 396.643 257.614C397 257.367 397.041 256.802 396.733 256.359ZM399.786 250.604C399.043 250.802 397.786 251.377 396.993 251.884C395.401 252.899 395.894 254.591 397.688 254.272C398.236 254.175 398.922 254.213 399.212 254.358C399.502 254.503 400.054 253.637 400.438 252.433L401.137 250.244L399.786 250.604ZM403.837 257.374C403.429 256.785 402.345 257.37 402.285 258.213C402.263 258.519 402.474 259.101 402.754 259.506C403.148 260.075 403.37 259.975 403.73 259.067C403.986 258.421 404.035 257.659 403.837 257.374ZM430.007 289.753C429.786 290.112 429.218 291.057 428.743 291.852C428.073 292.975 428.097 293.362 428.846 293.583C429.594 293.804 429.94 293.514 430.396 292.28C431.011 290.615 430.704 288.62 430.007 289.753ZM399.879 243.774C401.821 244.784 402.226 246.383 400.607 246.646C399.62 246.807 398.47 245.446 398.256 243.864C398.149 243.076 398.499 243.057 399.879 243.774ZM429.892 283.892C429.687 283.596 429.13 283.624 428.655 283.953C428.179 284.283 427.957 284.794 428.162 285.09C428.367 285.386 428.924 285.358 429.399 285.028C429.875 284.699 430.097 284.187 429.892 283.892ZM403.731 245.213C404.055 245.681 404.023 246.128 403.66 246.207C402.627 246.431 401.693 245.366 402.457 244.836C402.833 244.575 403.407 244.745 403.731 245.213ZM410.4 251.711C409.975 251.377 409.443 251.427 409.217 251.821C408.613 252.877 409.339 253.59 410.323 252.908C410.885 252.518 410.911 252.112 410.4 251.711Z' fill='%2314004B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M295.035 462.005C293.051 463.745 291.045 465.539 289.013 467.389C287.318 468.933 283.169 471.859 279.794 473.89C274.676 476.971 272.918 478.41 269.219 482.551C264.861 487.429 264.674 487.563 258.743 490.121C252.342 492.882 249.846 493.206 248.593 491.442C247.596 490.039 246.703 491.164 246.888 493.593C247.027 495.425 246.942 495.514 245.043 495.553C243.557 495.584 242.493 495.045 240.843 493.43L238.634 491.267L238.742 493.097C238.823 494.462 238.494 495.082 237.448 495.537C235.461 496.401 233.738 495.94 233.05 494.359C232.104 492.185 232.767 491.156 236.03 489.737C237.702 489.01 238.962 488.167 238.83 487.864C238.698 487.562 236.22 487.354 233.322 487.402C226.345 487.519 218.336 485.592 217.464 483.588C217.309 483.232 217.751 482.152 218.447 481.19C219.178 480.176 219.575 478.807 219.39 477.939C219.091 476.543 219.315 476.331 222.634 474.888L226.2 473.337L225.417 471.538C224.551 469.548 223.903 469.473 223.569 471.325C223.373 472.407 223.202 472.403 222.028 471.283C220.364 469.698 220.016 469.856 219.911 472.246L219.827 474.16L218.129 473.27L216.43 472.379L216.19 474.374C215.986 476.065 215.588 476.527 213.578 477.401C211.561 478.279 211.131 478.261 210.706 477.283C210.324 476.407 210.792 475.52 212.671 473.558C216.281 469.787 218.266 462.528 215.339 463.801C214.919 463.984 213.186 465.886 211.489 468.027C208.197 472.182 205.527 473.759 207.606 470.32C209.591 467.038 210.235 464.675 209.943 461.736C209.787 460.159 209.76 457.954 209.883 456.837C210.006 455.72 210.037 454.645 209.952 454.449C209.683 453.832 206.389 455.537 205.656 456.672C203.392 460.178 202.369 451.878 204.161 444.532C205.387 439.505 207.069 436.445 209.95 434.003C211.102 433.026 212.079 432.149 212.12 432.054C212.161 431.959 211.4 430.913 210.43 429.73L208.665 427.578L212.946 421.325C215.631 417.403 218.011 414.592 219.331 413.784C220.818 412.873 221.367 412.161 221.202 411.359C221.025 410.498 221.667 409.798 223.863 408.462C228.545 405.612 232.547 402.303 241.253 394.086C241.706 393.658 242.144 393.247 242.568 392.852L295.035 462.005ZM258.847 481.237C257.671 481.749 258.447 483.077 259.784 482.842C260.31 482.75 260.505 482.302 260.262 481.743C260.02 481.187 259.439 480.979 258.847 481.237ZM253.691 484.055C253.43 485.01 254.837 486.546 255.65 486.193C256.182 485.961 256.074 485.657 255.097 484.632C254.419 483.921 253.798 483.666 253.691 484.055ZM240.913 477.055C238.149 478.571 238.6 480.063 241.447 478.824C243.127 478.094 243.561 477.638 243.252 476.929C242.936 476.203 242.415 476.232 240.913 477.055ZM215.844 425.794C216.45 427.186 216.646 427.171 217.465 425.675C218.147 424.425 217.134 422.8 216.282 423.78C215.976 424.131 215.635 424.459 215.524 424.507C215.413 424.555 215.558 425.134 215.844 425.794ZM241.397 489.81C241.63 490.345 242.146 490.641 242.544 490.468C242.942 490.295 243.223 490.051 243.169 489.926C243.115 489.802 242.599 489.506 242.022 489.269C241.164 488.915 241.051 489.014 241.397 489.81ZM235.588 481.73C235.803 482.225 236.305 482.488 236.703 482.314C237.101 482.141 237.25 481.595 237.035 481.1C236.82 480.606 236.318 480.343 235.92 480.516C235.522 480.689 235.373 481.235 235.588 481.73ZM231.475 486.782C232.242 486.732 233.587 486.411 234.463 486.069C236.222 485.383 236.067 483.627 234.246 483.591C233.689 483.58 233.023 483.409 232.767 483.21C232.511 483.012 231.801 483.754 231.19 484.861L230.08 486.872L231.475 486.782ZM228.817 479.353C229.103 480.011 230.279 479.647 230.502 478.832C230.584 478.536 230.49 477.923 230.293 477.472C230.017 476.838 229.781 476.892 229.251 477.713C228.874 478.297 228.679 479.035 228.817 479.353ZM209.44 442.504C209.727 442.195 210.468 441.379 211.088 440.691C211.964 439.719 212.016 439.336 211.324 438.973C210.633 438.611 210.237 438.828 209.551 439.95C208.624 441.464 208.537 443.48 209.44 442.504ZM230.056 493.463C228.347 492.094 228.26 490.447 229.9 490.504C230.899 490.539 231.762 492.097 231.665 493.69C231.617 494.484 231.27 494.435 230.056 493.463ZM208.414 448.276C208.557 448.606 209.109 448.687 209.64 448.456C210.17 448.225 210.487 447.767 210.344 447.437C210.2 447.107 209.649 447.026 209.118 447.257C208.587 447.488 208.271 447.947 208.414 448.276ZM226.557 491.303C226.33 490.781 226.448 490.348 226.82 490.342C227.876 490.323 228.586 491.549 227.734 491.92C227.314 492.103 226.784 491.824 226.557 491.303ZM221.278 483.632C221.63 484.042 222.162 484.097 222.46 483.754C223.258 482.836 222.685 481.996 221.587 482.473C220.959 482.746 220.855 483.14 221.278 483.632Z' fill='%2314004B'/%3E%3C/svg%3E");

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                pointer-events: none;
                z-index: 0;
            }

            &.submitted {
                &::after {
                    bottom: toRem(-724);
                }
            }
        }

        &__closer {
            top: toRem(32);
            right: toRem(32);

            width: toRem(32);
            height: toRem(32);

            background-size: 60%;

            cursor: pointer;
            outline: none;

            z-index: 2;
        }

        &__title {
            font-weight: 500;
            font-size: toRem(24);
            line-height: toRem(29);
            margin-bottom: toRem(16);
            max-width: 100%;
        }

        &__description {
            font-size: toRem(14);
            line-height: toRem(22);
            margin-bottom: toRem(48);
        }

        .order-form {
            max-width: toRem(460);

            &__list {
                order: 1;
                margin-bottom: toRem(24);
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: toRem(24);
                grid-row-gap: toRem(24);
            }

            &__item:first-of-type {
                grid-column: 1 / 3;
            }

            &__item:nth-of-type(2) {
                grid-column: 1 / 2;
            }

            &__item:nth-of-type(3) {
                grid-column: 2 / 3;
            }

            &__item:last-of-type {
                grid-column: 1 / 3;
            }

            &__input {
                font-size: toRem(18);
                line-height: toRem(23);
                letter-spacing: 0.01em;
                padding-bottom: toRem(18);
                border-width: toRem(2);
            }

            &__textarea {
                font-size: toRem(18);
                line-height: toRem(23);
                letter-spacing: 0.01em;
                height: toRem(40);
                border-width: toRem(2);
            }

            &__submit {
                order: 3;
                width: auto;
                font-size: toRem(18);
                line-height: toRem(22);
                padding: toRem(17) toRem(24);
                margin-bottom: toRem(0);

                &:focus,
                &:hover {
                    opacity: 0.86;
                    transition: 0.35s $cubic;
                }
            }

            &__agree {
                order: 2;
                font-family: $book-font;
                font-weight: 350;
                font-size: toRem(14);
                line-height: toRem(22);

                margin-bottom: toRem(48);
            }
        }
    }
}
