.popup-callback {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.48);

    @include flex-setting(column, center, center);

    z-index: 999;

    display: none;

    &.active {
        display: flex;
    }

    &.form_wrap {
        &.submitted {
            .popup-order__description {
                margin-bottom: 0;
            }
        }
    }

    &__wrapper {
        position: relative;

        width: 100%;
        max-width: toRem(343);

        @include flex-setting(column, flex-start, flex-start);

        background-color: $white;
        border-radius: toRem(10);

        padding: toRem(24) toRem(16) toRem(40) toRem(16);
    }

    &__closer {
        position: absolute;
        top: toRem(16);
        right: toRem(16);

        @include flex-setting(column, center, center);
        width: toRem(24);
        height: toRem(24);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.348783 0.340519C0.641677 0.0476263 1.11655 0.0476263 1.40944 0.34052L6.00561 4.93669L10.5963 0.346041C10.8892 0.0531493 11.3641 0.0531518 11.657 0.346047C11.9499 0.638941 11.9499 1.11382 11.657 1.40671L7.06627 5.99735L11.657 10.588C11.9499 10.8809 11.9499 11.3558 11.657 11.6487C11.3641 11.9416 10.8892 11.9416 10.5963 11.6487L6.00561 7.058L1.40386 11.6597C1.11097 11.9526 0.636094 11.9526 0.343202 11.6597C0.0503106 11.3668 0.0503131 10.8919 0.343208 10.599L4.94495 5.99734L0.348783 1.40118C0.0558901 1.10829 0.0558901 0.633413 0.348783 0.340519Z' fill='%2314004B'/%3E%3C/svg%3E");
        background-color: transparent;
        border: none;
        z-index: 2;
    }

    &__title {
        @include font-setting($primary-font, toRem(22), toRem(26), 400, $dark);
        text-align: left;
        margin-bottom: toRem(56);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(18), 400, $dark);
        text-align: left;
        letter-spacing: 0.01em;
    }

    .callback-form {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        &__item {
            width: 100%;
            position: relative;
            display: inline-flex;
            margin-bottom: toRem(48);
        }

        &__input {
            @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: toRem(1) solid $dark;
            padding: 0;
            padding-bottom: toRem(16);

            cursor: text;
            outline: none;


            &::-webkit-input-placeholder {
                color: $dark;
            }

            &::-moz-placeholder {
                color: $dark;
            }

            &:-ms-input-placeholder {
                color: $dark;
            }

            &:-moz-placeholder {
                color: $dark;
            }

            &.error {
                border-color: $red;
            }
        }

        &__error {
            @include font-setting($book-font, toRem(14), toRem(22), 350, $red);
            position: absolute;
            bottom: toRem(-24);
            left: 0;

            &.hidden {
                visibility: hidden;
                opacity: 0;
            }
        }

        &__submit {
            width: 100%;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
            letter-spacing: 0.02em;
            background-color: $blue;
            border: none;
            border-radius: toRem(6);

            padding: toRem(15) 0;

            cursor: pointer;
            outline: none;
            margin-bottom: toRem(16);
            transition: 0.35s $cubic;

            &:active {
                opacity: 0.8;
                transition: 0.35s $cubic;
            }
        }

        &__agree {
            @include font-setting($primary-font, toRem(10), toRem(16), 500, $dark);
            text-align: left;
            letter-spacing: 0.01em;

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}

@include min-screen(1200px) {
    .popup-callback {
        &__wrapper {
            width: 100%;
            max-width: toRem(827);

            box-shadow: 13px 13px 75px rgba(15, 19, 31, 0.2);

            padding: toRem(48) toRem(254) toRem(56) toRem(64);

            overflow: hidden;
        }

        &__closer {
            top: toRem(32);
            right: toRem(32);

            width: toRem(32);
            height: toRem(32);

            background-size: 60%;

            cursor: pointer;
            outline: none;
        }

        &__title {
            font-weight: 500;
            font-size: toRem(24);
            line-height: toRem(29);
            max-width: 100%;
            margin-bottom: toRem(48);
        }

        &__description {
            font-size: toRem(14);
            line-height: toRem(22);
        }

        .callback-form {
            max-width: toRem(394);

            &__item {
                order: 1;
                margin-bottom: toRem(24);
            }

            &__input {
                font-size: toRem(18);
                line-height: toRem(23);
                letter-spacing: 0.01em;
                padding-bottom: toRem(18);
                border-width: toRem(2);
            }

            &__submit {
                order: 3;
                width: auto;
                font-size: toRem(18);
                line-height: toRem(22);
                padding: toRem(17) toRem(24);
                margin-bottom: toRem(0);

                &:focus,
                &:hover {
                    opacity: 0.86;
                    transition: 0.35s $cubic;
                }
            }

            &__agree {
                order: 2;
                font-family: $book-font;
                font-weight: 350;
                font-size: toRem(14);
                line-height: toRem(22);

                margin-bottom: toRem(48);
            }
        }
    }
}
