.r-activities {
    width: 100%;
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    max-width: toRem(343);
    padding: toRem(24) 0 toRem(32) 0;
    margin-bottom: toRem(56);

    &__title {
        @extend .r-ability__title;
        margin-bottom: toRem(32);
    }

    &__wrap {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(32);
    }

    &__item {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
    }

    &__subtitle {
        @include font-setting($book-font, toRem(14), toRem(21.7), 350, rgba(20, 0, 75, 0.5));
        text-align: left;
        letter-spacing: toRem(0.14);
        margin-bottom: toRem(16);
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        gap: toRem(16);

        &-item {
            width: 100%;
            display: inline;

            b {
                @include font-setting($book-font, toRem(16), toRem(20.8), 350, $blue);
                letter-spacing: toRem(0.16);
            }

            span {
                @include font-setting($book-font, toRem(16), toRem(20.8), 350, $dark);
                letter-spacing: toRem(0.16);
            }
        }
    }

    &__expand {
        position: relative;
        padding: 0;
        padding-right: toRem(32);
        background-color: transparent;
        border: none;
        margin-top: toRem(32);
        @include font-setting($book-font, toRem(14), toRem(24), 350, $blue);
        letter-spacing: toRem(0.14);
        transition: opacity 0.2s $cubic;

        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            width: toRem(24);
            height: toRem(24);
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 9.46967C11.7626 9.17678 12.2374 9.17678 12.5303 9.46967L16.5303 13.4697C16.8232 13.7626 16.8232 14.2374 16.5303 14.5303C16.2374 14.8232 15.7626 14.8232 15.4697 14.5303L12 11.0607L8.53033 14.5303C8.23744 14.8232 7.76256 14.8232 7.46967 14.5303C7.17678 14.2374 7.17678 13.7626 7.46967 13.4697L11.4697 9.46967Z' fill='%234164EE'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.2s $cubic;
        }

        &:active {
            opacity: 0.8;
            transition: opacity 0.2s $cubic;
        }

        &.is-active {
            &::after {
                transform: translateY(-50%) rotate(0deg);
                transition: 0.4s $cubic;
            }
        }
    }
}

@include min-screen(1200px) {
    .r-activities {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-width: 100%;
        padding-top: toRem(32);
        padding-left: toRem(24);
        padding-right: toRem(24);
        padding-bottom: toRem(40);
        margin-bottom: 0;

        &__title {
            margin-bottom: toRem(32);
        }
    
        &__wrap {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: toRem(32);
            justify-content: space-between;
            align-items: start;
        }
    
        &__list {
            gap: toRem(20);
    
            &-item {
                line-height: toRem(18);
                height: auto;

                b { 
                    height: auto;
                    font-size: toRem(15);
                    line-height: toRem(18);
                    letter-spacing: toRem(0.3);
                }
    
                span {
                    height: auto;
                    font-size: toRem(15);
                    line-height: toRem(18);
                    letter-spacing: toRem(0.3);
                }
            }
        }

        &__expand {
            &:hover {
                opacity: 0.86;
                transition: opacity 0.2s $cubic;
            }
        }
    }
}