.r-general {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    max-width: toRem(343);
    padding: toRem(24) toRem(24) toRem(32) toRem(24);
    margin-bottom: toRem(56);

    &__title {
        @extend .r-ability__title;
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        gap: toRem(24);

        &-item {
            @include flex-setting(column, flex-start, flex-start);
            width: 100%;
        }

        &-name {
            margin-bottom: toRem(8);
            @include font-setting($primary-font, toRem(14), toRem(21.7), 400,rgba(20, 0, 75, 0.5));
            text-align: left;
            letter-spacing: toRem(0.14);
        }

        &-data {
            @include font-setting($primary-font, toRem(15), toRem(18), 400, $dark);
            text-align: left;
            letter-spacing: toRem(0.3);
        }

        &-start {
            margin-top: toRem(4);
            @include font-setting($book-font, toRem(14), toRem(18.2), 350, rgba(20, 0, 75, 0.3));
            text-align: left;
            letter-spacing: toRem(0.14);
        }
    }
}

@include min-screen(1200px) {
    .r-general {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        max-width: 100%;
        margin-bottom: 0;
    
        &__list {
            &-item {
                display: grid;
                grid-template-columns: toRem(160) toRem(280);
                justify-content: space-between;
                align-items: start;
                column-gap: toRem(16);
            }
    
            &-name {
                margin-bottom: 0;
            }

            &-start {
                margin-top: toRem(8);
            }
        }
    }
}