.r-general {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    max-width: toRem(343);
    padding: toRem(24) 0 toRem(32) 0;
    margin-bottom: toRem(56);

    &__title {
        @extend .r-ability__title;
        margin-bottom: toRem(32);
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        gap: toRem(24);

        &-item {
            @include flex-setting(column, flex-start, flex-start);
            width: 100%;

            &:last-of-type {
                .r-general__list-data {
                    max-width: 70%;
                }
            }
        }

        &-name {
            margin-bottom: toRem(8);
            @include font-setting($book-font, toRem(14), toRem(21.7), 350,rgba(20, 0, 75, 0.5));
            text-align: left;
            letter-spacing: toRem(0.14);
        }

        &-data {
            @include font-setting($book-font, toRem(15), toRem(18), 350, $dark);
            text-align: left;
            letter-spacing: toRem(0.3);
        }

        &-start {
            margin-top: toRem(4);
            @include font-setting($book-font, toRem(14), toRem(18.2), 350, rgba(20, 0, 75, 0.3));
            text-align: left;
            letter-spacing: toRem(0.14);
        }
    }
}

@include min-screen(1200px) {
    .r-general {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        max-width: 100%;
        margin-bottom: 0;

        padding: toRem(32) toRem(24) toRem(40) toRem(24);

        &__title {
            line-height: toRem(29);
        }
    
        &__list {
            &-item {
                display: grid;
                grid-template-columns: toRem(160) toRem(280);
                justify-content: space-between;
                align-items: start;
                column-gap: toRem(16);

                &:last-of-type {
                    .r-general__list-data {
                        max-width: 100%;
                    }
                }
            }
    
            &-name {
                margin-bottom: 0;
            }

            &-data {
                padding-top: toRem(2);
            }

            &-start {
                margin-top: toRem(8);
                grid-column: 2 / 3;
            }
        }
    }
}