.steps {
    width: 100%;
    @include flex-setting(column, flex-start, center);

    --width: calc(100% - 343px);
    padding: toRem(48) calc(var(--width) / 2) toRem(56) calc(var(--width) / 2);
    margin-bottom: toRem(48);

    &.loaded {
        .steps__title {
            animation: fadeInBottom 0.3s $cubic forwards 0s;
        }

        .steps__item:first-of-type {
            animation: fadeInBottom 0.3s $cubic forwards 0.2s;
        }

        .steps__item:nth-of-type(2) {
            animation: fadeInBottom 0.3s $cubic forwards 0.3s;
        }

        .steps__item:nth-of-type(3) {
            animation: fadeInBottom 0.3s $cubic forwards 0.4s;
        }

        .steps__order {
            animation: fadeInBottom 0.3s $cubic forwards 0.5s;
        }
    }

    &--factoring {
        .steps__list {
            margin-bottom: toRem(56);
        }
    }

    &__title {
        opacity: 0;
        margin-bottom: toRem(56);

        span {
            color: $blue;
        }
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__item {
        opacity: 0;
        width: 100%;
        @include flex-setting(column, center, flex-start);

        position: relative;

        padding-left: toRem(90);

        &:first-of-type {
            padding-bottom: toRem(24);

            .steps__icon {
                top: 0;
            }
        }

        &:nth-of-type(2) {
            padding-top: toRem(24);
            padding-bottom: toRem(24);

            .steps__icon {
                top: toRem(24);
            }
        }

        &:last-of-type {
            padding-top: toRem(24);


            .steps__icon {
                top: toRem(24);
            }
        }

        &:not(:last-of-type) {
            border-bottom: toRem(1) dashed #e3e3e3;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        display: block;
        width: toRem(74);
        height: toRem(65);

        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        &.step-1 {
            background-image: url("data:image/svg+xml,%3Csvg width='86' height='133' viewBox='0 0 86 133' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.9611 132.156H26.9118C26.5037 132.156 26.1729 131.823 26.1729 131.414V81.6465C26.1729 81.4535 26.3956 62.2269 30.3434 49.9069C33.9982 38.6189 40.5019 28.472 49.2221 20.4526V7.19817H32.9044C27.0029 20.9198 18.0141 22.0167 1.58504 22.5144V40.6847H21.8303C22.2384 40.6847 22.5692 41.0166 22.5692 41.4261C22.5692 41.8356 22.2384 42.1675 21.8303 42.1675H0.87646C0.468501 42.1787 0.128722 41.856 0.117541 41.4467C0.117353 41.4398 0.117261 41.433 0.117263 41.4261L0.117263 21.8034C0.111573 21.4035 0.427289 21.0731 0.825847 21.062C18.6012 20.5339 26.3753 19.0307 31.7403 6.17235C31.8693 5.91688 32.1333 5.75874 32.4186 5.76608H49.9611C50.3635 5.76608 50.6899 6.09349 50.6899 6.49736V19.1729C59.7273 11.3278 70.1756 5.28796 81.4728 1.37841C81.8656 1.26766 82.2737 1.49746 82.384 1.89168C82.4861 2.25591 82.2984 2.63877 81.9485 2.78003C70.4301 6.76451 59.8178 13.0104 50.7304 21.1534V131.414C50.7307 131.823 50.4002 132.156 49.992 132.157C49.9817 132.157 49.9714 132.156 49.9611 132.156ZM27.6913 130.683H49.2221V22.5347C41.1811 30.2179 35.1731 39.789 31.7403 50.3843C27.8634 62.491 27.6913 81.4941 27.6913 81.6871V130.683Z' fill='%2314004B'/%3E%3Cpath d='M75.3017 9.42588C75.8101 5.84486 81.4451 2.39173 84.199 1.11279C80.8096 1.53911 73.141 2.13594 69.582 1.11279' stroke='%2314004B' stroke-width='1.88237' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        &.step-2 {
            background-image: url("data:image/svg+xml,%3Csvg width='101' height='129' viewBox='0 0 101 129' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90.6826 128.154H1.68402C1.29302 128.16 0.966991 127.857 0.945313 127.467L0.945312 108.269C0.948879 108.051 1.04448 107.845 1.20841 107.703C19.9695 92.2534 35.2191 79.4108 45.986 68.1546C41.9738 66.622 38.2434 64.437 34.9459 61.6879C29.0565 56.6863 25.8386 50.3206 25.4946 43.2678C25.4946 19.4924 41.7764 17.6433 46.7449 17.6433C58.6249 17.6433 65.3643 24.1606 65.3643 35.5178C65.3643 45.5615 59.394 55.7264 48.5563 67.4777C54.9361 69.609 61.7058 70.3195 68.39 69.5591C69.6852 69.4076 70.9501 69.1954 72.1746 68.9327C82.1724 56.7368 87.1105 45.2583 87.1105 34.3255C87.1105 13.541 72.893 1.61795 48.1009 1.61795C34.7739 1.61795 23.1469 5.983 15.3753 13.8947C8.08949 21.3718 4.35549 31.4761 4.58823 43.2274C4.59382 43.6291 4.27219 43.9593 3.86984 43.9649C3.86644 43.965 3.86305 43.965 3.85965 43.965C3.46301 43.9761 3.13241 43.6641 3.12123 43.2681C3.12104 43.2612 3.12095 43.2545 3.12095 43.2476C2.87809 31.1225 6.75375 20.5837 14.3229 12.8741C22.3778 4.66945 34.3388 0.152832 48.1009 0.152832C73.399 0.152832 88.5778 12.9246 88.5778 34.3255C88.5778 45.1472 83.923 56.4539 74.4817 68.387C82.6681 66.1007 90.2122 61.9503 96.5214 56.2619C96.8198 56.0061 97.2677 56.0329 97.5333 56.3225C97.8006 56.6065 97.8006 57.049 97.5333 57.333C90.5639 63.6398 82.1132 68.0884 72.9639 70.2664C63.4113 81.8055 49.4265 93.9307 30.9185 106.804H90.6826C91.085 106.804 91.4112 107.129 91.4112 107.531V127.467C91.3898 127.853 91.0697 128.155 90.6826 128.154ZM2.4126 126.689H89.9945V108.269H28.5607C28.2397 108.27 27.9561 108.059 27.8625 107.753C27.7697 107.448 27.884 107.118 28.1458 106.935C46.7989 94.1361 60.9658 82.0615 70.6466 70.711C69.9483 70.8222 69.24 70.9333 68.5316 71.0142C61.4302 71.8088 54.2407 71.0007 47.4938 68.6497C36.6561 80.0979 21.3052 92.991 2.4126 108.562V126.689ZM46.7652 19.1085C28.3887 19.1085 26.9618 37.5387 26.9618 43.2375C27.2553 49.8457 30.2911 55.8476 35.8971 60.5663C39.2143 63.3152 42.9794 65.4752 47.0283 66.9522C57.9166 55.3323 63.897 45.2785 63.897 35.5178C63.897 24.9386 57.8154 19.1085 46.7652 19.1085Z' fill='%2314004B'/%3E%3Cpath d='M94.1139 65.4487C93.3349 61.9398 97.4277 56.7491 99.5715 54.5924C96.5298 56.1794 89.5189 59.428 85.8086 59.7266' stroke='%2314004B' stroke-width='1.88237' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        &.step-3 {
            background-image: url("data:image/svg+xml,%3Csvg width='122' height='133' viewBox='0 0 122 133' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.3801 132.155C20.5177 132.155 2.16863 115.073 0.711875 89.6477C0.701754 89.4434 0.773893 89.2439 0.911431 89.0956C1.04933 88.9471 1.24017 88.8622 1.44025 88.8605H22.8426C23.1997 88.862 23.5014 89.132 23.551 89.4943C25.4567 102.784 33.3891 110.554 47.1484 112.639C62.9432 115.042 76.4032 111.259 87.1393 101.394C88.7267 99.9376 90.2168 98.3733 91.5993 96.7119C91.7091 95.526 91.759 94.3094 91.759 93.0622C91.8173 80.1663 84.4302 68.4541 72.9309 63.2107C72.678 63.0997 72.5107 62.8485 72.5019 62.5666C72.481 62.2888 72.6218 62.0244 72.8611 61.8919C82.7391 56.1261 88.6359 46.0563 88.6359 34.954C88.6359 12.0951 68.6804 1.86178 48.8546 1.86178C22.7228 1.872 6.13978 15.9901 3.23625 40.6381H23.3414C24.8082 26.9698 34.0276 18.4334 47.5375 18.4334C61.0474 18.4334 67.1937 27.5422 67.1937 35.9968C67.1937 47.9783 56.5175 55.1344 38.6473 55.1344H35.4145V72.3808H39.4655C51.6983 72.3808 60.798 75.4478 65.7569 81.1216C66.0324 81.4265 66.0146 81.9025 65.717 82.1848C65.4195 82.4671 64.9548 82.4488 64.6793 82.1439C59.9898 76.7563 51.2792 73.9041 39.4655 73.9041H34.6961C34.2977 73.9041 33.9733 73.5762 33.9678 73.168V54.3882C33.9733 53.9799 34.2977 53.6521 34.6961 53.6521H38.6873C55.6495 53.6521 65.7869 47.048 65.7869 35.9968C65.7869 24.9456 56.308 19.9158 47.5375 19.9158C34.5664 19.9158 25.8758 28.1659 24.7084 41.4457C24.6772 41.828 24.3645 42.1217 23.99 42.1204H2.42805C2.22246 42.1214 2.02632 42.0321 1.88925 41.8751C1.74818 41.7135 1.68263 41.4971 1.70965 41.2821C4.4236 15.3052 21.6652 0.389648 48.8546 0.389648C69.3789 0.389648 90.0827 11.083 90.0827 34.9642C90.0202 46.2438 84.2129 56.671 74.7669 62.4644C86.1048 68.2321 93.2559 80.1028 93.2058 93.0724C93.2058 93.6449 93.2058 94.2174 93.2058 94.7797C104.95 79.5881 115.247 51.9653 113.84 12.7903C113.781 12.3825 114.056 12.0032 114.454 11.9431C114.853 11.883 115.223 12.1647 115.281 12.5725C115.289 12.6277 115.291 12.6836 115.287 12.7392C116.284 40.6892 110.807 76.4087 93.0262 97.407C90.8809 118.671 73.0607 132.155 46.3801 132.155ZM2.20854 90.3531C3.94467 114.51 21.6053 130.683 46.3801 130.683C71.3245 130.683 88.2867 118.589 91.2801 99.3494C90.2823 100.454 89.1947 101.517 88.0971 102.519C77.0218 112.68 63.1527 116.586 46.9289 114.112C32.9001 111.975 24.3592 103.766 22.214 90.3531H2.20854Z' fill='%2314004B'/%3E%3Cpath d='M119.5 24.7891C116.166 23.5404 115.079 13.3379 114.416 10.3511C114.13 13.7879 111.712 23.698 110 27' stroke='%2314004B' stroke-width='1.88237' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-position: left 12px center;
        }
    }

    &__name {
        @include font-setting($primary-font, toRem(18), toRem(22), 500, $dark);
        margin-bottom: toRem(8);
    }

    &__description {
        @include font-setting($book-font, toRem(14), toRem(20), 350, $dark);
        text-align: left;
        letter-spacing: 0.01em;
    }

    &__order {
        opacity: 0;

        width: 100%;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(15), toRem(18), 500, $white);
        text-decoration: none;
        letter-spacing: 0.02em;
        background-color: $blue;
        border: none;
        border-radius: toRem(6);

        padding: toRem(15) 0;

        cursor: pointer;
        outline: none;

        transition: 0.35s $cubic;

        &:active {
            opacity: 0.8;
            transition: 0.35s $cubic;
        }
    }
}

@include min-screen(1200px) {
    .steps {
        --width: calc(100% - 1032px);
        margin-bottom: toRem(112);

        &.loaded {
            .steps__title {
                animation: fadeInBottom 0.3s $cubic forwards 0s;
            }

            .steps__item:first-of-type {
                animation: fadeInBottom 0.2s $cubic forwards 0.2s;
            }

            .steps__item:nth-of-type(2) {
                animation: fadeInBottom 0.2s $cubic forwards 0.3s;
            }

            .steps__item:nth-of-type(3) {
                animation: fadeInBottom 0.2s $cubic forwards 0.4s;
            }
        }

        &__title {
            margin-bottom: toRem(72);
            text-align: center;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, toRem(328));
            grid-column-gap: toRem(24);
            justify-content: start;
            align-items: start;

            &.--warranty,
            &.--credit {
                .steps__item:first-of-type,
                .steps__item:nth-of-type(2),
                .steps__item:last-of-type {
                    .steps__description {
                        max-width: 100%;
                    }
                }
            }
        }

        &__item {
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;

            &:first-of-type {
                padding-bottom: 0;

                .steps__icon {
                    top: 0;
                }
            }

            &:nth-of-type(2) {
                padding-top: 0;
                padding-bottom: 0;

                .steps__icon {
                    top: auto;
                    transform: none;
                }
            }

            &:last-of-type {
                padding-top: 0;


                .steps__icon {
                    bottom: auto;
                    top: auto;
                    left: auto;
                }

                .steps__description {
                    max-width: 88%;
                }
            }

            &:not(:last-of-type) {
                border-bottom: none;
            }
        }

        &__icon {
            position: relative;
            left: auto;
            width: toRem(152);
            height: toRem(138);

            margin-bottom: toRem(40);

            &.step-1 {
                background-position: left 36px center;
            }

            &.step-2 {
                background-position: left 27px center;
            }

            &.step-3 {
                background-position: left 26px center;
            }
        }

        &__name {
            text-align: center;
            font-size: toRem(22);
            line-height: toRem(29);
            margin-bottom: toRem(16);
        }

        &__description {
            text-align: center;
            font-size: toRem(18);
            line-height: toRem(26);
        }

        &__order {
            width: auto;
            font-size: toRem(18);
            line-height: toRem(22);
            padding: toRem(17) toRem(24);
            
            &:hover,
            &:focus {
                opacity: 0.8;
                transition: 0.35s $cubic;
            }
        }
    }
}
