.values {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    --width: calc(100% - 343px);
    padding: toRem(48) calc(var(--width) / 2) toRem(56) calc(var(--width) / 2);
    margin-bottom: toRem(48);

    &.loaded {
        .values__title,
        .values__info {
            animation: fadeInBottom 0.3s $cubic forwards 0s;
        }
        .values__item {
            &:first-of-type {
                animation: fadeInBottom 0.2s $cubic forwards 0.1s;
            }

            &:nth-of-type(2) {
                animation: fadeInBottom 0.2s $cubic forwards 0.2s;
            }

            &:nth-of-type(3) {
                animation: fadeInBottom 0.2s $cubic forwards 0.3s;
            }

            &:last-of-type {
                animation: fadeInBottom 0.2s $cubic forwards 0.4s;
            }
        }
        .values__svg {
            animation: fadeInStatic 0s $cubic forwards 0.2s;
        }

        .values__line-mask {
            animation: dash 0.5s $cubic forwards 0.2s;
        }

        .values__line-top {
            animation: dash 0.2s $cubic forwards 0.7s;
        }

        .values__gallery {
            animation: fadeInBottom 0.3s $cubic forwards 0.5s;
        }
    }

    &__title {
        margin-bottom: toRem(40);
        opacity: 0;

        span {
            color: $blue;
        }
    }

    &__info {
        opacity: 0;
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        gap: toRem(20);
        margin-bottom: toRem(9);
    }

    &__description {
        @include font-setting($book-font, toRem(14), toRem(20), 350, $dark);
        text-align: left;
        letter-spacing: 0.01em;
    }

    &__names {
        width: 100%;
        @include flex-setting(column, center, center);

        padding-top: toRem(103);
        padding-bottom: toRem(112);

        position: relative;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        padding-left: toRem(70);
        gap: toRem(40);
        z-index: 2;
    }

    &__item {
        width: auto;
        opacity: 0;
        @include flex-setting(row, flex-start, center);

        &:first-of-type {
            background-color: $white;
            position: relative;

            &::before {
                position: absolute;
                content: '';

                width: 20px;
                height: 100%;
                background-color: $white;
                left: -10px;
                top: 0;
                z-index: -1;
            }
        }

        span {
            display: inline-flex;
            @include font-setting($book-font, toRem(40), toRem(44), 350, $dark);
        }
    }

    &__svg {
        width: toRem(303);
        height: toRem(407);
        position: absolute;
        opacity: 0;
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__line-mask {
        fill: none;
        stroke: $dark;
        stroke-linecap: round;
        stroke-width: 2px;
        animation: fadeOutStatic 0s $cubic forwards;
        z-index: -1;
    }

    &__line-top {
        fill: none;
        stroke: $dark;
        stroke-linecap: round;
        stroke-width: 2px;
        animation: fadeOutStatic 0s $cubic forwards;
        z-index: -1;
    }


    &__gallery {
        opacity: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: toRem(106);
        grid-gap: toRem(16) toRem(16);
    }

    &__photo {
        width: 100%;
        height: 100%;
        border-radius: toRem(6);

        &:nth-of-type(3) {
            grid-column: 2 / 3;
            grid-row: 2 / 4;

            .values__frame-image {
                object-position: -63px top;
            }
        }

        &:last-of-type {
            display: none;
        }
    }

    &__frame {
        width: 100%;
        height: 100%;
        @include flex-setting(column, flex-start, center);
        overflow: hidden;
        border-radius: toRem(6);
        -webkit-mask-image: -webkit-radial-gradient(white, black);

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            transform-origin: center;
            transition: 0.3s $cubic;
            border-radius: toRem(6);
        }

        &:hover {
            border-radius: toRem(6);
            .values__frame-image {
                will-change: transform;
                transform: scale(1.1);
                transform-origin: center;
                transition: 0.3s $cubic;
                border-radius: toRem(6);
            }
        }
    }
}

@include min-screen(1200px) {
    .values {
        --width: calc(100% - 1032px);
        margin-bottom: toRem(112);
        display: grid;
        grid-template-columns: toRem(272) 1fr;
        grid-column-gap: toRem(80);

        grid-template-areas:
            'title title'
            'names info'
            'gallery gallery'
        ;

        justify-content: start;
        align-items: start;

        &.loaded {
            .values__info {
                animation: fadeInBottom 0.3s $cubic forwards 0.1s;
            }
            .values__item {
                &:first-of-type {
                    animation: fadeInBottom 0.2s $cubic forwards 0.1s;
                }

                &:nth-of-type(2) {
                    animation: fadeInBottom 0.2s $cubic forwards 0.2s;
                }

                &:nth-of-type(3) {
                    animation: fadeInBottom 0.2s $cubic forwards 0.3s;
                }

                &:last-of-type {
                    animation: fadeInBottom 0.2s $cubic forwards 0.4s;
                }
            }
            .values__svg {
                animation: fadeInStatic 0s $cubic forwards 0.2s;
            }

            .values__line-mask {
                animation: dash 0.5s $cubic forwards 0.2s;
            }

            .values__gallery {
                animation: fadeInBottom 0.3s $cubic forwards 0.5s;
            }
        }

        &__title {
            grid-area: title;
            align-self: center;
            text-align: center;
            margin-bottom: toRem(74);
        }

        &__info {
            grid-area: info;
            gap: toRem(26);
            margin-bottom: 0;
        }

        &__list {
            padding: 0;
        }

        &__description {
            font-size: toRem(18);
            line-height: toRem(26);
            max-width: toRem(592);
        }

        &__names {
            grid-area: names;
            padding-left: toRem(51);
            padding-top: toRem(30);
            padding-bottom: 0;
        }

        &__svg {
            width: toRem(305);
            height: toRem(407);
            position: absolute;
            left: 0;
        }

        &__gallery {
            grid-area: gallery;;
            margin-top: toRem(89);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: toRem(10);
        }

        &__photo {
            max-width: toRem(382);

            &:first-of-type {
                max-width: toRem(313);
            }

            &:nth-of-type(2) {
                max-width: toRem(341);
            }

            &:nth-of-type(3) {
                max-width: toRem(358);
                .values__frame-image {
                    object-position: center;
                }
            }

            &:nth-of-type(4) {
                max-width: toRem(340);
            }

            &:nth-of-type(5) {
                max-width: toRem(382);
            }

            &:last-of-type {
                display: flex;
                max-width: toRem(290);
            }
        }

        &__frame {
            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}
