.nav {
    &--mobile {
        width: 100%;

        position: absolute;

        width: 100%;
        height: calc((var(--vh, 1vh) * 100) - 56px);
        overflow: hidden;

        top: toRem(58);
        left: 0;
        @include flex-setting(column, flex-start, center);

        background-color: $white;

        z-index: 10;

        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.35s $cubic 0.8s;

        &.opened {
            height: calc((var(--vh, 1vh) * 100) - 56px);
            transform: scaleY(1);
            transform-origin: top;
            transition: transform 0.2222s $cubic;

            .nav__list {
                animation: fadeInLeft 0.35s $cubic forwards 0.35s;
            }

            .nav__contacts {
                animation: fadeInRight 0.35s $cubic forwards 0.55s;
            }
        }
    }

    &--desktop {
        display: none;
    }

    &__list {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);

        padding: 0 toRem(16);
        margin-bottom: toRem(48);
        opacity: 0;
        animation: fadeOutRight 0.35s $cubic backwards 0.55s;

        &-item {
            width: 100%;

            &[open] {
                .nav__list-name {
                    margin-bottom: toRem(16);
                }

                .nav__list-arr {
                    transform: rotate(180deg);
                    transition: 0.35s $cubic;
                }
            }
        }

        &-name {
            width: 100%;
            @include flex-setting(row, flex-start, center);
            @include font-setting($primary-font, toRem(18), toRem(22), 500, $dark);
            padding: toRem(16) 0;
            border-bottom: toRem(1) solid #e3e3e3;
            text-decoration: none;

            &::-webkit-details-marker,
            &::marker {
                display: none;
            }
        }

        &-arr {
            display: block;
            width: toRem(24);
            height: toRem(24);
            transition: 0.35s $cubic;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: toRem(10) toRem(6);
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L5 3.93934L8.46967 0.46967C8.76256 0.176777 9.23744 0.176777 9.53033 0.46967C9.82322 0.762563 9.82322 1.23744 9.53033 1.53033L5.53033 5.53033C5.23744 5.82322 4.76256 5.82322 4.46967 5.53033L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z' fill='%2314004B'/%3E%3C/svg%3E");
        }

        &-inner {
            width: 100%;
            @include flex-setting(column, flex-start, flex-start);
            gap: toRem(16);
            padding-bottom: toRem(16);
            border-bottom: toRem(1) solid #e3e3e3;
        }

        &-link {
            @include font-setting($primary-font, toRem(16), toRem(22), 400, $dark);
            text-decoration: none;
            transition: 0.35s $cubic;

            &:active {
                color: $blue;
                transition: 0.35s $cubic;
            }
        }
    }

    &__contacts {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding: 0 toRem(16);
        opacity: 0;
        animation: fadeOutLeft 0.35s $cubic backwards 0.35s;

        &-link {
            @include font-setting($primary-font, toRem(14), toRem(17), 500, $dark);
            text-decoration: none;
            outline: none;
            background-color: transparent;
            border: none;

            padding: 0;

            &:first-of-type {
                margin-bottom: toRem(4);
            }

            &:last-of-type {
                margin-bottom: toRem(24);
            }
        }

        &-btn {
            width: auto;
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, toRem(15), toRem(18), 500, $dark);
            text-decoration: none;
            background-color: white;
            border: toRem(2) solid $dark;
            border-radius: toRem(6);

            padding: toRem(13) toRem(30);

            cursor: pointer;
            outline: none;
        }
    }
}

@include min-screen(1200px) {
    .nav {
        &--mobile {
            display: none;
        }
        &--desktop {
            width: 100%;
            @include flex-setting(row, flex-start, center);
        }

        &__list {
            width: auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: toRem(40);

            padding: 0;
            margin-bottom: 0;
            opacity: 1;
            animation: none;

            &-item {
                width: 100%;
            }

            &-link {
                white-space: nowrap;
                font-size: toRem(15);
                line-height: toRem(18);
                letter-spacing: 0.02em;

                &:hover,
                &:focus {
                    color: $blue;
                    transition: 0.35s $cubic;
                }
            }
        }

        &__contacts {
            width: auto;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            padding: 0;
            opacity: 1;
            animation: none;

            margin-right: 0;
            margin-left: auto;

            &-wrap {
                @include flex-setting(column, center, center);
                margin-right: toRem(48);
            }

            &-link {
                font-size: toRem(15);
                line-height: toRem(18);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &-btn {
                font-size: toRem(18);
                line-height: toRem(22);
                padding: toRem(15) toRem(22);
            }
        }
    }
}
